<!--
  Generated template for the BillFullAmountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
<!--    <div class="internet-card-container">-->
        <div class="reload-container">
            <div class="phoneNumber">
                <span>Total Bill</span>
            </div>
            <ion-item class="inputItem">
                <ion-input maxlength="20" type="tel" placeholder="RM 3000.0"></ion-input>
            </ion-item>
        </div>
<!--    </div>-->
<!--
    <div class="slider-subtitle">
        please choose a reload amount to move forward
    </div>
-->
    <div class="subtitle">
        Choose Payment method
    </div>
    <div class="internet-card-container-payment-visa">

        <ion-scroll class="internet-card-container payment-container" scrollX="true">
            <div class="internet-card payment  float-left">
                <span class="internet-card-title">
                <ion-icon name="custom-reload-card"></ion-icon>
            </span>
                <span class="internet-card-subtitle">
                <span>Credit Card</span>
                </span>
            </div>
            <div class="internet-card payment float-left">
                <span class="internet-card-title">
                <ion-icon name="custom-reload-online"></ion-icon>
            </span>
                <span class="internet-card-subtitle">
                Online Banking
            </span>
            </div>

          <div class="internet-card payment float-left selected">
                <span class="internet-card-title">
                <ion-icon name="custom-reload-boots-wallet"></ion-icon>
            </span>
            <span class="internet-card-subtitle">
                Boost Wallet
            </span>
          </div>

        </ion-scroll>
        <div class="payment-slider-visa">
            <div>
                <ion-icon name="custom-reload-credit-card"></ion-icon>
                <span>{{selectedCard}}</span>
                <button (click)="presenChangeCreditModal()">
                Edit
              </button>
            </div>
        </div>
    </div>
    <div class="button-container" ion-fixed>
        <button ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
