<!--
  Generated template for the OnBoardingGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <div class="onboarding-celcom">
        <ion-slides pager>
            <ion-slide>

                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">We Had a Makeover</div>
                        <div class="sub-title">Meet your new Celcom Life app</div>
                    </div>

                    <div class="phone-container">
                        <img src="./assets/img/onboarding/calcom/phone-1.png" alt="">
                    </div>

                </div>
                <!-- <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
            <span>Skip</span> -->
                <!--            <div class="arrow-forward-icon"></div>-->
                <!-- </button>
                </ion-buttons> -->
                <!--        <img src="./assets/img/E0_Login_Onboarding1.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">Your Info at a Glance</div>
                        <div class="sub-title small">Check out your account, updates and notifications. Just slide up to see</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-left" src="./assets/img/onboarding/calcom/phone-2.png" alt="">
                    </div>

                </div>
                <!-- <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
            <span>Skip</span> -->
                <!--            <div class="arrow-forward-icon"></div>-->
                <!-- </button>
                </ion-buttons> -->
                <!--        <img src="./assets/img/E0_Login_Onboarding2.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">You’re in Command</div>
                        <div class="sub-title small">Enjoy easy access to your accounts and settings</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-right" src="./assets/img/onboarding/calcom/phone-3.png" alt="">
                    </div>

                </div>
                <!-- <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
            <span>Skip</span> -->
                <!--            <div class="arrow-forward-icon"></div>-->
                <!-- </button>
                </ion-buttons> -->
                <!--        <img src="./assets/img/E0_Login_onboarding3.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">Exclusive Offers</div>
                        <div class="sub-title small">Enjoy MyDeals and other exclusive offers that you deserve</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-right" src="./assets/img/onboarding/calcom/phone-4.png" alt="">
                    </div>

                </div>
                <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
            <span>Done</span>
<!--            <div class="arrow-forward-icon"></div>-->
          </button>
                </ion-buttons>
                <!--        <img src="./assets/img/E0_Login_OTPLogin4.png"/>-->
            </ion-slide>
        </ion-slides>
    </div>

    <div class="onboarding-xpax">
        <ion-slides pager>

            <ion-slide>

                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">We Had a Makeover</div>
                        <div class="sub-title">Meet your new Celcom Life app</div>
                    </div>

                    <div class="phone-container">
                        <img src="./assets/img/onboarding/xpax/phone-1.png" alt="">
                    </div>

                </div>
                <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
<!--            <span>Skip</span>-->
            <!--            <div class="arrow-forward-icon"></div>-->
          </button>
                </ion-buttons>
                <!--        <img src="./assets/img/E0_Login_Onboarding1.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">Your Info at a Glance</div>
                        <div class="sub-title small">Check out your account, updates and notification. Just slide up to see</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-left" src="./assets/img/onboarding/xpax/phone-2.png" alt="">
                    </div>

                </div>
                <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
<!--            <span>Skip</span>-->
            <!--            <div class="arrow-forward-icon"></div>-->
          </button>
                </ion-buttons>
                <!--        <img src="./assets/img/E0_Login_Onboarding2.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">You’re in Command</div>
                        <div class="sub-title small">Enjoy easy access to your accounts and settings</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-right" src="./assets/img/onboarding/xpax/phone-3.png" alt="">
                    </div>

                </div>
                <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
<!--            <span>Skip</span>-->
            <!--            <div class="arrow-forward-icon"></div>-->
          </button>
                </ion-buttons>
                <!--        <img src="./assets/img/E0_Login_onboarding3.png"/>-->
            </ion-slide>
            <ion-slide>
                <div class="OnBoarding-div">

                    <div class="title-container">
                        <div class="title">Exclusive Offers</div>
                        <div class="sub-title small">Enjoy MyDeals and other exclusive offers that you deserve</div>
                    </div>

                    <div class="phone-container">
                        <img class="with-zoom-right" src="./assets/img/onboarding/xpax/phone-4.png" alt="">
                    </div>

                </div>
                <ion-buttons end class="skipActionBtn">
                    <button (click)="skipOnBoarding()">
                        <span>Done</span>
            <!--            <div class="arrow-forward-icon"></div>-->
          </button>
                </ion-buttons>
                <!--        <img src="./assets/img/E0_Login_OTPLogin4.png"/>-->
            </ion-slide>

        </ion-slides>
    </div>
</ion-content>