<!--
  Generated template for the CreditTransferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Transfer to</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="20" type="tel" placeholder="Hint Text Field only if required"></ion-input>
        </ion-item>
        <div class="phoneNumber">
            <span>Amount</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="20" type="tel" placeholder="Hint Text Field only if required"></ion-input>
        </ion-item>
        <div class="clear-fix"></div>
        <div class="service-fees">Service Fee RM 0.50</div>
        <div class="clear-fix"></div>
        <div class="total-bill-cont">
            <div class="total-bill float-left">
                Total Bill
            </div>
            <div class="total-amount float-right">
                RM 2.50
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="button-container">
        <button class="default-button">Call To Action</button>
    </div>
</ion-content>