page-contact-us {
    .content {
        background: #ffffff;
      }
    super-tabs {
        super-tab-button.title-only{
            span {
                text-transform: none;
            }
        }
        super-tab-button.title-only.selected {
          span {
            color: $primary-Color;
            font-weight: bold;
          }
        }
    
      }

}
.XPAX page-contact-us {
super-tab-button.title-only.selected {
  span{
    color: $XPAX-primary-Color;
  }
}
}
