<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <super-tabs>
    <super-tab title="Hotline" [root]="hotlineTab"></super-tab>
    <super-tab title="Social" [root]="socialTab"></super-tab>
  </super-tabs>
</ion-content>
