<!--
  Generated template for the UpgradeLatestPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Plan Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="page-container">
        <div class="calcom-plan">
            <div class="plan-title">Magic SIM™</div>
            <!--Plan Details-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon plan-details-icon"></i>
                    <div class="title">Call Details</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">30 sen/min</span>
                    </div>
                    <div class="row">
                        <span class="float-left">Within network</span>
                        <span class="float-right">30 sen/min</span>
                    </div>

                </div>
            </div>
            <!--AddOns-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon sms-icon"></i>
                    <div class="title">SMS</div>
                    <hr />
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">15 sen/min</span>
                    </div>

                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">50 sen/min</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">50 sen/min</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">50 sen/min</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">50 sen/min</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="call-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right">50 sen/min</span>
                    </div>
                </div>
            </div>
            <div class="termsAndCondContainer">
           <a class="text-center">Plan Terms &amp; Conditions <span class="arrow-forward-icon"></span></a>

        </div>
        </div>

        
        
        <div class="upgradeBtn" ion-fixed>

                <button ion-button class="default-button" (click)="upgrade()">
          Upgrade Available
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>



        </div>
    </div>

</ion-content>