<!--
  Generated template for the ReloadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Reload</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="reload-content">
    <div ion-fixed>
        <ion-grid class="grid-background">
            <ion-row>
                <ion-col col-4>
                    <span class="left-col-title"> Number</span>
                    <div class="dropdown-numbers" (click)="presentPopover($event)">
                        <span class="dropdown-number-title"> {{selected}}</span>
                        <i class="arrow-down-icon"></i>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="vadility-container">
                        <div class="vadility-title">
                            <span>Line Validity</span>
                        </div>
                        <div class="vadility-date">
                            <span>00/00/2017</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="balance-container">
                        <div class="vadility-title">
                            <span>Credit Balance</span>
                        </div>
                        <div class="vadility-date">
                            <span>RM30000.00</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div class="subtitle">

            <div>Choose Reload Method</div>
        </div>
    </div>

    <super-tabs id="internetTab">
        <super-tab [root]="tab1Page" title="Creadit Reload" icon="custom-reload-paynow"></super-tab>
        <super-tab [root]="tab2Page" title="Internet Plans" icon="custom-reload-internet"></super-tab>
        <super-tab [root]="tab3Page" title="Reload Codes" icon="custom-reload-group"></super-tab>
    </super-tabs>


</ion-content>