<!--
  Generated template for the SplashScreen2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <h1>Ooops...</h1>

    <div class="subtitle">
        <span>We can’t seem to recognise your SIM card. Perhaps it’s time to switch to Celcom?</span>
    </div>

    <div class="button-container">
        <button class="default-button explore-btn" (click)="startApp()">Explore Celcom</button>
    </div>

</ion-content>