page-splash-screen2 {
    .content {
        background-image: linear-gradient(136deg, #20D3D3 0%, #199BDB 100%);
        h1 {
            /* Ooops…: */
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 48px;
            padding-left: 7px;
            padding-top: 63%;
            margin-bottom: 12px;
            font-family: $font-familyBold;
        }
    }
    .subtitle {
        /* We can’t seem to rec: */
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px;
        padding-top: 6px;
        padding: 0 10px 0 8px;
    }
    .button-container {
        position: absolute;
        bottom: 22px;
        width: calc(100% - 32px);
        button {
            width: 100%;
            margin: auto;
        }
        .explore-btn {
            height: 45px;
            /* Rectangle 9: */
            border: 2px solid #FFFFFF;
            border-radius: 100px;
            /* Login with OTP: */
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            background: transparent;
        }
    }
}