page-subscriptions {
    .content {
        background-image: url("../assets/img/normal_page_bg.jpg");
        background-size: cover;
        .cap-zone-warining {
            display: none;
        }
        &.isCapZone {
            .cap-zone-warining {
                display: block;
                background: #666;
                .card-header {
                    padding: 0 6px;
                    span {
                        color: #FCBA35;
                        font-family: $font-familyBold;
                        font-size: 16px;
                    }
                }
                .card-content {
                    padding: 0 6px;
                    span {
                        color: #fff;
                        font-size: 12px;
                    }
                }
                .cap-zone-icon {
                    margin: 5px 0 0;
                }
            }
        }
    }
    // .subscriptions-content>.scroll-content {
    //     margin-top: 114px!important;
    // }
    .subscription-title {
        height: 50px;
        width: 100%;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 18px;
        color: #333333;
        background-color: #FFF;
    }
    super-tab-button.title-and-icon.selected {
        ion-icon {
            background: $primary-Color;
        }
        span {
            color: $primary-Color;
        }
    }
    super-tab-button.title-and-icon {
        span {
            font-size: 13px;
        }
    }
    .tab-buttons-container {
        border-bottom: 1px solid #CCC;
        .indicator {
            background: $primary-Color;
        }
    }
    .tab-buttons-container {
        background: #fff;
        .tab-buttons {
            span {
                text-transform: none;
            }
        }
    }
    .slider-subtitle {
        background: #FFF;
        border-bottom: 1px solid #CCC;
        height: 30px;
        padding: 6px 20px 10px 20px;
        font-size: 12px;
        color: #666;
        letter-spacing: 0;
        line-height: 12px;
    }
    .subtitle {
        height: 50px;
        padding: 20px 17px 10px;
        font-size: 18px;
        color: #000;
    }
    .payment {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        height: 120px !important;
    }
    .button-container {
        padding: 0 16px 10px;
        margin-top: 40px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}

.XPAX page-subscriptions {
    .content {
        background-image: url(../assets/img/detailed_usage_card_bg_xpax.png);
        background-size: cover;
    }
    super-tab-button.title-and-icon.selected {
        ion-icon {
            background: $XPAX-primary-Color;
        }
        span {
            color: $XPAX-primary-Color;
        }
    }
    .tab-buttons-container {
        border-bottom: 1px solid #CCC;
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
}