<!--
  Generated template for the SubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Subscriptions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="subscriptions-content" [class.isCapZone]="isCapZone()">
    <div class="cap-zone-warining">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-card-header>
                        <span>CAPZONE</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>Loren Ipsum sit amet, lorem vestibulum</span>
                    </ion-card-content>
                </ion-col>
                <ion-col col-2 class="text-center">
                    <div class="cap-zone-icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="subscription-title">
        Select Subcription Type
    </div>
    <super-tabs #superTab1 id="subscriptionTabs1" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="tab1Page" title="Internet Plans" icon="custom-reload-internet"></super-tab>
        <super-tab [root]="tab2Page" title="Add-Ons" icon="custom-reload-subscription-addons"></super-tab>
        <super-tab [root]="tab3Page" title="IDD" icon="custom-reload-subscription-idd"></super-tab>
        <super-tab [root]="tab4Page" title="Roaming" icon="custom-reload-subscription-roaming"></super-tab>
    </super-tabs>

    <super-tabs #superTab2 id="subscriptionTabs2" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="tab2Page" title="Add-Ons" icon="custom-reload-subscription-addons"></super-tab>
        <super-tab [root]="tab3Page" title="IDD" icon="custom-reload-subscription-idd"></super-tab>
        <super-tab [root]="tab4Page" title="Roaming" icon="custom-reload-subscription-roaming"></super-tab>
    </super-tabs>

    <super-tabs #superTab3 id="subscriptionTabs3" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="tab2Page" title="Add-Ons" icon="custom-reload-subscription-addons"></super-tab>
        <super-tab [root]="tab4Page" title="Roaming" icon="custom-reload-subscription-roaming"></super-tab>
    </super-tabs>
</ion-content>