<!-- Generated template for the ReloadPopoverComponent component -->
<ion-list radio-group [(ngModel)]="selected">
    <!--<ion-list-header>Phone Numbers</ion-list-header>-->
    <ion-item>
        <ion-label>019 123 1234</ion-label>
        <ion-radio value="019 123 1234" (click)="dismiss()"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>019 123 1232</ion-label>
        <ion-radio value="019 123 1232" (click)="dismiss()"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>019 123 1233</ion-label>
        <ion-radio value="019 123 1233" (click)="dismiss()"></ion-radio>
    </ion-item>
</ion-list>
<div class="add-new-button" (click)="presenAddNumberModal()">Add New Number</div>
