reload-popover {
    .list-header {
        text-align: center;
        padding-left: 0px !important;
        text-transform: none;
        font-family: $font-familyBold;
        font-size: 18px;
        color: rgba(51, 51, 51, 0.87);
        letter-spacing: 0;
        line-height: 24px;
    }
    .list {
        margin: 0px 0 0px !important;
        .item {
            font-size: 14px;
            color: #000
        }
        .item:last-child {
            border-bottom: 0!important
        }
    }
    .add-new-button {
        padding: 10px 20px 20px;
        font-size: 14px;
        color: #000
    }
}