<!--
  Generated template for the Content Bloc - DesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Content Block - Design Guide</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!-- Card Example with some content block component -->
  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      <div class="divider"><hr/></div>

    </div>

    <div class="card-footer">
      <div class="supporting-text">
        Content here will be a maximum of 3 lines 16d
        with 90 chars. I repeat, content here will be
        a maximum of 3 lines with 90 chars.
      </div>
    </div>

  </div>

  <!-- Content Bloc -  Primary Title -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Primary Title</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">

      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title single-title">
          <div class="main ">Title Goes Here</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">Subtitle here</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title breaks into two line without subtitle</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>


    </div>

    <div class="card-footer"></div>

  </div>

  <!-- Content Bloc -  Usage Indicator -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Usage Indicator</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="divider"><hr/></div>
      <page-usage-indicator [value]="50" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="true"></page-usage-indicator>

    </div>

    <div class="card-footer"></div>

  </div>

  <!-- Content Bloc -  Display text(Availability & Used) -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Availability & Used</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
          <div>999.9 unit used by others</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
      <div class="availability-and-usage padding-bottom-24">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
          <div>999.9 unit used by others</div>
        </div>
      </div>

    </div>

    <div class="card-footer"></div>

  </div>

  <!-- Content Bloc -  Actions -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Actions</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">
        <div class="content-block-actions">
          <div class="title">
            <div class="title-main float-left">Auto Renew</div>
            <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
          </div>
          <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
        </div>

      <div class="divider"><hr/></div>
        <div class="content-block-actions">
          <div class="title">
            <a class="action-call-more float-left">Call to Action <span class="arrow-forward-icon"></span></a>
          </div>
        </div>

    </div>

    <div class="card-footer"></div>

  </div>

  <!-- Content Bloc -  A Secondary Title -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Secondary Text</h4>
    </div>

    <div class="card-content">

      <div class="secondary-text">
        <img src="../../assets/img/Oval.png">
        <span>Secondary Title Goes Here</span>
      </div>

      <div class="divider"><hr/></div>

      <div class="secondary-text small">
        <span>Usage since 01/10/17 - 30/10/17 </span>
      </div>

      <div class="divider"><hr/></div>
      <div class="secondary-text padding-bottom-4">
        <span>Secondary Title Goes Here</span>
      </div>

    </div>

    <div class="card-footer"></div>
  </div>

  <!-- Content Bloc -  Supporting Text -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Supporting Text</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">
      <div class="supporting-text">
        Content here will be a maximum of 3 lines 16d
        with 90 chars. I repeat, content here will be
        a maximum of 3 lines with 90 chars.
      </div>
      <div class="divider"><hr/></div>
      <div class="supporting-text padding-bottom-24">
        Content here will be a maximum of 3 lines 16d
        with 90 chars. I repeat, content here will be
        a maximum of 3 lines with 90 chars.
      </div>
    </div>

    <div class="card-footer"></div>

  </div>

  <!-- Content Bloc -  Tabular Lists -->
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Tabular Lists</h4>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-content">
      <div class="tabular-list">
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>


      </div>
      <div class="divider"><hr/></div>
      <div class="tabular-list with-total">
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>

        <div class="tabular-list-footer">
          <hr/>
          <span class="float-left">Total List</span>
          <span class="float-right">Total Data Unit</span>
        </div>


      </div>

    </div>

    <div class="card-footer"></div>

  </div>

</ion-content>
