<!--
  Generated template for the RoamingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <!-- <div class="search-box-container">
        <div class="search-box">
            <ion-input type="text" placeholder="Search Country"></ion-input>
        </div>
    </div> -->
    <ion-toolbar>
        <ion-searchbar placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>
    <ion-list>
        <button ion-item (click)="gotoCountrySubscriptions()">Country  
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>Country
            <div class="arrow-forward-icon"></div>
        </button>
    </ion-list>
</ion-content>