page-confirmation-screens {
    .pageContainer {
        height: 100%;
        .pageContent {
            display: block;
            height: calc( 100% - 86px);
            overflow: scroll;
        }
        .text-container1 {
            padding: 12px;
            padding-left: 0px !important;
            span {
                font-family: $font-familyBold;
                font-size: 14px;
                color: #333333;
            }
            .row {
                display: inline-block;
                width: 100%;
                height: 32px;
                span {
                    /* LIST ITEM: */
                    font-family: $font-family;
                    font-size: 14px;
                    color: #333333;
                    line-height: 16px;
                    white-space: normal;
                }
            }
            .row1 {
                font-weight: bold;
            }
            .row2 {
                border-bottom: 1px solid #cccccc;
                .descriptionItem {
                    width: 70%;
                }
                .costItem {
                    width: 30%;
                }
            }
            .row3 {
                padding-top: 12px;
            }
        }
        .text-container2 {
            font-size: 16px;
            font-family: $font-family;
            color: #333333;
            line-height: 20px;
        }
        .rectCollapseCont {
            background-color: rgba(216, 216, 216, 0.15) !important;
            margin-top: 20px;
            padding: 10px 5px 10px 10px;
            i {
                float: right;
                background-color: $primary-Color;
            }
        }
        .rectTitle {
            //        color: #018485;
            font-size: 14px;
            font-family: $font-family;
            display: inline-block;
            font-weight: bold;
        }
        .spanTextB {
            font-family: $font-familyBold;
        }
        .terms-container {
            padding: 10px 0;
            text-align: center;
            .arrow-forward-icon {
                margin-left: 5px;
                background-color: $primary-Color;
                width: 7px;
                height: 11px;
            }
            .terms_cond {
                display: inline-flex;
                width: 60%;
                margin: 0 20%;
                color: #333;
                font-size: 12px;
                .checkbox {
                    margin: 8px 10px 8px 2px !important;
                    border-color: #009ade;
                    .checkbox-icon {
                        border-radius: 3%;
                        border-color: rgba(1, 1, 1, 0.54);
                        width: 17px;
                        height: 17px;
                    }
                }
                .item-cover {
                    width: 12%;
                }
                .item-inner {
                    border-bottom: none !important;
                    a {
                        color: #009ADE;
                    }
                }
            }
            .checkbox-ios .checkbox-checked .checkbox-inner {
                left: 4.3px;
                top: 0px;
                width: 7px;
                height: 13px;
                border-width: 2px;
                border-top-width: 0;
                border-left-width: 0;
            }
            ion-label {
                white-space: normal;
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
                line-height: 16px;
                a {
                    padding: 0px;
                }
            }
            a {
                width: 100%;
                display: inline-block;
                font-family: $font-familyBold;
                font-size: 14px;
                color: $primary-Color;
                line-height: 14px;
                padding: 10px 0 5px;
                i {
                    width: 13px;
                    height: 10px;
                    background-color: $primary-Color;
                }
            }
            .accept-terms {
                width: auto !important;
            }
        }
        .confirmBtn {
            position: fixed;
            padding: 10px 0;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);
            button {
                width: 90%;
                margin: 0 auto;
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 18px;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
                border-radius: 100px;
                outline: none !important;
                margin-top: 5px !important;
            }
        }
    }
}

.XPAX {
    .rectCollapseCont {
        i {
            background-color: $XPAX-primary-Color !important;
        }
    }
}