<!--
  Generated template for the ConfirmationScreensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>Confirmation</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="pageContainer">
        <div class="pageContent">

            <h3 class="">Confirm your Purchase</h3>

            <div class="text-container1">
                <div class="row">
                    <span class="float-left">Buy with</span>
                    <span class="float-right">019-999-9999</span>
                </div>

                <div class="row">
                    <span class="float-left">Gift to</span>
                    <span class="float-right">018-888-8888</span>
                </div>

            </div>

            <div class="text-container2">Requesting: RM79 for 15GB Monthly. Your message: “Thank you very much please send the gift ASAP.”</div>

            <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
                <div class="rectTitle">Deduction Next Month : RM 100.00</div>
                <!-- <img class="float-right imgShape" src="./assets/img/Shape-down.png"> -->
                <i class="arrow-down-icon"></i>
            </div>

            <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
                <div class="rectTitle">Deduction Next Month : RM 100.00</div>
                <!-- <img class="float-right imgShape" src="./assets/img/Shape-up.png"> -->
                <i class="arrow-up-icon"></i>

                <div class="text-container1">
                    <div class="row row1">
                        <span class="float-left">Items</span>
                        <span class="float-right">Credit</span>
                    </div>

                    <div class="row row2">
                        <span class="float-left descriptionItem">Transaction fee Transaction fee Transaction fee</span>
                        <span class="float-right costItem">RM 10000.00</span>
                    </div>

                    <div class="row row3">
                        <span class="float-left">Total</span>
                        <span class="float-right">RM 10000.00</span>
                    </div>
                    <div class="row row2">
                        <span class="float-left descriptionItem">Transaction fee Transaction fee Transaction fee</span>
                        <span class="float-right costItem">RM 10000.00</span>
                    </div>

                    <div class="row row3">
                        <span class="float-left">Total</span>
                        <span class="float-right">RM 10000.00</span>
                    </div>
                </div>

            </div>

            <div class="text-container1">Deduct with Credit at next reload</div>
            <div class="row">
                <span class="float-left spanTextB">New credit balance</span>
                <span class="float-right spanTextB">RM 10.00</span>
            </div>


            <div hidden class="terms-container">
                <a>Additional Link, depends on flow <i class="arrow-forward-icon"></i> </a>
            </div>

            <div class="terms-container">
                <div class="text text-center">I agree to the <a class="accept-terms">Terms & Conditions</a> if I click confirm
                </div>
            </div>

            <div hidden class="terms-container">
                <div class="terms_cond">
                    <ion-checkbox type="checkbox"></ion-checkbox>
                    <ion-label><a>Terms and Conditions <i class="arrow-forward-icon"></i> </a></ion-label>
                </div>
            </div>


            <div ion-fixed class="confirmBtn">



                <button ion-button class="default-button" (click)="presentsucess()">
      Confirm
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>

            </div>
        </div>

    </div>

</ion-content>