<!--
  Generated template for the StyleGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>Style Guide</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>



    <h1>default Button</h1>
    <br/>

    <button ion-button class="default-button">
    Buy More
    <i class="XPAX-Right-Bubble"></i>
    <i class="XPAX-Left-Bubble"></i>
  </button>


    <br/><br/>
    <div class="XPAX">

        <button ion-button class="default-button">
      Buy More
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>

    </div>
    <br/>
    <div class="code-div">
        <![CDATA[

  <button ion-button class="default-button">
    Buy More
    <i class="XPAX-Right-Bubble"></i>
    <i class="XPAX-Left-Bubble"></i>
  </button>

  ]]>
    </div>
    <h1>toggle Button</h1>
    <br/>

    <ion-toggle checked="true" class="default-toggle"></ion-toggle>

    <br/><br/>
    <div class="XPAX">
        <ion-toggle checked="true" class="default-toggle"></ion-toggle>
    </div>
    <br/>
    <div class="code-div">
        <![CDATA[

  <ion-toggle checked="true" class="default-toggle"></ion-toggle>

  ]]>
    </div>
    <h1>Progress Bar</h1>
    <page-usage-indicator [value]="60"></page-usage-indicator>

    <br/>
    <div class="XPAX">
        <page-usage-indicator [value]="60"></page-usage-indicator>
    </div>
    <div class="code-div">
        <![CDATA[

  <page-usage-indicator [value]="60"></page-usage-indicator>

  ]]>
    </div>
    <br/>
    <small class="ion-warning">value accepts [0 - 100]</small>

    <h1>success Message</h1>
    <button ion-button on-click="presentsucess()">success Message</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="presentsucess()">success Message</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  presentsucess(){
    const alert = this.alertCtrl.create({
      title: 'Success Title',
      subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
     message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
      buttons: [
      {
        text: 'Call to Action',
        cssClass:'submit-button ',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      },
      {
        text: 'Call to Action',
        cssClass:'submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      }],
      cssClass: 'success-message'
    });
    alert.present();
  }
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>

    <h1>success Message One Button</h1>
    <button ion-button on-click="presentOneButtonSuccess()">success Message One Button</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="presentOneButtonSuccess()">success Message</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  presentOneButtonSuccess() {
    const alert = this.alertCtrl.create({
      title: 'Success Title',
      subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
     message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
     buttons: [

      {
        text: 'Call to Action',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      }],
      cssClass: 'success-message'
    });
    alert.present();
  }
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>

    <h1>success Message with 3 buttons</h1>
    <button ion-button on-click="present3ButtonSuccess()">success Message 3 button</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="present3ButtonSuccess()">success Message 3 button</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  present3ButtonSuccess() {
    const alert = this.alertCtrl.create({
      title: 'Success Title 3 buttons',
      subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
     message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
     cssClass: 'success-message alert-3btn',
     buttons: [

      {
        text: 'Call to Action1',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      },
      {
        text: 'Call to Action2',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      },
      {
        text: 'Call to Action3',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      }

    ]
    });
    alert.present();
  }
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>

    <h1>Error Message</h1>
    <button ion-button on-click="presentAlert()">Error Message</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="presentAlert()">Alert</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  const alert = this.alertCtrl.create({
    title: 'Error Title',
    subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
   message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
   buttons: [
    {
      text: 'Call to Action',
      cssClass:'submit-button',
      handler: () => {
        console.log('Call to Action Clicked');
      }

    },
    {
      text: 'Call to Action',
      cssClass:'submit-button',
      handler: () => {
        console.log('Call to Action Clicked');
      }

    }],
    cssClass: 'success-message error-message'
  });
  alert.present();
}
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>

    <h1>Error Message One Button</h1>
    <button ion-button on-click="presentOneButtonAlert()">Error Message One Button</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="presentOneButtonAlert()">Alert</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  presentOneButtonAlert() {
    const alert = this.alertCtrl.create({
      title: 'Error Title',
      subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
     message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
     buttons: [

      {
        text: 'Call to Action',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      }],
      cssClass: 'success-message error-message'
    });
    alert.present();
  }
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>

    <h1>Error Message 3 Button</h1>
    <button ion-button on-click="present3ButtonAlert()">Error Message 3 Button</button>
    <h5>HTML</h5>
    <![CDATA[
  <button ion-button on-click="present3ButtonAlert()">Alert</button>
  ]]>
    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
  import { AlertController } from 'ionic-angular';

  constructor( public alertCtrl: AlertController) {
  }

  present3ButtonAlert() {
    const alert = this.alertCtrl.create({
      title: 'Success Title 3 buttons',
      subTitle: 'Lorem ipsum dolor sit amet,sed consectetur adipisicing elit ',
     message:"do eiusmod tempor incididunt ut lab ore et dolore magna aliqua",
     cssClass: 'success-message error-message alert-3btn',
     buttons: [

      {
        text: 'Call to Action1',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      },
      {
        text: 'Call to Action2',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      },
      {
        text: 'Call to Action3',
        cssClass:'error-button-float-right submit-button',
        handler: () => {
          console.log('Call to Action Clicked');
        }

      }

    ]
    });
    alert.present();
  }
  ]]>
    </div>
    https://ionicframework.com/docs/api/components/alert/AlertController/

    <h5>Docs</h5>

    <a target="_blank" href="https://ionicframework.com/docs/api/components/alert/AlertController/">
    https://ionicframework.com/docs/api/components/alert/AlertController/</a>


    <h1> Validation Error </h1>

    <div class="validation-error">
        The information provided is incorrect
    </div>
    <div class="code-div">
        <![CDATA[
      <div class="validation-error">
          The information provided is incorrect
      </div>
      ]]>
    </div>





    <h1>left dropdown</h1>
    <div class="dropdown-numbers">
        <ion-item>
            <ion-select interface="popover" [selectOptions]="selectOptions" placeholder="Phone Numbers">
                <ion-option selected value="0">+60 01966 73850</ion-option>
                <ion-option value="1">+60 01966 73851</ion-option>
                <ion-option value="2">+60 01966 73852</ion-option>

            </ion-select>
        </ion-item>
        <i class="arrow-down-icon"></i>
    </div>

    <h5>HTML</h5>
    <![CDATA[
    <div class="dropdown-numbers">
      <ion-item>
          <ion-select interface="popover" [selectOptions]="selectOptions" placeholder="Phone Numbers">
              <ion-option selected value="0">+60 01966 73850</ion-option>
              <ion-option value="1">+60 01966 73851</ion-option>
              <ion-option value="2">+60 01966 73852</ion-option>

          </ion-select>
      </ion-item>
      <i class="arrow-down-icon"></i>
  </div>
  ]]>

    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
        this.selectOptions = {
          title: 'Phone Numbers',
          mode: 'ios',
          cssClass: this.globalVar.getCurrentTheme() + ' left-popover'
        };
  ]]>
    </div>

    <h1>Center dropdown</h1>
    <div class="dropdown-numbers">
        <ion-item>
            <ion-select interface="popover" [selectOptions]="centerSelectOptions" placeholder="Phone Numbers">
                <ion-option selected value="0">+60 01966 73850</ion-option>
                <ion-option value="1">+60 01966 73851</ion-option>
                <ion-option value="2">+60 01966 73852</ion-option>

            </ion-select>
        </ion-item>
        <i class="arrow-down-icon"></i>
    </div>

    <h5>HTML</h5>
    <![CDATA[
    <div class="dropdown-numbers">
      <ion-item>
          <ion-select interface="popover" [selectOptions]="centerSelectOptions" placeholder="Phone Numbers">
              <ion-option selected value="0">+60 01966 73850</ion-option>
              <ion-option value="1">+60 01966 73851</ion-option>
              <ion-option value="2">+60 01966 73852</ion-option>

          </ion-select>
      </ion-item>
      <i class="arrow-down-icon"></i>
  </div>
  ]]>

    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
        this.centerSelectOptions = {
          title: 'Phone Numbers',
          mode: 'ios',
          cssClass: this.globalVar.getCurrentTheme() + ' center-popover'
        };
  ]]>
    </div>

    <h1>Right dropdown</h1>
    <div class="dropdown-numbers">
        <ion-item>
            <ion-select interface="popover" [selectOptions]="rightSelectOptions" placeholder="Phone Numbers">
                <ion-option selected value="0">+60 01966 73850</ion-option>
                <ion-option value="1">+60 01966 73851</ion-option>
                <ion-option value="2">+60 01966 73852</ion-option>

            </ion-select>
        </ion-item>
        <i class="arrow-down-icon"></i>
    </div>

    <h5>HTML</h5>
    <![CDATA[
    <div class="dropdown-numbers">
      <ion-item>
          <ion-select interface="popover" [selectOptions]="rightSelectOptions" placeholder="Phone Numbers">
              <ion-option selected value="0">+60 01966 73850</ion-option>
              <ion-option value="1">+60 01966 73851</ion-option>
              <ion-option value="2">+60 01966 73852</ion-option>

          </ion-select>
      </ion-item>
      <i class="arrow-down-icon"></i>
  </div>
  ]]>

    <h5>TS</h5>
    <div class="code-div">
        <![CDATA[
        this.rightSelectOptions = {
          title: 'Phone Numbers',
          mode: 'ios',
          cssClass: this.globalVar.getCurrentTheme() + ' right-popover'
        };
  ]]>
    </div>



  <h1>New popup</h1>
  <button ion-button (click)="openPopup()" >Toggel popup</button>
  <button ion-button (click)="getSelectedValueFromPopup()">Popup selected value</button>

    <ion-item hidden>
      <ion-label>Numbers</ion-label>
      <ion-select #popup [(ngModel)]="num" submitText="Okay" cancelText="Cancel">
        <ion-option value="1">+60 01966 73851</ion-option>
        <ion-option value="2">+60 01966 73851</ion-option>
        <ion-option value="3">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
      </ion-select>
    </ion-item>

  <h5>HTML</h5>

  <div class="code-div">

  <![CDATA[
    <ion-item hidden>
      <ion-label>Numbers</ion-label>
      <ion-select #popup [(ngModel)]="num" submitText="Okay" cancelText="Cancel">
        <ion-option value="1">+60 01966 73851</ion-option>
        <ion-option value="2">+60 01966 73851</ion-option>
        <ion-option value="3">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
        <ion-option value="4">+60 01966 73851</ion-option>
      </ion-select>
    </ion-item>
  ]]>

  </div>

  <h1>Rang Custom Component</h1>

  <components-custom-rang  [usageValue]="usageValue"   [(allocatedValue)]="allocatedValue" class="gb-slider-bar" min="0" max="100"  color="secondary" pin="true"></components-custom-rang>

  <h5>HTML</h5>
  <div class="code-div">

  <![CDATA[
    <components-custom-rang  [usageValue]="usageValue"   [(allocatedValue)]="allocatedValue" class="gb-slider-bar" min="0" max="100"  color="secondary" pin="true"></components-custom-rang>
  ]]>
  </div>

  <button (click)="testCustomRang()" ion-button >Show Allocated Value</button>

</ion-content>
