<ion-header>
    <div #itemId class="notification-button-cont">
        <button class="notification-button">
            <ion-badge class="float-left">2</ion-badge>
            <span class="float-left">Notifications</span>
            <i #arrowIcon class="up-icon"></i>
        </button>
    </div>
</ion-header>
<ion-content>
    <!-- <super-tabs> -->
    <!-- <super-tab [root]="tab1Page" icon="custom-notification-sms-icon"></super-tab>
        <super-tab [root]="tab2Page" icon="custom-notification-price-tag-icon"></super-tab>
        <super-tab [root]="tab3Page" icon="custom-notification-center-direction-icon"></super-tab>
        <super-tab [root]="tab4Page" icon="custom-notification-contoller-icon"></super-tab> -->

    <!-- <super-tab [root]="tab1Page" title="Notifications"></super-tab>
        <super-tab [root]="tab2Page" title="Exclusives"></super-tab> -->
    <!-- <super-tab [root]="tab3Page" title="Others"></super-tab> -->
    <!-- <super-tab [root]="tab4Page" [title]="custom-notification-contoller-icon"></super-tab> -->
    <!-- </super-tabs> -->
    <page-notification-tab1> </page-notification-tab1>
    <ng-content>
    </ng-content>
</ion-content>