        page-add-friend {
            .add-number-container {
                position: relative;
                margin-top: 25px;
                .add-number-title {
                    padding-left: 23px;
                    span {
                        font-size: 20px;
                        color: #333333;
                        line-height: 20px;
                    }
                }
                .inputItem {
                    padding-left: 23px;
                    padding-right: 23px;
                    .item-inner {
                        border-bottom: 0.55px solid #999;
                    }
                }
                .add-number-icon {
                    background-color: $primary-Color;
                    display: inline-block;
                    position: absolute;
                    right: 35px;
                    top: 35px;
                }
            }
            .button-container {
                position: fixed;
                bottom: 0px;
                padding: 0 16px 10px 16px;
                margin-top: 60px;
                width: 100%;
                button {
                    width: 100%;
                }
                
                .outline_add_friend_btn {
                    border-color: $primary-Color;
                    color: $primary-Color;
                    border-width: 1.4px;
                    margin-bottom: 10px;
                    background-color: #ffffff !important;
                    .button-inner {
                        font-family: $font-familyBold;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 18px;
                    }
                }
            }
        }
        
        .XPAX {
            .add-number-icon {
                background-color: $XPAX-primary-Color !important;
            }
            .button-container {
                
                .outline_add_friend_btn {
                    border-color: $XPAX-primary-Color;
                    color: $XPAX-primary-Color;
                    border-width: 1.4px;
                    margin-bottom: 10px;
                    &.default-button{
                        background-color: #fff;
                            background-image: none !important;
                    
                    }
                    
                    .button-inner {
                        font-family: $font-familyBold;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 18px;
                    }
                }
            }
        }