<!--
  Generated template for the AddFriendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Add a Friend</ion-title>
    </ion-navbar>

</ion-header>



<ion-content>

    <div class="add-number-container">
        <div class="add-number-title">
            <span>Friend’s Name</span>
        </div>
        <ion-item class="inputItem">
            <ion-input type="text" placeholder="John Doe"></ion-input>
        </ion-item>
    </div>

    <div class="add-number-container">
        <div class="add-number-title">
            <span>Friend’s Number</span>
        </div>
        <ion-item class="inputItem">
            <ion-input [disabled]='disabled' maxlength="12" type="tel" placeholder="99999999999"></ion-input>
        </ion-item>
        <i class="add-number-icon"></i>
    </div>

    <div ion-fixed class="button-container">
        <button [hidden]='!disabled' class=" default-button outline_add_friend_btn" ion-button outline round>Delete</button>
        <button ion-button class="default-button" (click)="goToKAWKAW()">
        Add this Friend
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>