<!--
  Generated template for the SubInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="subtitle">
        Internet Plans
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card super has-badge float-left" (click)="goToDetailsPage()">
            <div class="badge">
                <span>50% More Data</span>
            </div>
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-des">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card super has-badge float-left" (click)="goToDetailsPage()">
            <div class="badge">
                <span>50% More Data</span>
            </div>
            <span class="internet-card-title">
              Monthly 10 MB
          </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
            <span class="internet-card-des">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card super float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-des">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card super float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-des">
              Valid for 28 Days
          </span>
        </div>
    </ion-scroll>




</ion-content>