<!--
  Generated template for the CountrySubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="button-container">
        <button ion-button class="custom-button" (click)="pushBack()">Choose another Country</button>
    </div>
    <div class="subtitle">
        Thailand
    </div>
    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card has-badge float-left" (click)="goToDetailsPage()">
            <div class="badge">
                <span>50% More Data</span>
            </div>
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-title">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card has-badge float-left" (click)="goToDetailsPage()">
            <div class="badge">
                <span>50% More Data</span>
            </div>
            <span class="internet-card-title">
              Monthly 10 MB
          </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
            <span class="internet-card-title">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-title">
              Valid for 28 Days
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
            <span class="internet-card-title">
              Valid for 28 Days
          </span>
        </div>
    </ion-scroll>
    <div class="info">
        Please choose a reload amount to move foward
    </div>

</ion-content>