page-device-self-help {
  .full-width-select {
    width: 100%;
    max-width: 100%;
  }
  .button-round {
    width: 90%;
  }
  .card-size {
    // position: absolute;
    width: 90%;
    height: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .img-size {
    width: 100%;
    height: 100%;
  }
  .grid-border {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gainsboro;
  }
}
