<!--
  Generated template for the DeviceSelfHelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Device Self Help</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <!-- <ion-toolbar>
        <ion-searchbar placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>
    <ion-list>
        <ion-item>
            <ion-select interface="popover" placeholder="Select Brand" class="full-width-select">
                <ion-option value="nes">Brand 1</ion-option>
                <ion-option value="n64">Brand 2</ion-option>
                <ion-option value="ps">Brand 3</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select interface="popover" placeholder="Select Model" class="full-width-select">
                <ion-option value="nes">Model 1</ion-option>
                <ion-option value="n64">Model 2</ion-option>
                <ion-option value="ps">Model 3</ion-option>
            </ion-select>
        </ion-item>
        <ion-item-group>
            <ion-item-divider style="font-weight: bold;">Last Visted</ion-item-divider>
            <ion-grid class="grid-border">
                <ion-row>
                    <ion-col col-6>
                        <ion-card class="card-size">
                            <img class="img-size" src="https://wallpaperbrowse.com/media/images/summer_mountains_nature_lake_river_grass_93164_2560x1080.jpg">
                        </ion-card>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button round outline class="button-round">Quick tutorial</button>
                        <button ion-button round outline class="button-round">troubleshooting</button>
                        <button ion-button round outline class="button-round">About my Device</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item-divider style="font-weight: bold;">Top Models</ion-item-divider>
            <ion-grid class="grid-border">
                <ion-row>
                    <ion-col col-6>
                        <ion-card class="card-size">
                            <img class="img-size" src="https://wallpaperbrowse.com/media/images/summer_mountains_nature_lake_river_grass_93164_2560x1080.jpg">
                        </ion-card>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button round outline class="button-round">Quick tutorial</button>
                        <button ion-button round outline class="button-round">troubleshooting</button>
                        <button ion-button round outline class="button-round">About my Device</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid class="grid-border">
                <ion-row>
                    <ion-col col-6>
                        <ion-card class="card-size">
                            <img class="img-size" src="https://wallpaperbrowse.com/media/images/summer_mountains_nature_lake_river_grass_93164_2560x1080.jpg">
                        </ion-card>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button round outline class="button-round">Quick tutorial</button>
                        <button ion-button round outline class="button-round">troubleshooting</button>
                        <button ion-button round outline class="button-round">About my Device</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-group>

    </ion-list> -->


    <!-- <ion-item-group>
      <ion-item-divider color="light">A</ion-item-divider>
      <ion-item>Angola</ion-item>
      <ion-item>Argentina</ion-item>
  </ion-item-group> -->
</ion-content>