<!--
  Generated template for the PrivilegesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Priviledges</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <button (click)="goToRewards()" ion-item>
      Manage / Redeem Rewards
      <div class="arrow-forward-icon"></div>
    </button>
        <button (click)="goToRelaodBonusPage()" ion-item>
      Redeem Reload Bonus
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item>
      Promotional Campaign
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item (click)="goToPrivilegePage()">
      First Life style
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item>
      Celcom Rewards
      <div class="arrow-forward-icon"></div>
    </button>
    </ion-list>
</ion-content>
