page-faq {
  .item-inner {
        background-image: none !important;
        padding-right: 10px !important;
        border-bottom: 1px solid #c8c7cc !important;
      
    .arrow-forward-icon {
      background-color: #009ADE;
      width: 14px !important;
      height: 14px !important;
      float: right;
    }
  }
}

.XPAX {
  .item-inner {
    .arrow-forward-icon {
      background-color: #D1209B;
    }
  }

}
