<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>FAQ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
    <button ion-item (click)="goToFaqCategory()">
      The Category Title Goes Here
      <div class="arrow-forward-icon"></div>
    </button>
  </ion-list>
</ion-content>
