<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Services</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="optionsTitle">Shop</div>

    <ion-list class="default-list-item">
        <button ion-item (click)="goToOleOle()">
      Ole Ole
       <div class="arrow-forward-icon"></div>
    </button >
        <button ion-item >
      E-Store
       <div class="arrow-forward-icon"></div>
    </button>
    </ion-list>


    <div class="optionsTitle">Self Services</div>

    <ion-list class="default-list-item">
        <button ion-item (click)="goToAutoBilling()">
            Auto Billing
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(1)">
            Validity Extension
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(0)">
        Credit Transfer
        <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToCreditManage(2)">
        Credit Advance
        <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item>
            Manage Credit Limit (Postpaid)
            <div class="arrow-forward-icon"></div>
        </button>
        <button ion-item (click)="goToLatestPlan()">
            Upgrade to latest plan
            <div class="arrow-forward-icon"></div>
        </button>

        <button ion-item (click)="goToSimReplacement()">
            SIM Replacement
            <div class="arrow-forward-icon"></div>
        </button>
    </ion-list>

</ion-content>
