<!--
  Generated template for the StoreLocatorStoreFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>

  <div class="dismiss-btn">
    <button (click)="dismiss()"><i class="close-icon"></i></button>
  </div>

  <div class="content-title">Store type</div>

  <ion-list no-lines>
    <ion-item>
      <ion-label>Store type 1</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Store type 2</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Store type 3</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>


  </ion-list>


  <hr/>


  <div class="content-title">Service type</div>


  <ion-list no-lines>
    <ion-item>
      <ion-label>Registration / Switch to Celcom</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bill Plan Upgrade</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Device & Accessories</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Manage Account & Services</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>24 hours Self Service Kiosk</ion-label>
      <ion-checkbox item-end></ion-checkbox>
    </ion-item>
  </ion-list>


  <div class="button-container">
    <button ion-button class="custom-button">Reset Filter</button>


    <button ion-button class="default-button" (click)="dismiss()">
      Filter
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
