<!--
  Generated template for the ValidityExtensionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Number of days to Extend Validity</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="20" type="tel" placeholder="0"></ion-input>
        </ion-item>
        <div class="clear-fix"></div>
        <div class="service-fees">RM 1.00 per day (With RM3, your max is 3 days)</div>
        <div class="clear-fix"></div>
        <div class="total-bill-cont">
            <div class="total-bill float-left">
                Total Bill
            </div>
            <div class="total-amount float-right">
                RM 1.00
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="button-container">
        <span class="text-center">All charges are inclusive 6% GST</span>
        <button class="default-button">Call To Action</button>
    </div>
</ion-content>