page-kawkaw-squad {

  .kawkaw-container {
    height: 100%;
    .kawkaw-Content{
      display: block;
      overflow: scroll;
      height: calc(100% - 70px);
    }

    .kawkaw-header-background {
      background: #F3F3F3;
    }
    .kawkaw-header {
      .kawkaw-logo {
        padding: 32px 16px 16px  16px;

        i {
          background-color: $XPAX-primary-Color;
          height: 64px;
          width: 64px;
        }
      }
      .kawkaw-desc {
        font-size: 16px;
        color: #333333;
        text-align: center;
        line-height: 20px;

        padding: 0px 16px 32px;
      }
    }

    .kawkaw-memebers {
      background-color: #fff;

      padding: 0px 0 50px 16px;
      .kawkaw-member {

        padding: 16px 16px 16px 0px;
        border-bottom: solid 1px #CCCCCC;

        .member-name {
          display: inline-block;
          font-size: 18px;
          color: #333333;
          text-align: left;
          line-height: 20px;
          vertical-align: middle;

        }

        .member-number {
          display: inline-block;
          font-size: 14px;
          color: #999999;
          text-align: left;
          margin-left:10px;
          vertical-align: middle;
        }
        ion-badge {
          display: inline-block;
          background: #D1209B;
          font-size: 12px;
          color: #FFFFFF;
          font-family: $font-family;
          width: 49px;
          height: 24px;
          margin-left: 10px;
          border-radius: 100px;
          padding: 5px 13px;

        }

        .add-friend {
          display: inline-block;
          float: right;
          font-family: $font-familyBold;
          font-size: 14px;
          color: #D1209B;
          text-align: center;
          margin-top: 3px;

        }
      }
    }

  }

  .kawkaw-notes {
    padding: 0 10px;

    position: fixed;
    bottom: 0px;
    background-color: #fff;

    p {
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;
    }
  }

}
