<!--
  Generated template for the KawkawSquadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menu-toggle-btn">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>KAWKAW Squad Members</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="kawkaw-container">
    <div class="kawkaw-Content">
      <div class="kawkaw-header-background">
        <div [hidden]="hideHeader" class="kawkaw-header">
          <div class="kawkaw-logo text-center">
            <i class="icon_happy-face "></i>
          </div>
          <div class="kawkaw-desc">
            You have not added any friends into your list of KAWKAW Squad Members yet. Why not add a friend now to enjoy the benefits of having free calls with this friend? You can add up to 5 friends for free the first time around :)
          </div>
        </div>
      </div>
    <div class="kawkaw-memebers">
      <div [hidden]="!hideHeader" class="kawkaw-member">
        <div class="member-name">Amy Borana</div>
        <div class="member-number">0199999999</div>
        <div class="add-friend">
          <a (click)="editFriend()">Edit</a>
        </div>
      </div>

      <div class="kawkaw-member">
        <div class="member-name">KAWKAW Slot 1</div>
        <ion-badge >Free</ion-badge>

        <div class="add-friend">
          <a (click)="addFriend()" >Add Friend</a>
        </div>
      </div>
      <div class="kawkaw-member">
        <div class="member-name">KAWKAW Slot 1</div>
        <ion-badge >Free</ion-badge>

        <div class="add-friend">
          <a (click)="addFriend()" >Add Friend</a>
        </div>
      </div>
      <div class="kawkaw-member">
        <div class="member-name">KAWKAW Slot 1</div>
        <ion-badge >Free</ion-badge>

        <div class="add-friend">
          <a (click)="addFriend()" >Add Friend</a>
        </div>
      </div>
      <div class="kawkaw-member">
        <div class="member-name">KAWKAW Slot 1</div>
        <ion-badge >Free</ion-badge>

        <div class="add-friend">
          <a (click)="addFriend()" >Add Friend</a>
        </div>
      </div>
    </div>
      <div ion-fixed class="kawkaw-notes">
        <p>
          Note that adding friends is free for the first time around,
          the next time you add friends it will cost RM1.
        </p>
      </div>
  </div>
  </div>



</ion-content>
