<!--
  Generated template for the first-style-select-type-page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>First Privileges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="header-title">
    Select the Type of Privilege
  </div>

  <div class="privilege-card">
    <div class="privilege-card-desc">
      <p>Selecting this option lets you enjoy this privilege only once during your 12-months contract.</p>
    </div>
    <div class="call-to-action" (click)="openOneOffPage()">
      Call to Action <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center selected">
      <i class=" present-icon"></i>
      <div>One off Privilege</div>
    </div>
  </div>
  <div class="privilege-card">
    <div class="privilege-card-desc">
      <p>Selecting this option lets you enjoy this privilege only once during your 12-months contract.</p>
    </div>
    <div class="call-to-action">
      Call to Action <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center">
      <i class=" calendar-icon "></i>
      <div>One off Privilege</div>
    </div>
  </div>
  <div class="privilege-card">
    <div class="privilege-card-desc">
      <p>Selecting this option lets you enjoy this privilege only once during your 12-months contract.</p>
    </div>
    <div class="call-to-action">
      Call to Action <i class="arrow-forward-icon"></i>
    </div>

    <div class="present-button text-center">
      <i class=" calendar-icon "></i>
      <div>One off Privilege</div>
    </div>
  </div>


  <div class="button-container" ion-fixed>
    <button ion-button class="default-button">
      Proceed
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>
</ion-content>
