<!--
  Generated template for the StoreLocatorSelectStorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Store Locator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>



  <div class="page-container">

    <div class="select-region">
      <ion-select interface="popover" placeholder="Select Region" class="full-width-select">
        <ion-option selected value="Central_Malaysia">Central Malaysia</ion-option>
        <ion-option value="Region2">Region 2</ion-option>
        <ion-option value="Region3">Region 3</ion-option>
        <ion-option value="Region4">Region 4</ion-option>
        <ion-option value="Region5">Region 5</ion-option>
      </ion-select>
    </div>


    <ion-list no-lines>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>
      <button ion-item (click)="openStoreDetail()">Store Name <i item-end class="arrow-forward-icon"></i></button>


    </ion-list>


  </div>

  <div class="button-container">
    <button ion-button class="custom-button" (click)="openStoreLocatorFilterModal()" >Filter</button>


  </div>

</ion-content>
