<!--
  Generated template for the TransactionHistoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="title-container">
      <span>Pay Bill</span>
    </div>

    <div class="sub-title-container">
      <span>Bill Payment For MM/DD/YYY</span>
    </div>

    <div class="transaction-table-details">
      <div class="row">
        <span class="float-left" >Transaction Date</span>
        <span class="float-right">MM/DD/YYYY</span>
      </div>

      <div class="row">
        <span class="float-left" >Mobile Number</span>
        <span class="float-right">018-888-888</span>
      </div>

      <div class="row">
        <span class="float-left" >Account Number</span>
        <span class="float-right">098765432</span>
      </div>

      <div class="row">
        <span class="float-left" >Invoice ID</span>
        <span class="float-right">098765432</span>
      </div>
    </div>

    <div class="transaction-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="transaction-details-items-container">

      <div class="item">
        <span class="float-left" >Amount due as of DD/MM/YY</span>
        <span class="float-right">RM 3000.00</span>
      </div>

      <div class="item">
        <span class="float-left" >Payment received as of DD/MM/YY</span>
        <span class="float-right">RM 3000.00</span>
      </div>
      <hr/>
      <div class="item total">
        <span class="float-left" >Surplus</span>
        <span class="float-right">RM 3000.00</span>
      </div>
    </div>

  <div class="deduct-from-credit-container">
      <div class="deduct-from-credit">Deducted via credit card</div>
      <div class="credit">xxxx 1234</div>
    </div>

  <div class="detailed-bill-statement text-center">
    <span>Detailed Bill Statement</span>
    <i class="arrow-forward-icon"></i>
  </div>

</ion-content>
