components-custom-rang {

  padding-top: 20px;
  padding-bottom: 18px;
  [range-right] {
    margin: 0px 0 0 18px;
  }
  [range-left] {
    margin: 0 18px 0 0;
  }
  .range-bar {
    display: block;
    height: 12px !important;
    background: #E6E6E6;
    margin-bottom: 0px;
    margin-top: 0px;
    background: #E6E6E6;
    -webkit-box-shadow: inset -1px 2px 3px 0 rgba(204, 204, 204, 0.6);
    box-shadow: inset -1px 2px 3px 0 rgba(204, 204, 204, 0.6);
    border-radius: 100px 100px 100px 100px !important;
    top: 15px;
  }
  .range-bar-active {
    display: block;
    height: 12px;
    background-image: linear-gradient(-90deg, rgb(0, 158, 253) 0%, rgb(20, 206, 177) 100%) !important;
    border-radius: 100px;
    transition: width 2s;
    top: 15px;
  }
  .gb-slider-label {
    /* 999.0 GB: */
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    line-height: 12px;
  }
  .range-slider {
    .bar-2 {
      background-color: red;
    }

    .range-knob-handle {
      top: 26px !important;
      .range-knob {
        /* Oval: */
        background: #FFFEFC !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30) !important;
        border: 0.3px solid #CDCDCD !important;
      }
      .range-pin {
        font-family: $font-familyBold;
        letter-spacing: 0;
        line-height: 12px;
        border-radius: 0;
        position: relative;
        top: -20px;
        display: inline-block;
        font-size: 12px;
        background: transparent;
        -webkit-transition: -webkit-transform 120ms ease;
        transition: -webkit-transform 120ms ease;
        transition: transform 120ms ease;
        transition: transform 120ms ease, -webkit-transform 120ms ease;
        padding: 0px;
        height: 36px;
        min-width: 120px;
        text-align: center;
        padding-top: 10px;
        color: $primary-Color;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, -0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        left: 50%;
      }
      .range-pin:after {
        content: "GB Allocated";
        /*display: inline-block;*/
        padding-left: 4px;
      }
    }
  }

}
