<ng-content select="[range-left]"></ng-content>
<div class="range-slider" #slider>
  <div class="range-tick" *ngFor="let t of _ticks" [style.left]="t.left" [class.range-tick-active]="t.active"
       role="presentation"></div>
  <div class="range-bar" role="presentation"></div>
  <div class="range-bar range-bar-active" [style.left]="_barL" [style.right]="_barR" #bar role="presentation"></div>
  <div class="range-bar bar-2"  [style.width]="usageWidth"  role="presentation"></div>

  <div class="range-knob-handle" (ionIncrease)="_keyChg(true, false)" (ionDecrease)="_keyChg(false, false)"
       [ratio]="_ratioA" [val]="_valA" [pin]="_pin" [pressed]="_pressedA" [min]="_min" [max]="_max"
       [disabled]="_disabled" [labelId]="_labelId"></div>
  <div class="range-knob-handle" (ionIncrease)="_keyChg(true, true)" (ionDecrease)="_keyChg(false, true)"
       [ratio]="_ratioB" [val]="_valB" [pin]="_pin" [pressed]="_pressedB" [min]="_min" [max]="_max"
       [disabled]="_disabled" [labelId]="_labelId" *ngIf="_dual"></div>
</div>
<ng-content select="[range-right]"></ng-content>
