<!--
  Generated template for the GiftsRecievedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content >


  <div class="my-deal-card"   (click)="openGiftsRecievedListPage()">
    <div class="card-content background-color-teal background-color-xpax-gradient-1">
      <img src="./assets/img/my-deals-card-1.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div   (click)="openGiftsRecievedListPage()" class="my-deal-card">
    <div class="card-content background-color-nandor background-color-xpax-gradient-2">
      <img src="./assets/img/my-deals-card-1-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div   (click)="openGiftsRecievedListPage()" class="my-deal-card">
    <div class="card-content background-color-norway background-color-xpax-gradient-3">
      <img src="./assets/img/my-deals-card-1-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div   (click)="openGiftsRecievedListPage()" class="my-deal-card">
    <div class="card-content background-color-rose background-color-xpax-gradient-1">
      <img src="./assets/img/my-deals-card-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div   (click)="openGiftsRecievedListPage()" class="my-deal-card">
    <div class="card-content background-color-sea-buckthorn background-color-xpax-gradient-2">
      <img src="./assets/img/my-deals-card-2-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div   (click)="openGiftsRecievedListPage()" class="my-deal-card">
    <div class="card-content background-color-lucky-point background-color-xpax-gradient-3">
      <img src="./assets/img/my-deals-card-2-3.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a>Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>



</ion-content>
