<!--
  Generated template for the TransactionHistoryTransactionBillPaymentTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content >

  <div class="content-banner">
  </div>


  <ion-list class="default-list-item">
    <div ion-item (click)="goToDetailsPage()"  class="transaction-item">
      <div class="first-line">DD/MM</div>
      <div class="second-line">
        <span class="float-left">Transaction Title</span>
        <span class="float-right">TM 30000.00</span>
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>

    <div ion-item (click)="goToDetailsPage()"  class="transaction-item">
      <div class="first-line">DD/MM</div>
      <div class="second-line">
        <span class="float-left">Transaction Title</span>
        <span class="float-right">TM 30000.00</span>
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>

    <div ion-item  (click)="goToDetailsPage()" class="transaction-item">
      <div class="first-line">DD/MM</div>
      <div class="second-line">
        <span class="float-left">Transaction Title</span>
        <span class="float-right">TM 30000.00</span>
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>

    <div ion-item (click)="goToDetailsPage()"  class="transaction-item">
      <div class="first-line">DD/MM</div>
      <div class="second-line">
        <span class="float-left">Transaction Title</span>
        <span class="float-right">TM 30000.00</span>
      </div>
      <i class="icon arrow-forward-icon"></i>

    </div>
  </ion-list>



  <div class="page-end-padding">

  </div>
</ion-content>
