<!--
  Generated template for the LoginLegalTermsPage .

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--Slide Terms Tab-->
<ion-content padding content content-ios>
        <p><strong>Terms &amp; Conditions for Celcom Life App </strong></p>
        <p>This Service (as hereinafter defined) is made available by Celcom and by accessing the App, purchasing any product on the App, including but not limited to creating an account, downloading software or digital content on the App, you hereby agree to be bound by these Terms and Conditions of the Service herein ("Terms and Conditions") which shall form an integral part and to be read together with the terms and conditions of your mobile service offered relevant to you in respect of this Service and Celcom&rsquo;s Privacy Policy which can be found at <a href="https://www.celcom.com.my/personal/policy">https://www.celcom.com.my/personal/policy</a></p>
        <p>Your use of the Service, upon Activation, constitutes unconditional acceptance to be bound by these Terms and Conditions as may be amended from time to time. You must ensure that any person you allow to use the Service complies with these Terms and Conditions. You acknowledge that you have read and fully understood these Terms and Conditions.</p>
        <p><strong><u>Part A: General Terms and Conditions</u></strong></p>
        <ol>
            <li><strong>Definitions</strong></li>
        </ol>
        <p>For the purpose of these Terms and Conditions, the following terms shall, unless the context otherwise requires, have the meanings as defined below. All other terms not defined herein shall have the meaning as may generally be accepted within the industry based on the context used herein:</p>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p><strong>"Access Information"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>means certain information which Celcom require from you before entering certain parts of the App in order to use the Services, which may be a username, password, your mobile phone number or other or similar recognition device;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>"Activation" or "Activated"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>means the point in time when the Service is activated in Celcom&rsquo;s system;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>"App"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>means CelcomLife App, the software application developed specifically by Celcom for postpaid and prepaid Customers to enjoy the Service(s);</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Celcom"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>means Celcom Axiata Berhad (Company No. 167469-A) and its related corporation. Any and all references to "we", "us", "our" or "Celcom", shall refer to the relevant Celcom entity that is providing the Services to you (including its successors and assigns);</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Celcom&rsquo;s System"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>means the telecommunication system utilised by Celcom in providing the Service;</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Content"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>means any contest, java games, information, text, sound, music, software, photographs, videos, graphics, data messages or other materials received by you including but not limited to VAS.</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Mobile Device"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>means a wireless device together with accessories for the use of the Service;</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Online Customer Service (OCS)"</strong></p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p>means Celcom&rsquo;s online customer service available at <a href="http://www.celcom.com.my">www.celcom.com.my</a>;</p>
                    </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Phone Status"</strong></p>
                    </td>
                </tr>
                <tr>
                        <td >
                                <p>means your connection to Wi-Fi and/or end time of your phone call;</p>
                            </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Related Corporation"</strong></p>
                    </td>
                </tr>
                <tr>
                        <td >
                                <p>means a corporation which is deemed to be related to the first mentioned corporation by virtue of Section 6 of the Companies Act 1965;</p>
                            </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Service(s)"</strong></p>
                    </td>
                    
                </tr>
                <tr>
                        <td >
                                <p>means mobile telecommunication services to be provided by Celcom to you via the App. This app is not available for customers on Celcom Corporate Official accounts and Celcom WiFiPlus. Services includes but not limited to :</p>
                                <p>i. view, track, pay your bills and make additional purchases for Postpaid customers</p>
                                <p>ii. check your credit balance, usage and perform transactions such as reload, internet reload and subscribe to internet pack for Prepaid customers.</p>
                                <p>It may also include access to products and services of third parties either directly or indirectly via any links;</p>
                            </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Terms and Conditions"</strong></p>
                    </td>
                </tr>
                <tr>
                        <td >
                                <p>means these terms and conditions for the Service as may be varied or modified from time to time at Celcom&rsquo;s sole discretion;</p>
                            </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"Value Added Service" or "VAS"</strong></p>
                    </td>
                    
                </tr>
                <tr>
                        <td >
                                <p>means a non-core services beyond standard voice calls, data, SMS and MMS;</p>
                            </td>
                </tr>
                <tr>
                    <td >
                        <p><strong>"You" or "Your"</strong></p>
                    </td>
                    
                </tr>
                <tr>
                        <td >
                                <p>means the person authorised to use the Service subject to these Terms and Conditions herein and/or an entity of whatsoever description including but not limited to a sole proprietorship, a partnership, a body corporate or otherwise governmental bodies and agencies of any kind established under the laws, rules and/or regulations for the time being in force and which may come in force more particularly described in the Registration Form.</p>
                            </td>
                </tr>
            </tbody>
        </table>
        <ol start="2">
            <li><strong> Use of Service</strong></li>
        </ol>
        <p>2.1 The Services may also include access to products and services of third parties either directly or via links to App operated by third parties.</p>
        <p>2.2 You acknowledge and agree that you are only permitted to use the App and the Services as expressly set out in these Terms and Conditions or on the App or third party terms and conditions applicable to the products and services, which may be posted from time to time in connection with such products and services.</p>
        <p>2.3 You agree that the App and usage of the Services are for your own personal use only on any Mobile Device or software to make such connection to the App and ensure the compatibility of the hardware and software will not cause any interference or disturbance to the Service.</p>
        <p>2.4.&nbsp;&nbsp; You shall not:</p>
        <p>(a) copy, disclose, modify, reformat, display, distribute, license, transmit, sell, perform, publish, transfer or otherwise make available any of the Services or any information learned by you while using the Services or while accessing the App;</p>
        <p>(b) remove, change or obscure in any way anything on the App and/or the Services or otherwise use any material obtained whilst using the App and/or the Services except as set out in the Terms and Conditions; and</p>
        <p>(c) copy or use any material from the App and/or the Services for any commercial purpose, remove, obscure or change any copyright, trade mark or other intellectual property right notices contained in the original material, or from any material copied or printed off from the App, or obtained as a result of the Services.</p>
        <p>2.5 You may create an account on the App by clicking on the "Sign Up" and following the on-screen prompts. Please note that you will be required to supply information including a moblie number. You may also login to the App by network login or by requesting a 4-digit verification code via Mobile Connect. Further information on creating of account on the App can be referred to the FAQ page.</p>
        <p>2.6 You will be asked for consent to allow Celcom an access to view your SMS messages and Phone Status once you have updated the App to the latest version either manually or automatically.</p>
        <p>2.7 By allowing Celcom to do so, you are providing consent for Celcom to view your SMS messages which are related to Celcom&rsquo;s campaigns and your Phone Status. Celcom may display marketing and customer service media content on your mobile phone once the access has been allowed.</p>
        <p>2.8 In the event where you decline the access, Celcom will have no access to view your SMS messages and Phone Status. However, you may still continue to use the App as usual but will not be able to receive Celcom&rsquo;s marketing and customer service media content that are designed to provide you the best offerings and customer experience.</p>
        <p>2.9 You may opt out if you wish to discontinue Celcom&rsquo;s Specific Access to view your SMS messages and Phone Status by performing any of the following:</p>
        <ul>
            <li>Decline the consent message after updating the App; or</li>
            <li>Click the unsubscribe link on the daily pop-up advertisement by Celcom; or</li>
            <li>Uninstall and click "Decline" once you have re-installed the App.</li>
        </ul>
        <p>2.10&nbsp; You may also call our customer service at 1111 for further info on opt out options.</p>
        <ol start="3">
            <li><strong> Your Responsibility</strong></li>
        </ol>
        <p>3.1 You shall:</p>
        <p>(a) ensure the compatibility of your Mobile Device with Celcom&rsquo;s System. In the event that changes and upgrades are introduced to Celcom&rsquo;s System, you shall be responsible to ensure the continued compatibility of your Mobile Device and you shall have no claim whatsoever against Celcom arising therefrom;</p>
        <p>(b) comply with all notice or instruction given by Celcom from time to time in relation to the use of the Service;</p>
        <p>(c)&nbsp; be responsible for all equipment and software necessary to use the Service and also for the security and integrity of all information and data transmitted, disclosed and/or obtained through the use of the Service;</p>
        <p>(d) be responsible for all usage of and charges for the Service including but not limited to payment of all the Service charges and any other related charges due to Celcom pursuant to these Terms and Conditions in a timely manner;</p>
        <p>(e) be fully responsible for any data transmitted or broadcasted by you or persons using your Mobile Device;</p>
        <p>(f)&nbsp; comply with all applicable laws of Malaysia relating to the Service, including without limitation to the Communication and Multimedia Act 1998 and its subsidiary legislation, other acts, statutes, by-laws, rules and regulations issued by relevant government and regulatory agencies which may be amended from time to time;</p>
        <p>(g) take all reasonable steps to prevent fraudulent, improper or illegal use of the Service;</p>
        <p>(h) cease to utilise the Service or any part thereof for such period as may be required by Celcom;</p>
        <p>(i)&nbsp; report immediately to Celcom upon the discovery of any fraud, theft, loss, unauthorised usage or any other occurrence of unlawful acts in relation to the Mobile Device and its use. You agree to lodge a police report whenever instructed by Celcom and to give Celcom a certified copy of such report; and</p>
        <p>(j)&nbsp; indemnify and shall keep indemnified Celcom from any loss, damage, liability or expense, arising from any claims for libel, invasion of privacy, infringement of copyright, patent, breach of confidence or privilege or breach of any law or regulation whatsoever arising from the Content transmitted, received or stored via the Service or part thereof and for all other claims arising out of any act or omission of your or any unauthorised use or exploitation of the Services or part thereof.</p>
        <p>3.2&nbsp;&nbsp; You shall not use the Service:</p>
        <p>(a) to cause embarrassment, distress, annoyance, irritation, harassment, inconvenience, anxiety or nuisance to any person;</p>
        <p>(b) to cause excessive or disproportionate load on the Service or Celcom&rsquo;s System;</p>
        <p>(c)&nbsp; for any unlawful purposes including but not limited to vice, gambling or other criminal purposes whatsoever or for sending to receiving from any person any message which is offensive on moral, religious, communal or political grounds, or is abusive, defamatory or of an indecent, obscene or menacing character;</p>
        <p>(d) for any purpose which is against public interest, public order or national harmony;</p>
        <p>(e) use, permit or cause to be used the Service improperly or for any activities which breach any laws, infringe a third party&rsquo;s rights, or breach any directives, content requirements or codes promulgated by any relevant authority including activities which will require Celcom to take remedial action under any applicable industry code or in a way interferes with other users or defames, harasses, menaces, restricts or inhibits any other use from using or enjoying the Service or the internet; or</p>
        <p>(f)&nbsp; to transmit or post any content that contains harmful, damaging or destructive programs;</p>
        <p>(g) receive, access or transmit any content which is obscene, pornographic, threatening, racist, menacing, offensive, defamatory, in breach of confidence, in breach of any intellectual property right (including copyright) or otherwise objectionable or unlawful;</p>
        <p>(h) circumvent user authentication or security of any host, network or account (referred to as "cracking" or "hacking") nor interfere with service to any user, host or network (referred to as "denial of service attacks") nor copy any pages or register identical keywords with search engines to mislead other users into thinking that they are reading Celcom&rsquo;s legitimate web pages (referred to as "page-jacking"), or use the App or the Services for any other unlawful or objectionable conduct. Users who violate systems or network security may incur criminal or civil liability, and Celcom will at its absolute discretion fully co-operate with investigations of suspected criminal violations, violation of systems or network security under the leadership of law enforcement or relevant authorities;</p>
        <p>(i)&nbsp; use the App and/or the Services to advertise or offer to sell any goods or services for any commercial purpose without Celcom&rsquo;s written consent; and</p>
        <p>(j)&nbsp; hack into, make excessive traffic demands, deliver or forward chain letters, "junk mail" or "spam" of any kind, surveys, contests, pyramid schemes or otherwise engage in any other behaviour intended to inhibit other users from using and enjoying the App and/or the Services or any other web site, or which is otherwise likely to damage or destroy Celcom&rsquo;s reputation or the reputation of any third party.</p>
        <p>3.3&nbsp;&nbsp; You acknowledge that chat, discussion groups or bulletin board services and similar services offered by Celcom ("Public Communication Services") are public communications, and your communications may be available to others and consequently you should be cautious when disclosing personal or sensitive information or any information which may identify you. Celcom is not responsible for, and does not control or endorse any Content of any Public Communication Services.</p>
        <p>3.4&nbsp;&nbsp; If any information provided by you is untrue, inaccurate, not current or incomplete, Celcom has the right to terminate your account and refuse any and all current or future use of Services or access to the App.</p>
        <ol start="4">
            <li><strong> SIM Replacement</strong></li>
        </ol>
        <p>4.1&nbsp; You shall be able to use the App to apply for SIM replacement. SIM replacement service on the App may be used by for the purpose of replacing SIM due to amongst others, lost, stolen SIM, damage, faulty, permanent block, change or upgrade of telephone.</p>
        <p>4.2&nbsp;&nbsp; &nbsp;&nbsp; You shall not be eligible to request for a SIM replacement through the App in any the following events:</p>
        <p>Postpaid customers :</p>
        <ul>
            <li>You have been call barred;</li>
            <li>You are currently in the CapZone;</li>
            <li>You are tied with the GBshare lines.</li>
        </ul>
        <p>Prepaid customers :</p>
        <ul>
            <li>Your Prepaid account is blocked until you re-activate the account by performing a reload transaction.</li>
        </ul>
        <p>&nbsp;</p>
        <p>4.3&nbsp; You shall be responsible to ensure that all information required for the SIM replacement service, including alternate phone number and delivery address are keyed in accurately.</p>
        <p>4.4&nbsp; You are required to activate the subscription to Celcom service by contacting customer service within fourteen (14) days of receipt of the SIM card. Celcom&rsquo;s SIM replacement request shall be automatically cancelled if you have not activated the subscription by contacting customer service after fourteen (14) days from receipt of the SIM card.</p>
        <p>4.5 All orders that you place on the App shall be in accordance with these terms and conditions.</p>
        <p>4.6 Celcom may reject the order due to any one or more of the following non-exhaustive reasons:</p>
        <p>(i) Celcom's inability to obtain authorization for your payment; or</p>
        <p>(ii) if there is a system or procurement failure; or</p>
        <p>(iii) if you have failed validation checks.</p>
        <p>4.7 All payment for request made via the App shall be</p>
        <p>(i) reflected on your monthly postpaid bill for Postpaid customers; or</p>
        <p>(ii) deducted from your prepaid account for Prepaid customers.</p>
        <ol start="5">
            <li><strong> Celcom&rsquo;s Rights</strong></li>
        </ol>
        <p>5.1&nbsp;&nbsp; Celcom reserves the right to make any alteration or changes to the Service, or any part thereof, or suspend the Service or any part thereof without prior notice and Celcom shall not be liable for any loss or inconvenience to you resulting therefrom.</p>
        <p>5.2&nbsp;&nbsp; Celcom reserves the right at its absolute discretion, from time to time, to vary, add to or otherwise amend these Terms and Conditions or any part thereof. You will be given notice of such amendments. Your continued use of the Service after the effective date of any variation, addition or amendments to these Terms and Conditions shall constitute your unconditional acceptance of such variations, additions or amendment.</p>
        <p>5.3&nbsp;&nbsp; Unless otherwise notified by you, you agree that Celcom may send you notification relating to promotional and marketing activities from time to time. You may opt out from receiving any promotional or marketing messages from Celcom by sending OUT to the respective short code from which the promotional or marketing messages originate or turning off the promotion notification button in App settings.</p>
        <p>5.4&nbsp;&nbsp; Celcom may extract any details or Personal Information or any other data from you which is required to be used as evidence in court and/or when necessary in the event of a suspected and/or proven misuse of the Service.</p>
        <p>5.5&nbsp;&nbsp; Celcom may run campaigns/contest or promotions in relation to the Service or Content as may be notified to you from time to time. You agree that your participation in such campaign/contest/promotion shall be subject to the specific terms and conditions of such campaign/contest/promotion.</p>
        <ol start="6">
            <li><strong> Personal Information</strong></li>
        </ol>
        <p>You agree that by using the Services, you are giving consent to Celcom that the information collected by Celcom from you ("Personal Information") will be used and/or disclosed in accordance with our Privacy Notice as posted on Celcom&rsquo;s website and Personal Data Protection Act 2010. You are advised to read our Privacy Notice to understand your rights with regards to your Personal Information on https://www.celcom.com.my/personal/policy</p>
        <ol start="7">
            <li><strong> Proprietary Rights</strong></li>
        </ol>
        <p>7.1 All trademarks used on the App and/or the Services are the trademark of Celcom.</p>
        <p>7.2 You acknowledge and agree that the Services and the App or any part thereof, whether presented to you by Celcom, advertisers or any third party are protected by copyrights, trademarks, service marks, patents, or other proprietary rights and laws. All rights are expressly reserved.</p>
        <p>7.3 You are only allowed to use the App and the Services as set out in the Terms and Conditions, and nothing on the App and/or the Services shall be construed as conferring any license or other transfer of rights to you of any intellectual property of other proprietary rights of Celcom.</p>
        <ol start="8">
            <li><strong> Charges</strong></li>
        </ol>
        <p>8.1 Celcom reserves the right to impose any charges, fees or subscriptions ("Charges") for access to the App or for the use of the Services. Some Services may be chargeable as indicated on the App and in any accompanying Terms and Conditions.</p>
        <p>8.2 The Charges can be paid as following:</p>
        <ol>
            <li>by deducting from your account;</li>
            <li>via credit or debit cards listed on the App;</li>
        </ol>
        <p>iii. via online banking; or</p>
        <ol>
            <li>via Reload PIN</li>
        </ol>
        <p>8.3&nbsp;&nbsp; You will need to provide all equipment necessary to access the App and the Services on the internet, and be liable for payment for your local telephone call and data charges at the rates published by the telephone operator with whom you make your local calls, or any other internet access charges to which you may be subjected to. If your equipment does not support relevant technology including but not limited to encryption, you may not be able to use certain Services or access certain information of the App.</p>
        <p>8.4&nbsp;&nbsp; Step Down Charging (if applicable)</p>
        <p> Celcom may impose step down charging for specific content as may be notified by Celcom to you from time to time subject to the terms and conditions to such content. For the avoidance of doubt, the validity period of such content, the number of contents may vary due to the stepdown charging.</p>
        <p>8.5&nbsp;&nbsp; If any supply made under these Terms and Conditions is a taxable supply to which the applicable tax (including but not limited to the Malaysian Goods and Services Tax ("GST") would apply ("Applicable Tax"), then Celcom reserves the right to levy the Applicable Tax at the prescribed rate and you agree to pay the amount of the Applicable Tax.</p>
        <ol start="9">
            <li><strong> Disclaimer</strong></li>
        </ol>
        <p>This Service is provided on an "as is" and "as available" basis. Celcom disclaims all liability and makes no express or implied representation or warranties of any kind in relation to the Service including but not limited to:</p>
        <p>(a) availability, accessibility, timeliness and uninterrupted use of the Service; and</p>
        <p>(b) sequence, accuracy, completeness, timeliness or the security of any data, Content or information provided to you as part of the Service.</p>
        <p>&nbsp;</p>
        <ol start="10">
            <li><strong> Celcom&rsquo;s Liability</strong></li>
        </ol>
        <p>Celcom shall not be liable for any costs, loss or damages (whether direct or indirect), or for loss of revenue, loss of profits or any consequential loss whatsoever as a result of your usage of the Service.</p>
        <p>&nbsp;</p>
        <ol start="11">
            <li><strong> Liability for App</strong></li>
        </ol>
        <p>11.1&nbsp; It is your sole responsibility to satisfy yourself prior to using the App and the Services in any way that they are suitable for your purposes and up to date. The Services and in particular, Charges are periodically updated and you should check the App and the Services regularly to ensure that you have the latest information.</p>
        <p>11.2&nbsp; The App and the Services are provided on an "as is" basis. Although every effort has been made to provide accurate information on these pages, neither Celcom, nor any of its employees, members of the Celcom Group, their suppliers, employees, make any warranty, expressed or implied, or assume any legal liability (to the extent permitted by law), or responsibility for the suitability, reliability, timeliness, accuracy or completeness of the Services or any part thereof contained in the App or in the Services.</p>
        <ol start="12">
            <li><strong> Liability for Third Party</strong></li>
        </ol>
        <p>12.1&nbsp; The App may contain links to websites, web pages operated by third parties and you agree that your use of each website, webpage and service is also subject to the terms and conditions, if any, contained within each website or webpage or attached to any products or services of these third parties. These Terms and Conditions shall be deemed to be incorporated into each set of the terms and conditions. In the event that there is any conflict, the terms and conditions contained within the relevant website or webpage, or attached to the relevant products or services shall prevail over the Terms and Conditions.</p>
        <p>12.2&nbsp; Celcom assumes no responsibility for and does not endorse unless expressly stated, created or published by third parties that is included in the App and the Services or which may be linked to and from the App.</p>
        <p>12.3&nbsp; The App and/or the Services may be used by you to link into other websites, resources and/or networks worldwide. Celcom accepts no responsibility for the content, services or otherwise in respect of these, and you agree to conform to the acceptable use policies of such websites, resources and/or networks.</p>
        <p>12.4&nbsp; You agree that Celcom does not generally and is not required to monitor or edit the use to which you or other use the App and the Services and Celcom is excluded from all liability of any kind arising from the use of the Services. Notwithstanding the foregoing, Celcom reserves the right to edit or remove any Services, at any time as Celcom deems necessary, in order to prevent any breach of the Terms and Conditions or any breach of applicable laws or regulations.</p>
        <p>&nbsp;</p>
        <ol start="13">
            <li><strong> Exclusion of Liability</strong></li>
        </ol>
        <p>13.1&nbsp;  Nothing in the Terms and Conditions shall act to limit or exclude Celcom&rsquo;s liability for death or personal injury resulting from Celcom&rsquo;s negligence, fraud or any other liability, which may not by applicable law be limited or excluded.</p>
        <p>13.2&nbsp; Celcom shall use its reasonable endeavours to ensure the maintenance and availability of the App and the Services, but availability may be affected by your equipment, other communications networks, network congestion or access to the internet at the same time or other causes of interference, and may fail or require maintenance without notice.</p>
        <p>13.3&nbsp; Neither Celcom nor any member of the Celcom Group shall be liable for any special, indirect or consequential damages or any damages whatsoever, whether in action of contract, negligence or other tortuous action, arising out of, or in connection with the performance of, or use of Services available on the App and in particular, but without limitation to the foregoing, Celcom specifically excludes all liability whatsoever in respect of any loss arising as a result of:</p>
        <p>(a) use which you make of the App and the Services, or reliance on Services, or any loss of any Services resulting from delays, non-deliveries, missed deliveries, or service interruptions; and</p>
        <p>(b) defects that may exist for any costs, loss of profits or consequential losses arising from your use of, or inability to use or access, or a failure, suspension or withdrawal of all or part of the App and the Services at any time.</p>
        <p>13.4&nbsp; All conditions or warranties that may be implied or incorporated into the Terms and Conditions by law, or otherwise are hereby expressly excluded to the extent permitted by law.</p>
        <p>13.5&nbsp; In the event that you are not satisfied with the Services provided through the App, you can choose to discontinue with the Services.</p>
        <p>13.6&nbsp; Celcom makes every effort to ensure the security of your communications. You are however advised that for reasons beyond our control, there is a risk that your communications may be unlawfully intercepted or accessed by those other than the intended recipient. For example, your communications may pass over third party networks which we have no control. The internet is not a secure environment. Unwanted programs or materials may be downloaded without your knowledge, which may give unauthorised persons access to your mobile phone and the information stored on your mobile phone. These programs may perform action that you have not authorised, possibly without your knowledge.</p>
        <p>&nbsp;</p>
        <ol start="14">
            <li><strong> Variation</strong></li>
        </ol>
        <p>14.1&nbsp; Celcom reserves the right to modify the App and/or the Services, or suspend or terminate the App and/or the Services, or access to part or all of them at any time.</p>
        <p>14.2&nbsp; Celcom reserves the right to revise the Terms and Conditions at any time. Such variations shall become effective after being posted on the website. By continuing to use this App and/or the Services you will be deemed to have accepted the varied Terms and Conditions.</p>
        <p>&nbsp;</p>
        <ol start="15">
            <li><strong> Indemnity</strong></li>
        </ol>
        <p>15.1&nbsp; You hereby agree to fully indemnify and to hold Celcom harmless from and against any claim brought by a third party resulting from the use of the App and the Services, or the provision of Content to Celcom by you and in respect of all losses, costs, actions, proceedings, claims, damages, expenses (including reasonable legal costs and expenses), or liabilities, whatsoever suffered, or incurred directly or indirectly by Celcom in consequence of such use of the App and the Services or provision of Content, or your breach or non-observance of any of the Terms and Conditions.</p>
        <p>15.2&nbsp; You shall defend and pay all costs, damages, awards, fees (including any reasonable legal fees) and judgments awarded against Celcom arising from the above claims, and shall provide Celcom with notice of such claims, full authority to defend, compromise or settle such claims, and reasonable assistance necessary to defend such claims, at your sole expense.</p>
        <p>&nbsp;</p>
        <ol start="16">
            <li><strong> Matters Beyond Celcom's Control</strong></li>
        </ol>
        <p>16.1&nbsp; Without limiting the generality of any provision in these Terms and Conditions, Celcom shall not be liable for any failure to perform its obligations herein caused by an act of God, insurrection or civil disorder, military operations or act of terrorism, all emergency, acts or omission of Government, or any competent authority, labour trouble or industrial disputes of any kind, fire, lightning, subsidence, explosion, floods, acts or omission of persons or bodies for whom Celcom has no control over or any cause outside Celcom's reasonable control.</p>
        <p>16.2&nbsp; Notwithstanding the event prescribed in Clause 16.1 above, you shall remain liable to pay all fees and charges which are outstanding and/or due and payable to Celcom.</p>
        <p>16.3&nbsp; The Service may occasionally be affected by interference caused by objects beyond Celcom's control such as buildings, underpasses and weather conditions, electromagnetic interference, equipment failure or congestion in Celcom&rsquo;s System or telecommunication systems. In the event of such interference, Celcom shall not be responsible for any inability to use or access the Service, interruption or disruption of the Service.</p>
        <p>&nbsp;</p>
        <ol start="17">
            <li><strong> Monitoring/Recording of Communications</strong></li>
        </ol>
        <p> Monitoring or recording of your calls, emails, text messages or other communication may take place in accordance with the law, and in particular for Celcom&rsquo;s business purposes, such as for quality control and training, to prevent unauthorised use of Celcom&rsquo;s telecommunication systems, and to ensure effective systems operation, and in order to prevent or detect crime.</p>
        <p>&nbsp;</p>
        <ol start="18">
            <li><strong> Processing your Instructions</strong></li>
        </ol>
        <p>18.1&nbsp; You request and authorise us to rely and act upon all apparently valid communications as instructions properly authorised by you, even if they may conflict with any other instructions given at any time concerning bill or service requirements.</p>
        <p>18.2&nbsp; An instruction will only be accepted by us if you have passed through certain security criteria.</p>
        <p>18.3&nbsp; You agree that we can act on any instructions given to us even if these instructions were not authorised by you.</p>
        <p>18.4&nbsp; We will make reasonable efforts to process any instruction where you request us to do so, but we shall not be liable for any failure to comply with such a request unless it is due to Celcom&rsquo;s failure to make reasonable efforts to do so.</p>
        <p>18.5&nbsp; You must make sure that any instruction is accurate and complete, and we are not liable if this is not the case.</p>
        <p>18.6&nbsp; A transaction being carried out is not always simultaneous with an instruction being given. Some matters may take time to process and certain instructions may only be processed during normal working hours, even though the service may be accessible outside such hours.</p>
        <p>18.7&nbsp; You will be responsible for all losses and payments (including the amount of any transaction carried out without your authority) if you have acted with gross negligence so as to facilitate that unauthorised transaction, or you have acted fraudulently. For the purposes of this Clause, gross negligence shall be deemed to include failure to observe any of your security duties referred to in the Terms and Conditions.</p>
        <p><strong>&nbsp;</strong></p>
        <ol start="19">
            <li><strong> Profligate Use</strong></li>
        </ol>
        <p> Profligate use of the Celcom Network is prohibited. Celcom considers that any applications which transmit live video, live audio or make similar traffic demands across the Celcom Network by whatever means, unless provided by Celcom, constitutes making profligate use of the Celcom Network. Use of IP Multicast, other than by means provided and co-ordinated by Celcom is also prohibited.</p>
        <p>&nbsp;</p>
        <ol start="20">
            <li><strong> Customer Service</strong></li>
        </ol>
        <p> You may address your queries or complaints in relation to the Service via the following:</p>
        <ul>
            <li>1111 from Celcom numbers</li>
            <li>019 601 1111 from Celcom numbers, fixed lines or other mobile operators</li>
            <li>+6019 601 1111 from abroad</li>
        </ul>
        <p>&nbsp;</p>
        <ol start="21">
            <li><strong> General</strong></li>
        </ol>
        <p>21.1&nbsp; Governing Law and Jurisdiction</p>
        <p> These Terms and Conditions are governed by and construed in accordance with the laws of Malaysia, and you hereby submit to the non-exclusive jurisdiction of the Malaysian courts.</p>
        <p>21.2&nbsp; Severability</p>
        <p> These Terms and Conditions are severable in that if any provision is determined to be illegal or unenforceable by any court of competent jurisdiction, such provision shall be deemed to have been deleted without affecting the remaining provisions of the Terms and Conditions.</p>
        <p>21.3&nbsp; Waiver</p>
        <p> Celcom&rsquo;s failure to exercise any particular right or provision of the Terms and Conditions, shall not constitute a waiver of such right or provision, unless acknowledged and agreed to by Celcom in writing.</p>
        <p>21.4&nbsp; Representations</p>
        <p> You do not rely on and shall have no remedy in respect of, any statement, representation, warranty or understanding (whether negligently or innocently made) of any person (whether party to the Terms and Conditions or not) other than as expressly set out in the Terms and Conditions as a warranty. Nothing in this Clause shall, however, operate to limit or exclude any liability for fraud.</p>
        <p>21.5&nbsp; Assignment</p>
        <p> You are not permitted to assign, re-sell, sub-lease, sub-lease or in any other way transfer your rights or obligations under the Terms and Conditions or part thereof to any party. Contravention of this restriction in any way, whether successful or not, will result in the Services being terminated by Celcom forthwith. Celcom may assign the Terms and Conditions in whole or in part to any third party at its discretion.</p>
        <p>21.6&nbsp; Force Majeure</p>
        <p> Celcom shall not be liable in respect of any breach of the Terms and Conditions due to any cause beyond its reasonable control including but not limited to, Act of God, inclement weather, act or omission of Government or public telephone operators, or other competent authority or other party for whom Celcom is not responsible.</p> 
</ion-content>
    