page-contact-us-hotline {
    .item-inner {
        background-image: none !important;
        padding-right: 10px !important;
        border-bottom: 1px solid #c8c7cc !important;
    }
    h2{
        font-size: 18px !important;
        font-weight: bold !important;
        color: #333333;
        padding-top: 16px;
    }
    .contact-details{
        width: 100%;
        display: inline-block;
        padding: 10px 0;
    }
    .store-phone-icon {
        margin-top: 14px;
        height: 28px;
        width: 28px;
        background-color: $primary-Color;
      }
    .store-phone {
        height: 52px;
        padding: 16px;
  
        span {
          width: 100%;
          font-size: 16px;
          color: #333333;
        }
        p{
            height: 100%;
           padding-top: 16px;
           padding-bottom: 26px;
           line-height: 20px;
           font-size: 14px;
        }
      }
}

.XPAX page-contact-us-hotline {
    .store-phone-icon {
        background-color: $XPAX-primary-Color;
      }
    }
    