<!--
  Generated template for the ContactUsHotlinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="contact-details">
    <ion-item>
        <h2 class="float-left">Contact Name</h2>
        <i class="store-phone-icon float-right"></i>
    </ion-item>
      <div class="store-phone">
        <span class="float-left">+60 0123456789</span>
        <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
      </div>
    </div>
    
    <div class="contact-details">
        <ion-item>
            <h2 class="float-left">Contact Name</h2>
            <i class="store-phone-icon float-right"></i>
        </ion-item>
          <div class="store-phone">
            <span class="float-left">+60 0123456789</span>
            <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
          </div>
        </div>

        <div class="contact-details">
            <ion-item>
                <h2 class="float-left">Contact Name</h2>
                <i class="store-phone-icon float-right"></i>
            </ion-item>
              <div class="store-phone">
                <span class="float-left">+60 0123456789</span>
                <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
              </div>
            </div>

            <div class="contact-details">
                <ion-item>
                    <h2 class="float-left">Contact Name</h2>
                    <i class="store-phone-icon float-right"></i>
                </ion-item>
                  <div class="store-phone">
                    <span class="float-left">+60 0123456789</span>
                    <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
                  </div>
                </div>

                <div class="contact-details">
                    <ion-item>
                        <h2 class="float-left">Contact Name</h2>
                        <i class="store-phone-icon float-right"></i>
                    </ion-item>
                      <div class="store-phone">
                        <span class="float-left">+60 0123456789</span>
                        <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
                      </div>
                    </div>

                    <div class="contact-details">
                        <ion-item>
                            <h2 class="float-left">Contact Name</h2>
                            <i class="store-phone-icon float-right"></i>
                        </ion-item>
                          <div class="store-phone">
                            <span class="float-left">+60 0123456789</span>
                            <p>Short description of this contact/hotline: Lorem ipsum dolor sit amet, lorem vestibulum ac tellus.</p>
                          </div>
                        </div>
    
   

</ion-content>
