<!--
  Generated template for the DetailedUsageInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>

    <!-- Internet Slide -->

    <!--Group Sharing Data-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="share-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Group Sharing Data</div>
                    <div class="sub">68GB Quota</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="0" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>

    <!--XPAX-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="xpax-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">XPAX</div>
                    <div class="sub">Late Night Internet Wala</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>


    <!--MOM-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="icon share-icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">MOM</div>
                    <div class="sub"> GB Share</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="3" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>

    <!-- Free Basic Internet-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="wifi-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Free Basic Internet</div>
                    <div class="sub">68 GB Quota</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>


    <!--youtube-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="youtube-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Free Youtube</div>
                    <div class="sub">68 GB Quota</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>

        </div>

        <div class="card-footer"></div>

    </div>

    <!--facebook-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="facebook-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Free Facebook</div>
                    <div class="sub">68 GB Quota</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>

        </div>

        <div class="card-footer"></div>

    </div>

    <button ion-button class="default-button">
        Buy More
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>

</ion-content>
