<!--
  Generated template for the AutoBillingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Auto Billing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div class="content-block-actions">
    <div class="title">
      <div class="title-main float-left">Auto Billing</div>
    </div>
    <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
  </div>

  <div class="supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>


  <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
    <div class="rectTitle">More Details</div>
    <i class="icon arrow-down-icon float-right imgShape"></i>
  </div>

  <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
    <div class="rectTitle">More Details</div>
    <i class="icon arrow-up-icon float-right imgShape"></i>

    <div class="text-container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt
    </div>

  </div>


  <div class="tabular-list with-total">
    <div class="tabular-row">
      <span class="float-left">Account Number</span>
      <span class="float-right">197434543</span>
    </div>
    <div class="tabular-row">
      <span class="float-left">Mobile Number</span>
      <span class="float-right">018-888-8888</span>
    </div>

    <div class="tabular-list-footer">
      <hr/>
      <div class="tabular-row">
        <i class="credit-card-icon float-left"></i>
        <span class="float-left">**** 1234</span>
          <span class="float-right"><a>Edit</a></span>
      </div>

    </div>


  </div>
    <div class="confirmBtn">
         <button ion-button class="default-button" (click)="presentsucess()">
          Confirm
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>

</ion-content>
