page-auto-billing {
    padding: 0 16px;
    .rectCollapseCont {
        background-color: rgba(216, 216, 216, 0.15) !important;
        margin-top: 20px;
        padding: 10px 13px 10px 18px;
        margin: 0 0px;
        .imgShape {
            background-color: #009ADE;
        }
        .rectTitle {
            display: inline-block;
            font-family: $font-familyBold;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0;
            line-height: 18px
        }
        .text-container {
            padding-top: 16px;
            font-size: 16px;
        }
    }
    .content-block-actions .default-toggle {
        margin-top: 0;
    }
    .credit-card-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    .tabular-list {
        .tabular-row {
            margin: 10px 0;
        }
        span {
            font-size: 16px;
            color: rgba(51, 51, 51, 0.87);
            line-height: 16px;
        }
    }
    
    .confirmBtn {
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        
        button {
            width: 90% !important;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
            outline: none !important;
        }
        
    }

}