<ion-header class="dashboard-top-rect">
    <ion-navbar>
        <button ion-button menuToggle class="menu-toggle-btn">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="page-home">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- <div class="dashboard-top-rect"></div> -->
    <button class="plan-details-btn" (click)="goToPlanDetails()">
        <div class="dashboard-top-number text-center">+6019 119 9999</div>
        <div class="dashboard-top-credit text-center">Payment Due RM800.00</div>
        <div class="dashboard-top-plan text-center">Due Date dd/mm/yy</div>
    </button>
    <ion-slides pager>
        <ion-slide *ngIf="capZoneActive">
            <div class="gaugeContainer">
                <raphael-drawer [value]="capZoneValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide *ngIf="callBarredActive">
            <div class="gaugeContainer">
                <raphael-drawer [value]="callbarredValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer [value]="dataValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer [value]="talkValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer [value]="smsValue"></raphael-drawer>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="gaugeContainer">
                <raphael-drawer [value]="RomValue"></raphael-drawer>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="last-updated text-center">
        Last updated on 03/10/2017 at 3:56PM
    </div>
    <div class="divContainer">
        <ion-fab class="centerFab celcom-list" center>
            <button ion-fab class="default-button" (click)="hideOverlay($event)">Buy More</button>
            <ion-fab-list side="top">
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
            </ion-fab-list>
        </ion-fab>
        <ion-fab class="centerFab xpax-list" center>
            <button ion-fab class="default-button" (click)="hideOverlay($event)">Buy More 
                   <i class="XPAX-Right-Bubble"></i>
                   <i class="XPAX-Left-Bubble"></i>
                </button>
            <ion-fab-list side="top">
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
                <button ion-fab class="default-button whitebackGround">XPAX</button>
            </ion-fab-list>
        </ion-fab>
    </div>
    <div class="quick-links">
        <ion-grid class="celcom-grid">
            <ion-row>
                <ion-col col-4>
                    <button (click)="gotoService()"><i class="services-icon"></i></button>
                    <label>Services</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoPaybill()"><i class="paybill-icon"></i></button>
                    <label>Pay Bill</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoGBShare()"><i class="support-icon"></i></button>
                    <label>GB Share</label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="xpax-grid">
            <ion-row>
                <ion-col col-4>
                    <button (click)="gotoService()"><i class="services-icon"></i></button>
                    <label>Services</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoReload()"><i class="reload-icon"></i></button>
                    <label>Reload</label>
                </ion-col>
                <ion-col col-4>
                    <button (click)="gotoPriviledges()"><i class="privileges-icon"></i></button>
                    <label>Privileges</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="my-overlay" padding [hidden]="overlayHidden"></div>
</ion-content>
<notification-drawer [options]="drawerOptions"></notification-drawer>