<!-- Generated template for the RaphaelDrawerComponent component -->

<!-- <div id="gauge-container1" class="gauge-container-id"></div> -->
<!-- <div> -->

<div [attr.id]="gaugeID" class="gauge-container-id"></div>
<div *ngIf="speedTest" class="speed-test-cont">
    <div class="speed-test">
        <div class="speed">
            {{this.dataUsedVal}}
        </div>
        <div class="speed-unit">
            {{this.dataUsedUnit}}
        </div>
    </div>
    <div class="gauge-units">
        <div class="units-0">0</div>
        <div class="units-1">1</div>
        <div class="units-2">2</div>
        <div class="units-3">3</div>
        <div class="units-5">5</div>
        <div class="units-10">10</div>
        <div class="units-20">20</div>
        <div class="units-30">30</div>
        <div class="units-50">50</div>
    </div>
</div>
<div *ngIf="capZone" class="cap-zone default-cont">
    <div class="cap-zone-icon"></div>
    <div class="internet-bal">you are in</div>
    <div class="balance-cont">
        <span class="balance">CAP ZONE</span>
    </div>
    <div class="valid-date text-center"> You have 35 Days </div>
    <a (click)="viewDetailsPage(selectedTab)" class="view-det">
        <span>View Details</span>
        <i class="arrow-forward-icon"></i>
    </a>
</div>
<div *ngIf="callbarred" class="call-barred default-cont">
    <div class="call-barred-icon"></div>
    <div class="internet-bal">you are in</div>
    <div class="balance-cont balance">
        <span class="balance">CALL BARRED</span>
    </div>
    <a (click)="viewDetailsPage(selectedTab)" class="view-det">
        <span>View Details</span>
        <i class="arrow-forward-icon"></i>
    </a>
</div>
<div *ngIf="!capZone && !callbarred && !speedTest" class="default-cont" [class.cap-Zone-div]="capZoneCss" [class.call-Barring-div]="callbarredCss">
    <div class="cap-zone-icon"></div>
    <div class="call-barred-icon"></div>
    <div class="internet-bal">{{this.title}}</div>
    <div *ngIf="dataUsedVal || dataUsedVal == 0" class="balance-cont">
        <div class="balance">
            <span class="balance__span">{{ this.dataUsedVal }}</span>
            <span *ngIf="this.dataUsedUnit" class="balance__gb">{{this.dataUsedUnit}}</span>
        </div>
        <div class="qota">{{this.qouta}} <span>{{ this.dataTotal }}</span> {{this.dataTotalUnit}}</div>
    </div>
    <div *ngIf="!dataUsedVal && dataUsedVal != 0" class="balance-cont-unlimited">
        <div class="balance">
            Unlimited
        </div>
        <div class="qota">{{this.qouta}} </div>
    </div>
    <div class="valid-date text-center">{{this.message}}</div>
    <a (click)="viewDetailsPage(selectedTab)" class="view-det">
        <span>View Details</span>
        <i class="arrow-forward-icon"></i>
    </a>
</div>

<!-- </div> -->
<!-- <p>{{jsonString}}</p> -->