<!--
  Generated template for the NotificationTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>


  <div class="my-deal-card">
    <div class="card-content background-color-teal background-color-xpax-gradient-1">
      <img src="./assets/img/my-deals-card-1.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a (click)="presenMydealspageModal()">Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>
  <div class="my-deal-card">
    <div class="card-content background-color-nandor background-color-xpax-gradient-2">
      <img src="./assets/img/my-deals-card-1-2.png"/>
      <div class="title">Promo title</div>
      <div class="sub-title">Lorem ipsum dolor sit amet onsectetur</div>
      <div class="expiry">Expiry dd/mm/yy hh:mm:ss</div>
    </div>
    <div class="card-footer">
      <a (click)="presenMydealspageModal()">Call to Action <i class="arrow-forward-icon"></i></a>
    </div>
  </div>



</ion-content>
