<!--
  Generated template for the ExclusivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title [ngClass]="{'dimTitle': selectedFilter!='Exclusives'}" (click)="presentExclusiveFilterModal()">
            Exclusives
            <span *ngIf="selectedFilter  && selectedFilter!='Exclusives'">/
            {{selectedFilter}}
            </span>
            <i class="arrow-down-icon"></i>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <super-tabs>
        <!-- <super-tab [root]="tab1Page" icon="custom-notification-sms-icon"></super-tab>
        <super-tab [root]="tab2Page" icon="custom-notification-price-tag-icon"></super-tab>
        <super-tab [root]="tab3Page" icon="custom-notification-center-direction-icon"></super-tab>
        <super-tab [root]="tab4Page" icon="custom-notification-contoller-icon"></super-tab> -->

        <super-tab [root]="tab1Page" title="Exclusives Catalogue"></super-tab>
        <super-tab [root]="tab2Page" title="My Catalogue"></super-tab>
        <!-- <super-tab [root]="tab3Page" title="Others"></super-tab> -->
        <!-- <super-tab [root]="tab4Page" [title]="custom-notification-contoller-icon"></super-tab> -->
    </super-tabs>
</ion-content>