<!--
  Generated template for the StoreLocatorStoreDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>Store Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="page-container">
        <div id="store-map" class="store-map" (click)="openMap()">
        </div>

        <div class="store-info">
            <div class="store-title">STORENAME _TITLE</div>
            <div class="store-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>

        <div class="store-schedule">
            <div class="title">Opening Hours</div>
            <ion-select interface="popover" placeholder="Select Time" class="full-width-select">
                <ion-option selected>(Monday) 10:00AM-09:00PM</ion-option>
                <ion-option>(day) XX:XXAM-09:00PM</ion-option>
            </ion-select>
        </div>

        <div class="store-phone">
            <span class="float-left">+60 0123456789</span>
            <i class="store-phone-icon float-right"></i>
        </div>

        <div class="store-service-details" [ngx-scroll-to]="'#destination'" [hidden]="!serviceDetailsHidden" (click)="toggleServiceDetails()">
            <div class="title">Service details</div>
            <i class="arrow-down-icon float-right"></i>
        </div>

        <div class="store-service-details" [hidden]="serviceDetailsHidden" (click)="toggleServiceDetails()">
            <div class="title">Service details</div>
            <i class="arrow-up-icon float-right"></i>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum 2</p>
            <p>Lorem ipsum 3</p>
          <div id="destination"></div>
        </div>

    </div>

    <div class="button-container">
        <button ion-button class="default-button">
      Call To Action
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
    </div>
</ion-content>
