<!--
  Generated template for the DetailedUsageTalkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>
    <!-- Talk Slide -->

    <!--Talk-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="phone-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">Talk</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tabular-list with-total">
                <div class="tabular-row">
                    <span class="float-left">Usage Since</span>
                    <span class="float-right">04/09/2017</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">Same Network</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">Other Network</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">IDD</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-list-footer">
                    <hr/>
                    <span class="float-left">Total Chanrge</span>
                    <span class="float-right">RM0.00</span>
                </div>


            </div>
        </div>

        <div class="card-footer">
        </div>

    </div>


    <!--Unlimited Calls-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="share-icon icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Unlimited Calls</div>
                    <div class="sub">Within the same network RM1 daily</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>



    <!-- Kad Ceira-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="kad-icon  icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Kad Ceria</div>
                    <div class="sub">Enjoy 10% off every reload for network to network calls and messages.</div>
                </div>
            </div>
        </div>

        <div class="card-content"></div>

        <div class="card-footer"></div>

    </div>
    <button ion-button class="default-button">
      Buy More
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>

</ion-content>