<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Support</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list class="default-list-item">
        <button ion-item (click)="goToDeviceSelfHelp()">
      Device Self Help
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item (click)="goToSpeedTest()">
      NZOOM Speed
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item (click)="goToPuk()">
      PUK Inquiry
      <div class="arrow-forward-icon"></div>
    </button>
        <button ion-item (click)="goToFaq()">
        FAQ
        <div class="arrow-forward-icon"></div>
      </button>
      <button ion-item (click)="goToStoreLocator()">
        Store Locator
        <div class="arrow-forward-icon"></div>
      </button>
      <button ion-item (click)="goContactUs()">
        Contact us
        <div class="arrow-forward-icon"></div>
      </button>
        <button ion-item (click)="goToFeedback()">
        Feedback
        <div class="arrow-forward-icon"></div>
      </button>
    </ion-list>
</ion-content>
