<!--
  Generated template for the SubInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="subtitle">
        Late Night Internet
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
    </ion-scroll>

    <div class="subtitle">
        Video Walla
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- DAY BASIC INTERNET PASS
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                7-DAY 3-IN- 1 PASS
           </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                1- Day Social Roam Pass
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
    </ion-scroll>

    <div class="subtitle">
        Music Walla
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 10 MB
          </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              Monthly 500 MB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
    </ion-scroll>

    <div class="subtitle">
        Video Walla
    </div>

    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
              30DAYS NIGHT  15 GB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                30DAYS NIGHT  15 GB
          </span>
            <span class="internet-card-subtitle">
              RM 50
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                30DAYS NIGHT  15 GB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
        <div class="internet-card float-left" (click)="goToDetailsPage()">
            <span class="internet-card-title">
                30DAYS NIGHT  15 GB
          </span>
            <span class="internet-card-subtitle">
              RM 30
          </span>
        </div>
    </ion-scroll>
</ion-content>