<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- user profile -->
  <ion-list class="default-list-item">
        <button ion-item (click)="goToPaymentMethods()">
      Payment Methods
      <div class="arrow-forward-icon"></div>
    </button>
 </ion-list>

</ion-content>

