page-settings {
    
    
    .item-inner {
        background-image: none !important;
        padding-right: 10px !important;
        border-bottom: 1px solid #c8c7cc !important;

        .arrow-forward-icon {
            background-color: #999 !important;;
            width: 14px !important;
            height: 14px !important;
            float: right;
        }
    }
    
    .item-block:first-child {
        border-top: 0px !important;
    }
    .item-block:last-child {
        border-bottom: 0px !important;
        .item-inner {
            border-bottom: 1px solid #c8c7cc !important;
        }
    }

  .profile-img-holder img {
    width: 50px;
    height: 50px;
  }

  .profile-user-name {
    color: #29d7e6;
  }

  .settings-list-header {
    font-size: large;
  }

  .settings-list-item-main {
    font-size: medium;
  }

  .settings-list-item-sub {
    font-size: small;
  }
}
