page-offering {
    .offering-header {
        background-color: #FFF;
        padding: 10px;
        span {
            /* Find a wide range of: */
            font-size: 14px;
            color: #000;
            letter-spacing: 0;
            line-height: 18px;
        }
    }
    .grid {
        .row {
            margin-bottom: 5px;
        }
        .col {
            padding: 6px 6px 0px 6px;
        }
    }
    .card {
        height: 192px;
        width: 100%;
        margin: 0px 0px 0px;
        border-radius: 8px !important;
        position: relative;
        img {
            position: absolute;
            z-index: 0;
            // max-height: 177px;
        }
        .offering-content {
            padding: 0px 9px 9px 9px;
            z-index: 10;
            position: absolute;
            bottom: 3.5px;
            background-color: #FFF;
            width: 100%;
            height: 60px;
            span {
                text-overflow: ellipsis;
                white-space: normal;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
            .offering-card-title {
                font-family: $font-familyBold;
                font-size: 16px;
                color: #333333;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                padding-top: 2px;
                color: #333333;
                letter-spacing: 0;
                white-space: normal;
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.XPAX page-offering {
    .card {
        .offering-content {
            .offering-card-title {
                color: $XPAX-primary-Color;
            }
        }
    }
}

@media (min-width: 700px) {
    page-offering {
        .card {
            height: 314px;
        }
    }
}