page-redeemed {
    .content {
        background: url(../assets/img/normal_page_bg.jpg) no-repeat !important;
        background-size: 100% auto !important;
    }
}


.XPAX page-redeemed {
    .content {
        background: url(../assets/img/detailed_usage_card_bg_xpax.png) no-repeat !important;
        background-size: 100% auto !important;
    }
}
