<!--
  Generated template for the NotificationTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <!-- <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card>

  <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card>
  <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card>
  <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card>
  <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card>
  <ion-card>
    <div>
      <span>Lorem ipsum</span>
    </div>
    <ion-card-header>
      <span> Lorem ipsum</span>
    </ion-card-header>
    <ion-card-content>
      <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
    </ion-card-content>
    <hr>
    <button clear ion-button icon-end>
      <span>Action Now</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
  </ion-card> -->
</ion-content>