page-subscription-select-country {
    .dismiss-btn {
        margin: 30px 0 0 23px;
        button {
            background: none;
        }
    }
    .content-title {
        /* Plan Type: */
        font-family: $font-familyBold;
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 30px;
        padding-top: 24px;
        padding-left: 16px;
    }
    .input-icon {
        width: 20px;
        height: 20px;
    }
    .search-box-container {
        width: 100%;
      padding-right: 16px;
        .search-box {
            display: inline-flex;
            width: 100%;
          border:none !important;
            .item-inner{
              border-bottom: 1px solid #c8c7cc !important;
            }
            input {
                width: calc(100% - 50px);
                font-size: 16px;
                color: #333333;
                line-height: 20px;
            }
            img {
                margin-top: 12px;
            }
        }
    }
    ion-list {
        padding-top: 10px;
        .item {
            height: 52px;
            border-bottom: 1px solid #CCCCCC !important;
            &button {
                font-size: 16px;
                color: rgba(51, 51, 51, 0.87);
                line-height: 20px;
            }
            .item-inner {
                background-image: none !important;
            }
        }
    }
}
