<!--
  Generated template for the SubscriptionSelectCountryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <!-- <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subscriptions</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
    <div class="dismiss-btn">
        <button (click)="dismiss()"><i class="close-icon"></i></button>
    </div>
    <div class="content-title">Plan Type</div>

    <div class="search-box-container">
        <div ion-item class="search-box" no-lines no-border>
            <ion-input type="text" placeholder="Search Country"></ion-input>
            <img item-end class="input-icon" src="./assets/img/Oval.png">
        </div>

    </div>

    <ion-list no-lines (click)="dismiss()">
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>
        <button ion-item>Country</button>

    </ion-list>


</ion-content>
