// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoBold';
  src: url('../assets/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../assets/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;

}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;

}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:#009ade,
  secondary:#32db64,
  danger:#f53d3d,
  light:#f4f4f4,
  dark:#222
);

//celcom default theme colors
$primary-Color: #009ade;
$secondary-color: #32db64;
$dangerColor: #f53d3d;
$lightColor: #f4f4f4;
$darkColor: #222;

$primary-color-gradient: linear-gradient(51deg, #20D3D3 0%, #199BDB 100%);


//XPAX theme colors
$XPAX-primary-Color: #D1209B;
$XPAX-secondary-color: #32db64;
$XPAX-dangerColor: #f53d3d;
$XPAX-lightColor: #f4f4f4;
$XPAX-darkColor: #222;

$XPAX-primary-color-gradient: linear-gradient(-49deg, #9C28B1 0%, #FF7002 100%);



//ion-badge raduis defa
$badge-md-border-radius: 10px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";

$font-family: Lato;
$font-familyBold: LatoBold;

