page-boost-wallet-confirmation {


  hr {
    height: 1px !important;
  }

  .phone-number {
    padding: 15px 5px 5px 15px;
    span{
      font-family: $font-familyBold;
      font-size: 20px;
      color: #333333;
      line-height: 24px;
    }
  }

  .boost-wallet-title {
    /* Boost Wallet Balance: */

    padding:5px 15px;
    span {
      font-family: $font-family;
      font-size: 16px;
      color: #666666;
      line-height: 20px;
    }
  }


  .text-container {

    margin: 15px;

    span {
      font-family: $font-familyBold;
      font-size: 14px;
      color: #333333;
    }
  }


  .text-container1 {

    margin-top: 10px;
    span {
      font-family: $font-familyBold;
      font-size: 14px;
      color: #333333;
    }

    .row.header {
      span {
        font-family: $font-familyBold;
        font-size: 14px;
        color: #333333;
      }
    }

    .row {
      display: inline-block;
      width: 100%;
      margin: 5px 0 5px 0;
      span {
        font-family: $font-family;
        font-size: 14px;
        color: #333333;
        line-height: 16px;
      }
    }
  }
  .text-container2 {
    font-size: 16px;
    font-family: $font-family;
    color: #333333;
    line-height: 20px;
  }
  .rectCollapseCont {
    background-color: rgba(216, 216, 216, 0.15) !important;
    margin-top: 20px;
    padding: 15px;
    .imgShape {
      background-color: $primary-Color;
      width: 20px;
      padding-top: 5px;
      padding-right: 5px;
    }
  }
  .rectTitle {
    /* Cost: RM 30: */
    font-family: $font-familyBold;
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    display: inline-block
  }
  .spanTextB {
    font-family: $font-familyBold;
  }
  .confirmBtn {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
    .terms-container {
      padding: 10px 0;
      .terms_cond {
        display: inline-flex;
        width: 60%;
        margin: 0 20%;
        color: #333;
        font-size: 12px;
        .checkbox {
          margin: 8px 10px 8px 2px !important;
          border-color: #009ade;
          .checkbox-icon {
            border-radius: 3%;
            border-color: rgba(1, 1, 1, 0.54);
            width: 17px;
            height: 17px;
          }
        }
        .item-cover {
          width: 12%;
        }
        .item-inner {
          border-bottom: none !important;
          a {
            color: #009ADE;
          }
        }
      }
      .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 4.3px;
        top: 0px;
        width: 7px;
        height: 13px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
      }
      ion-label {
        white-space: normal;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;
        a {
          padding: 0px;
        }
      }
      a {
        width: 100%;
        display: inline-block;
        font-family: $font-familyBold;
        font-size: 14px;
        color: $primary-Color;
        line-height: 14px;
        padding: 10px 0 5px;
        i {
          width: 13px;
          height: 10px;
          background-color: $primary-Color;
        }
      }
      .accept-terms {
        width: auto !important;
      }
    }
    button {
      width: 90%;
      margin: 0 auto;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 18px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
      border-radius: 100px;
      outline: none !important;
    }
  }
}

.XPAX {
  page-boost-wallet-confirmation {
    .terms-container {
      a {
        color : $XPAX-primary-Color !important;
        .arrow-forward-icon {
          background-color: $XPAX-primary-Color;
        }
      }
    }

    .imgShape {
      background-color: $XPAX-primary-Color;
    }
  }
}
