<!--
  Generated template for the ConfirmationScreensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Confirm your Purchase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="phone-number">
    <span>019-999-9999</span>
  </div>

  <div class="boost-wallet-title">
    <span>Boost Wallet Balance RM 3000.00</span>
  </div>

  <hr/>
  <div class="text-container">
    <div class="row">
      <span class="float-left">Buy with</span>
      <span class="float-right">019-999-9999</span>
    </div>

  </div>

  <div class="rectCollapseCont" [hidden]="myVar" (click)="toggleList()">
    <div class="rectTitle">Cost: RM 30</div>
    <i class="float-right imgShape arrow-down-icon" ></i>
  </div>

  <div class="rectCollapseCont" [hidden]="!myVar" (click)="toggleList()">
    <div class="rectTitle">Cost: RM 30</div>
    <i class="float-right imgShape arrow-up-icon" ></i>

    <div class="text-container1">
      <div class="row header">
        <span class="float-left">Items</span>
        <span class="float-right">Cost in RM</span>
      </div>

      <div class="row">
        <span class="float-left">RM30 Credit Reload</span>
        <span class="float-right">RM 30.00</span>
      </div>

      <hr/>
      <div class="row header">
        <span class="float-left">Total</span>
        <span class="float-right">RM 30.00</span>
      </div>
    </div>

  </div>

  <div class="text-container">Deduct using Boost Wallet</div>

  <div class="confirmBtn">

    <div  class="terms-container">
      <a>Change Boost Account <i class="arrow-forward-icon"></i> </a>
    </div>


    <button ion-button class="default-button" (click)="presentsucess()">
      Confirm
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>



  </div>

</ion-content>
