<!--
  Generated template for the CreditAdvancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left">
            <span class="internet-card-subtitle">
                RM 30
            </span>
        </div>
        <div class="internet-card selected float-left">
            <span class="internet-card-subtitle">
                RM 50
            </span>
        </div>
        <div class="internet-card float-left">
            <span class="internet-card-subtitle">
                RM 30
            </span>
        </div>
        <div class="internet-card float-left">
            <span class="internet-card-subtitle">
                RM 30
            </span>
        </div>
    </ion-scroll>
    <span class="service-fee">*Service Fee RM 0.50</span>

    <div class="button-container">
        <span class="text-center">All charges are inclusive 6% GST</span>
        <button class="default-button">Call To Action</button>
    </div>

</ion-content>