<!--
  Generated template for the MobileConnectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
<ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>
-->
<ion-content padding class="page-mobileConnect">

  <h3 class="headerDiv">Enter your <br> Phone Number</h3>
  <ion-label class="phoneNumberLbl">Phone Number</ion-label>
  <ion-item class="inputItem">
    <ion-input [(ngModel)]="mobileInput" maxlength="10" type="tel" placeholder="E.g. 019 987 6543"
               (ionChange)="enableLogin()"></ion-input>
  </ion-item>

  <div class="btnDivContainer">
    <button class="default-button before-login" ion-button (click)="navigatetoTAC()" [disabled]="!isenabled">Send OTP</button>
  </div>

</ion-content>
