page-mobile-connect {
    .content {
        background: #ffffff;
    }
    .headerDiv {
        font-size: 32px;
        color: #333333;
        line-height: 36px;
        padding-left: 6px;
        padding-top: 80px;
        font-weight: bold;
    }
    .phoneNumberLbl {
        display: none;
        font-family: Helvetica;
        font-size: 20px;
        color: #666666;
        line-height: 20px;
        padding-left: 8px;
        padding-top: 32px;
    }
    .inputItem {
        padding: 0 7px;
        margin-top: -3px;
        .item-inner{
            .input-wrapper{
                input{
                    margin:11px 8px 0px 0px;
                }
            }
        }
        
    }
    .btnDivContainer {
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
            outline: none !important;
        }
        button:focus {
            outline: none !important;
        }
        //    [disabled] {
        //      background-color: #CFCFCF;
        //      opacity: 1;
        //    }
    }
    .arrow-backward-icon {
        margin-top: 39px;
        padding-left: 58px;
    }
}