<ion-menu [content]="content" type="overlay" swipeEnabled="false">
    <div class="menu-bg">
        <div class="menu-bg-top-container">
            <div menuToggle class="close-icon"></div>
            <div class="profilePicContainer">
                <img class="celcom-img" src="./assets/img/celcom_img.png" alt="" />
                <img class="xpax-img" src="./assets/img/xpax_img.png" alt="" />
            </div>
            <div class="dropdown-numbers no-select ">
                +60 01966 73850
            </div>
            <div class="dropdown-numbers  hide">
                <ion-item>
                    <ion-select interface="popover" [selectOptions]="selectOptions" placeholder="Phone Numbers">
                        <ion-option selected value="0">+60 01966 73850</ion-option>
                        <ion-option value="1">+60 01966 73851</ion-option>
                        <ion-option value="2">+60 01966 7385</ion-option>
                        <ion-option value="3">+60 01966 738</ion-option>
                        <ion-option value="4">+60 01966 73</ion-option>
                        <ion-option value="5">+60 01966 </ion-option>
                        <ion-option value="6">+60 01966 73856</ion-option>
                        <ion-option value="7">+60 01966 73857</ion-option>
                        <ion-option value="8">+60 01966 73858</ion-option>
                        <ion-option value="9">+60 01966 73859</ion-option>
                        <ion-option value="10">+60 01966 73860</ion-option>
                        <ion-option value="11">+60 01966 73861</ion-option>
                        <ion-option value="12">+60 01966 73862</ion-option>
                        <ion-option value="13">+60 01966 73863</ion-option>
                        <ion-option value="14">+60 01966 73864</ion-option>
                        <ion-option value="15">+60 01966 73865</ion-option>
                        <ion-option value="16">+60 01966 73866</ion-option>
                        <ion-option value="17">+60 01966 73867</ion-option>
                        <ion-option value="18">+60 01966 73868</ion-option>
                        <ion-option value="19">+60 01966 73869</ion-option>
                        <ion-option value="20">+60 01966 73870</ion-option>
                        <ion-option value="21">+60 01966 73871</ion-option>
                        <ion-option value="22">+60 01966 73872</ion-option>
                        <ion-option value="23">+60 01966 73873</ion-option>
                        <ion-option value="24">+60 01966 73874</ion-option>
                        <ion-option value="25">+60 01966 73875</ion-option>
                        <ion-option value="26">+60 01966 73876</ion-option>
                        <ion-option value="27">+60 01966 73877</ion-option>
                        <ion-option value="28">+60 01966 73878</ion-option>
                        <ion-option value="29">+60 01966 73879</ion-option>
                        <ion-option value="30">+60 01966 73880</ion-option>
                        <ion-option value="31">+60 01966 73881</ion-option>
                        <ion-option value="32">+60 01966 73882</ion-option>
                    </ion-select>
                </ion-item>
                <i class="arrow-down-icon"></i>
            </div>
            <div class="plan-title text-center">
                <span class="celcom-plan">FIRST™ Platinum Plus for Business</span>
                <span class="xpax-plan">You are on X24 | Kaw-Kaw Squad</span>
            </div>
        </div>
        <ion-scroll class="menu-list" scrollY="true">
            <ion-list>
                <div ion-item class="menuItem" menuClose *ngFor="let p of pages" (click)="openPage(p)">
                    <div class="icon-cont float-left">
                        <i class="{{p.iclass}}"></i>
                    </div>
                    <span>{{p.title}}</span>
                </div>
            </ion-list>
        </ion-scroll>
        <div class="settings-btn-container" menuClose (click)="logout()">
            <i class="logout-icon"></i>
            <span>Log Out</span>
            <span class="versionCont">Version 10.3.2</span>
        </div>
    </div>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>