// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//generic styles
body .ion-page {
    font-family: $font-family;
}
.hiddenGBShare {
    display: none !important;
}
.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix {
    clear: both;
}

.scroll-content {
    overflow-y: auto!important;
}

.scroll-content:before {
    bottom: 0 !important;
}

.header-md::after {
    display: none;
}

.button-md {
    text-transform: none;
}

// .content {
//     background: url("../assets/img/dashboard-bg.png");
//     background-size: 100% auto;
// }
.validation-error {
    display: inline-block;
    color: #EC186A;
    font-size: 14px;
    line-height: 22px;
    width: calc( 100% - 32px);
    margin: 4px 16px;
    padding-right: 25px;
    background: url("../assets/img/icon_val_error.svg") no-repeat right center;
}

.left-popover {
    .popover-wrapper {
        .popover-arrow {
            left: 70px !important;
        }
    }
}

.right-popover {
    .popover-wrapper {
        .popover-arrow {
            left: 280px !important;
        }
    }
}

.center-popover {
    .popover-wrapper {
        .popover-arrow {
            left: 170px !important;
        }
    }
}

.popover-wrapper {
    .popover-content {
        width: 327px;
        max-height: 375px;
    }
    .radio {
        margin: 0;
    }
    .item {
        .item-inner {
            border: 0;
        }
    }
}

.toolbar-background-md {
    background: #fff;
}


//@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
//  .scroll-content {
//    padding-bottom: 34px
//  }
//}

ion-header {
    z-index: 11;
    .toolbar-background {
        background-color: #018485;
    }
    .bar-button {
        color: #fff;
    }
    ion-title {
        padding-left: 50px!important;
        padding-right: 50px!important;
        .toolbar-title {
            color: #fff;
        }
    }
    .header-back-button {
        position: relative;
        width: 10px;
        height: 17px;
        margin-left: 10px;
        .arrow-backward-icon {
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }
        .close-icon {
          background-color: #fff;
          position: absolute;
          top: 0;
          left: 0;
        }
    }
    .bar-button-menutoggle {
        -webkit-mask-image: url('../assets/img/icons/icon_Button-Hamburger.svg');
        mask-image: url('../assets/img/icons/icon_Button-Hamburger.svg');
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-transform: none;
        transform: none;
        background-color: #fff;
        display: inline-block;
        min-width: 24px;
        height: 16px;
        border-radius: 0;
        margin: 0 10px;
        ion-icon {
            display: none;
        }
    }
}

.XPAX ion-header {
    .toolbar-background {
        background-image: linear-gradient(128deg, #831E8C 0%, #CA2099 100%);
    }
}

.error-message {
    .alert-title {
        color: #EA005A !important;
    }
}

.error-button-float-right {
    float: right !important;
}

.success-message {
    font-size: 14px;
    color: #666;
    padding-top: 30px;
    text-align: left;
    float: left !important;
    .alert-title {
        font-family: $font-familyBold;
        color: $primary-Color;
        text-align: left;
        margin-top: 5px;
        padding-left: 5px;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .alert-sub-title {
        text-align: left;
        padding-top: 16px;
        padding-left: 5px;
        font-size: 16px;
        line-height: 20px;
    }
    .alert-message {
        text-align: left;
        padding-top: 12px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .submit-button {
        margin: 10px 0;
        float: left;
        width: 45%;
        height: 65%;
        color: $primary-Color !important;
        font-family: $font-familyBold;
        border-top: 0;
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        .alert-button:last-child {
            font-weight: normal !important;
        }
    }
    .alert-button-group {
        display: block;
        border-top: 1px solid #CDCDCD;
        width: 100%;
        height: 54px;
        margin: 0 auto;
        .alert-button:last-child {
            font-weight: normal !important;
        }
    }
    .alert-wrapper {
        border-radius: 13px;
        max-width: 295px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
        .alert-head {
            text-align: center;
            padding: 12px 16px 7px;
        }
    }
    &.alert-3btn{
        .alert-button-group {
            height:auto;
        }
        .submit-button {
            width:100%;
            height: 44px;
            margin:0;
            padding:10px 0;
            border-bottom:1px #ccc solid;
        }
        .submit-button:last-child {
            border-bottom:0;
        }
    }
}

.checkbox-ios {
    .checkbox-icon {
        border-radius: 2px !important;
        border-color: rgba(1, 1, 1, 0.54) !important;
        width: 16px !important;
        height: 16px !important;
    }
    .checkbox-checked {
        border-color: $primary-Color !important;
        .checkbox-inner {
            width: 6px !important;
            height: 12px !important;
        }
    }
}

.XPAX .checkbox-ios {
    .checkbox-checked {
        border-color: $XPAX-primary-Color !important;
    }
}

//default button
.default-button {
    //background-image: linear-gradient(51deg, #20D3D3 0%, #199BDB 100%);
    background-color: $primary-Color;
    border-radius: 100px;
    width: 150px;
    height: 44px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
    color: #fff;
    //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    &.before-login {
        // background-image: linear-gradient(51deg, #20D3D3 0%, #199BDB 100%);
    }
    .XPAX-Right-Bubble,
    .XPAX-Left-Bubble {
        display: none;
    }
}

.XPAX .default-button {
    /* Mask: */
    background-image: linear-gradient(45deg, #FF7002 0%, #D1209B 100%);
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    .XPAX-Right-Bubble {
        background: url("../assets/img/Button-XPAX-Right-Bubble.png") no-repeat center top;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 33px;
        height: 44px;
        z-index: 1;
        display: block;
        background-size: 100% auto;
    }
    .XPAX-Left-Bubble {
        background: url("../assets/img/Button-XPAX-Left-Bubble.png") no-repeat center top;
        position: absolute;
        top: 0px;
        Left: 0px;
        width: 128px;
        height: 44px;
        z-index: 1;
        display: block;
        background-size: 100% auto;
    }
}

//default Toggle
.default-toggle {
    &.toggle {
        position: relative;
        width: 54px;
        height: 28px;
        .toggle-inner {
            left: 10px;
            top: 6px;
            width: 16px;
            height: 16px;
            background: #fff;
        }
        .toggle-icon {
            width: 54px;
            height: 28px;
        }
    }
    &.toggle.toggle-checked {
        .toggle-icon {
            background-color: $primary-Color;
            //background-image: linear-gradient(51deg, #20D3D3 0%, #199BDB 100%);
        }
    }
}

.XPAX .default-toggle {
    &.toggle.toggle-checked {
        .toggle-icon {
            background: url('../assets/img/Button-XPAX-toggle.png') no-repeat;
            background-size: 100% 100%;
        }
    }
}

//swiper pagination
.swiper-pagination-bullet {
    background: rgba(128, 128, 128, 0.5);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: $primary-Color;
}

.XPAX {
    .swiper-pagination-bullet-active {
        background: $XPAX-primary-Color;
    }
}

.card {
    display: inline-block;
    margin: 8px 16px 8px;
    width: calc(100% - 32px);
    /* BG: */
    background: #FFFFFC;
    //box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    border-radius: 16px;
    .card-header {
        display: inline-block;
        width: 100%;
    }
}

.primary-title {
    display: inline-block;
    width: 100%;
    padding: 16px;
    .card-img {
        float: left;
        display: inline-block;
        margin-right: 10px;
        img {
            height: 40px;
            width: 40px;
        }
        .icon {
            background-color: #999999;
            height: 40px;
            width: 40px;
        }
    }
    .card-title {
        display: inline-block;
        float: left;
        width: calc(100% - 52px);
        &.single-title {
            padding: 12px 0px;
        }
        .main {
            /* Title Goes Here: */
//            font-family: $font-familyBold;
            font-size: 20px;
            color: rgba(51, 51, 51, 0.87);
            line-height: 20px;
            width: 100%;
        }
        .sub {
            padding-top: 4px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            line-height: 18px;
            width: 100%;
        }
    }
}

.availability-and-usage {
    display: inline-block;
    width: 100%;
    padding: 8px 16px 16px 16px;
    .usage-card-data {
        display: inline-block;
        width: 100%;
        .usage {
            font-size: 48px;
            font-family: $font-familyBold;
            color: #333333;
            letter-spacing: 0;
            line-height: 48px;
            span {
                line-height: 20px;
                font-size: 24px;
            }
        }
    }
    .unit-used {
        color: #333333;
        display: inline-block;
        width: 100%;
    }
}

.content-block-actions {
    padding: 16px 16px 12px 16px;
    width: 100%;
    display: inline-block;
    .title {
        float: left;
        width: calc(100% - 80px);
        text-align: left;
        margin-bottom: 5px;
        .title-main {
            /* Auto Renew: */
            font-size: 16px;
            color: #333;
            line-height: 16px;
            margin-bottom: 5px;
            width: 100%;
            margin-left: 3px;
            margin-top: 5px;
        }
        .title-sub {
            /* Turn off auto renewa: */
            font-size: 12px;
            color: #999;
            line-height: 12px;
        }
        .action-call-more {
            font-family: $font-familyBold;
            font-size: 14px;
            color: #009ADE;
            line-height: 14px;
            .arrow-forward-icon {
                display: inline-block;
                background-color: #009ADD;
                float: right;
                margin-top: 3px;
                margin-left: 15px;
                height: 11px;
            }
        }
      &.without-toggle {
        width: 100%;
      }
    }
    .default-toggle {
        margin-top: 7px;
    }
}

.secondary-text {
    width: 100%;
    padding: 16px 16px 8px 16px;
    &.padding-bottom-4 {
        padding-bottom: 4px;
    }
    display: inline-flex;
    img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
    }
    span {
        font-size: 16px;
        font-weight: bold;
        height: 20px;
    }
    &.small {
        width: 100%;
        span {
            font-size: 12px !important;
            color: #999999;
            letter-spacing: 0;
            line-height: 16px;
        }
    }
}

.supporting-text {
    padding: 16px 16px 16px 16px;
    font-size: 16px;
    line-height: 20px;
}

.tabular-list {
    display: inline-block;
    padding: 8px 16px;
    width: 100%;
    .tabular-row {
        //height: 32px;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        width: 100%;
        display: inline-block;
        margin-bottom: 5px;
        span {
            //padding: 8px 0px;
        }
    }
    &.with-total {
        padding: 8px 16px 16px 16px !important;
        .tabular-list-footer {
            display: inline-block;
            width: 100%;
            font-weight: bold;
            hr {
                height: 1px;
            }
            span {
                font-size: 14px;
                color: #333333;
                line-height: 16px;
            }
        }
    }
}

.divider {
    display: table;
    width: 100%;
    hr {
        height: 1px !important;
        margin: 1px 0;
    }
}

//overlay
ion-backdrop {
    opacity: 0.3!important;
}

//**** generic iocns styles start  ****//
//**** generic iocns styles start  ****//
//**** generic iocns styles start  ****//

ion-icon {
    // common for all icons
    &[class*="custom-"] {
        font-family: $font-family;
        display: inline-block;
        -webkit-mask-size: 100% 100%;
        background-color: #333;
    }
    //common for all notification icons
    &[class*="custom-notification"] {
        font-family: $font-family;
        display: inline-block;
        -webkit-mask-size: 100% 100%;
        width: 24px;
        height: 24px;
        padding-top: 50px;
    }
    // custom icons
    &[class*="custom-notification-sms-icon"] {
        -webkit-mask-image: url('../assets/img/icons/icon_SMS.svg');
        mask-image: url(../assets/img/icons/icon_SMS.svg);
    }
    &[class*="custom-notification-price-tag-icon"] {
        -webkit-mask-image: url('../assets/img/icons/icon_pay-details.svg');
        mask-image: url(../assets/img/icons/icon_pay-details.svg);
    }
    &[class*="custom-notification-center-direction-icon"] {
        -webkit-mask-image: url('../assets/img/icons/icon_center-direction.svg');
        mask-image: url(../assets/img/icons/icon_center-direction.svg);
    }
    &[class*="custom-notification-contoller-icon"] {
        -webkit-mask-image: url('../assets/img/icons/icon_games.svg');
        mask-image: url(../assets/img/icons/icon_games.svg);
    }
    &[class*="custom-notification-chevron-icon"] {
        width: 22px;
        height: 22px;
        -webkit-mask-image: url('../assets/img/icons/icon_chevron-icon.svg');
        mask-image: url('../assets/img/icons/icon_chevron-icon.svg');
    }
    &[class*="custom-notification-right-arrow-icon"] {
        -webkit-mask-image: url('../assets/img/icons/icon_right-arrow.svg');
        mask-image: url(../assets/img/icons/icon_right-arrow.svg);
    }
    &[class*="custom-notification-alert"] {
        padding-top: 14px !important;
        width: 14px !important;
        height: 12px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
        mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
    }
    &[class*="custom-notification-header"] {
        padding-top: 14px !important;
        width: 14px !important;
        height: 12px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_notification-header.svg');
        mask-image: url('../assets/img/icons/icon_notification-header.svg');
    }
    &[class*="custom-notification-paydetails"] {
        padding-top: 14px !important;
        width: 14px !important;
        height: 14px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_pay-details.svg');
        mask-image: url('../assets/img/icons/icon_pay-details.svg');
    }
    &[class*="custom-reload"] {
        font-family: $font-family;
        display: inline-block;
        -webkit-mask-size: 100% 100%;
        width: 24px;
        height: 24px;
        padding-top: 50px;
    }
    &[class*="custom-reload-internet"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_internet-plan.svg');
        mask-image: url('../assets/img/icons/icon_internet-plan.svg');
    }
    &[class*="custom-reload-group"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_16-digit-pin.svg');
        mask-image: url('../assets/img/icons/icon_16-digit-pin.svg');
    }
    &[class*="custom-reload-paynow"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 19.5px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_auto-reload.svg');
        mask-image: url('../assets/img/icons/icon_auto-reload.svg');
    }
    &[class*="custom-reload-card"] {
        padding-top: 14px !important;
        width: 20px;
        height: 20px;
        -webkit-mask-image: url('../assets/img/icons/icon_credit-card.svg');
        mask-image: url('../assets/img/icons/icon_credit-card.svg');
    }
    &[class*="custom-reload-online"] {
        padding-top: 14px !important;
        width: 20px;
        height: 20px;
        -webkit-mask-image: url('../assets/img/icons/icon_online-banking.svg');
        mask-image: url('../assets/img/icons/icon_online-banking.svg');
    }

  &[class*="custom-reload-boots-wallet"] {
    padding-top: 14px !important;
    width: 20px;
    height: 20px;
    -webkit-mask-image: url('../assets/img/icon_boost_wallet.svg');
    mask-image: url(../assets/img/icon_boost_wallet.svg);
  }

    &[class*="custom-reload-credit-card"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_single-card.svg');
        mask-image: url('../assets/img/icons/icon_single-card.svg');
    }
    &[class*="custom-add-ons"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_add-ons.svg');
        mask-image: url('../assets/img/icons/icon_add-ons.svg');
    }
    &[class*="custom-roaming"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_roaming.svg');
        mask-image: url('../assets/img/icons/icon_roaming.svg');
    }
    &[class*="custom-reload-bill-fullamount"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_bill-fullamount.svg');
        mask-image: url(../assets/img/icons/icon_bill-fullamount.svg);
    }
    &[class*="custom-reload-bill-otheramount"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_otheramount.svg');
        mask-image: url(../assets/img/icons/icon_otheramount.svg);
    }
    &[class*="custom-reload-subscription-addons"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_add-ons.svg');
        mask-image: url('../assets/img/icons/icon_add-ons.svg');
    }
    &[class*="custom-reload-subscription-idd"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_idd.svg');
        mask-image: url('../assets/img/icons/icon_idd.svg');
    }
    &[class*="custom-reload-subscription-roaming"] {
        padding-top: 14px !important;
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_roaming.svg');
        mask-image: url(../assets/img/icons/icon_roaming.svg);
    }
    &[class*="custom-credit-transfer"] {
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_credit-transfer.svg');
        mask-image: url(../assets/img/icons/icon_credit-transfer.svg);
    }
    &[class*="custom-credit-advance"] {
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_credit-advance.svg');
        mask-image: url(../assets/img/icons/icon_credit-advance.svg);
    }
    &[class*="custom-validity-extension"] {
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url('../assets/img/icons/icon_validity-extension.svg');
        mask-image: url(../assets/img/icons/icon_validity-extension.svg);
    }

}

.iconClass {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #333;
    display: inline-block;
}

.no-card-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_single-card.svg');
    mask-image: url('../assets/img/icons/icon_single-card.svg');
    height: 20px;
    width: 28px;
    @extend .iconClass;
}

.arrow-forward-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_arrow-forward.svg');
    mask-image: url('../assets/img/icons/icon_arrow-forward.svg');
    width: 11px;
    height: 17px;
    @extend .iconClass;
}

.home-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_Home.svg');
    mask-image: url('../assets/img/icons/icon_Home.svg');
    width: 17px;
    height: 17px;
    @extend .iconClass;
}

.arrow-backward-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_arrow-backward.svg');
    mask-image: url('../assets/img/icons/icon_arrow-backward.svg');
    width: 10px;
    height: 17px;
    @extend .iconClass;
}

.arrow-down-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_arrow-down.svg');
    mask-image: url('../assets/img/icons/icon_arrow-down.svg');
    width: 19px;
    height: 12px;
    @extend .iconClass;
}

.arrow-up-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_arrow-up.svg');
    mask-image: url('../assets/img/icons/icon_arrow-up.svg');
    width: 19px;
    height: 12px;
    @extend .iconClass;
}

.credit-card-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_credit-card.svg');
    mask-image: url('../assets/img/icons/icon_credit-card.svg');
    width: 19px;
    height: 15px;
    @extend .iconClass;
}

.close-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_close-button.svg');
    mask-image: url('../assets/img/icons/icon_close-button.svg');
    width: 18px;
    height: 18px;
    @extend .iconClass;
}

.add-number-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_contact.svg');
    mask-image: url('../assets/img/icons/icon_contact.svg');
    width: 18px;
    height: 18px;
    @extend .iconClass;
}

.share-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_allocated-sharing.svg');
    mask-image: url('../assets/img/icons/icon_allocated-sharing.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.wifi-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_wifi.svg');
    mask-image: url('../assets/img/icons/icon_wifi.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.phone-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_call.svg');
    mask-image: url('../assets/img/icons/icon_call.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.mms-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_MMS.svg');
    mask-image: url('../assets/img/icons/icon_MMS.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.plan-details-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
    mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.paybill-plan-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
    mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
    width: 19px;
    height: 23px;
    @extend .iconClass;
}

.addOn-plan-Icon {
    -webkit-mask-image: url('../assets/img/icons/icon_add-ons.svg');
    mask-image: url('../assets/img/icons/icon_add-ons.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.privileges-plan-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_gift.svg');
    mask-image: url('../assets/img/icons/icon_gift.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.kad-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_kad.svg');
    mask-image: url('../assets/img/icons/icon_kad.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.services-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_services.svg');
    mask-image: url('../assets/img/icons/icon_services.svg');
    width: 19px;
    height: 22px;
    @extend .iconClass;
}

.reload-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_auto-reload.svg');
    mask-image: url('../assets/img/icons/icon_auto-reload.svg');
    width: 17px;
    height: 17px;
    @extend .iconClass;
}

.paybill-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_PayNow.svg');
    mask-image: url('../assets/img/icons/icon_PayNow.svg');
    width: 19px;
    height: 23px;
    @extend .iconClass;
}

.gbShare-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_gb-share.svg');
    mask-image: url('../assets/img/icons/icon_gb-share.svg');
    width: 32px;
    height: 22px;
    @extend .iconClass;
}

.logout-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_log-out.svg');
    mask-image: url('../assets/img/icons/icon_log-out.svg');
    width: 16px;
    height: 16px;
    @extend .iconClass;
}

.privileges-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_Privileges.svg');
    mask-image: url('../assets/img/icons/icon_Privileges.svg');
    width: 19px;
    height: 15px;
    @extend .iconClass;
}

.settings-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_settings.svg');
    mask-image: url('../assets/img/icons/icon_settings.svg');
    width: 16px;
    height: 16px;
    @extend .iconClass;
}

.subscription-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_Subscriptions.svg');
    mask-image: url('../assets/img/icons/icon_Subscriptions.svg');
    width: 16px;
    height: 15px;
    @extend .iconClass;
}

.support-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_Support.svg');
    mask-image: url('../assets/img/icons/icon_Support.svg');
    width: 16px;
    height: 16px;
    @extend .iconClass;
}

.transactionHistory-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_history.svg');
    mask-image: url('../assets/img/icons/icon_history.svg');
    width: 18px;
    height: 15px;
    @extend .iconClass;
}

.kawkaw-icon {
  width: 20px !important;
  height: 20px !important;
  -webkit-mask-image: url('../assets/img/icons/icon-kawkaw.svg');
  mask-image: url(../assets/img/icons/icon-kawkaw.svg);
  @extend .iconClass;
}

.sms-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_SMS.svg');
    mask-image: url('../assets/img/icons/icon_SMS.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.roaming-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_roaming.svg');
    mask-image: url('../assets/img/icons/icon_roaming.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.facebook-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_facebook.svg');
    mask-image: url('../assets/img/icons/icon_facebook.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.youtube-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_youtube.svg');
    mask-image: url('../assets/img/icons/icon_youtube.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.contact-folder-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_contact.svg');
    mask-image: url('../assets/img/icons/icon_contact.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.gp-share-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_group-sharing.svg');
    mask-image: url('../assets/img/icons/icon_group-sharing.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.gp-share-allocate-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_allocated-sharing.svg');
    mask-image: url('../assets/img/icons/icons/icon_allocated-sharing.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.combined-share-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_allocate-more.svg');
    mask-image: url('../assets/img/icons/icon_allocate-more.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.xpax-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_xpax.svg');
    mask-image: url('../assets/img/icons/icon_xpax.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.store-phone-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_call.svg');
    mask-image: url('../assets/img/icons/icon_call.svg');
    width: 19px;
    height: 12px;
    @extend .iconClass;
}

.call-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_call.svg');
    mask-image: url('../assets/img/icons/icon_call.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.bounce-plan-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_internet-plan.svg');
    mask-image: url('../assets/img/icons/icon_internet-plan.svg');
    width: 19px;
    height: 19px;
    @extend .iconClass;
}

.most-popular-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_most-popular.svg');
    mask-image: url('../assets/img/icons/icon_most-popular.svg');
    width: 24px;
    height: 24px;
    @extend .iconClass;
}

.more-data-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_gift.svg');
    mask-image: url('../assets/img/icons/icon_gift.svg');
    width: 24px;
    height: 24px;
    @extend .iconClass;
}

.cap-zone-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
    mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
    width: 24px;
    height: 24px;
    background-color: #fcba35;
    @extend .iconClass;
}

.call-barred-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_lock.svg');
    mask-image: url('../assets/img/icons/icon_lock.svg');
    width: 24px;
    height: 24px;
    background-color: #ef1715;
    @extend .iconClass;
}



.sms-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_SMS.svg');
    mask-image: url('../assets/img/icons/icon_SMS.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.mms-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_MMS.svg');
    mask-image: url('../assets/img/icons/icon_MMS.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.damage-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_damaged-sim.svg');
    mask-image: url('../assets/img/icons/icon_damaged-sim.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.change-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_change-phone-or-upgrade.svg');
    mask-image: url('../assets/img/icons/icon_change-phone-or-upgrade.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.delivery-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_delivery.svg');
    mask-image: url('../assets/img/icons/icon_delivery.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.self-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_shop.svg');
    mask-image: url('../assets/img/icons/icon_shop.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.calendar-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_calendar.svg');
    mask-image: url('../assets/img/icons/icon_calendar.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.present-icon {
    -webkit-mask-image: url('../assets/img/icons/icon_gift.svg');
    mask-image: url('../assets/img/icons/icon_gift.svg');
    width: 22px;
    height: 24px;
    @extend .iconClass;
}

.icon_ {
  -webkit-mask-image: url('../assets/img/icons/icon_.svg');
  mask-image: url('../assets/img/icons/icon_.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_16-digit-pin {
  -webkit-mask-image: url('../assets/img/icons/icon_16-digit-pin.svg');
  mask-image: url('../assets/img/icons/icon_16-digit-pin.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_add-ons {
  -webkit-mask-image: url('../assets/img/icons/icon_add-ons.svg');
  mask-image: url('../assets/img/icons/icon_add-ons.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_allocate-more {
  -webkit-mask-image: url('../assets/img/icons/icon_allocate-more.svg');
  mask-image: url('../assets/img/icons/icon_allocate-more.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_allocated-sharing {
  -webkit-mask-image: url('../assets/img/icons/icon_allocated-sharing.svg');
  mask-image: url('../assets/img/icons/icon_allocated-sharing.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_anyday-gb {
  -webkit-mask-image: url('../assets/img/icons/icon_anyday-gb.svg');
  mask-image: url('../assets/img/icons/icon_anyday-gb.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_arrow-backward {
  -webkit-mask-image: url('../assets/img/icons/icon_arrow-backward.svg');
  mask-image: url('../assets/img/icons/icon_arrow-backward.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_arrow-down {
  -webkit-mask-image: url('../assets/img/icons/icon_arrow-down.svg');
  mask-image: url('../assets/img/icons/icon_arrow-down.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_arrow-forward-button {
  -webkit-mask-image: url('../assets/img/icons/icon_arrow-forward-button.svg');
  mask-image: url('../assets/img/icons/icon_arrow-forward-button.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_arrow-forward {
  -webkit-mask-image: url('../assets/img/icons/icon_arrow-forward.svg');
  mask-image: url('../assets/img/icons/icon_arrow-forward.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_arrow-up {
  -webkit-mask-image: url('../assets/img/icons/icon_arrow-up.svg');
  mask-image: url('../assets/img/icons/icon_arrow-up.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_auto-billing {
  -webkit-mask-image: url('../assets/img/icons/icon_auto-billing.svg');
  mask-image: url('../assets/img/icons/icon_auto-billing.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_auto-reload {
  -webkit-mask-image: url('../assets/img/icons/icon_auto-reload.svg');
  mask-image: url('../assets/img/icons/icon_auto-reload.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_auto-renew {
  -webkit-mask-image: url('../assets/img/icons/icon_auto-renew.svg');
  mask-image: url('../assets/img/icons/icon_auto-renew.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_Button-Hamburger {
  -webkit-mask-image: url('../assets/img/icons/icon_Button-Hamburger.svg');
  mask-image: url('../assets/img/icons/icon_Button-Hamburger.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_call-barred {
  -webkit-mask-image: url('../assets/img/icons/icon_call-barred.svg');
  mask-image: url('../assets/img/icons/icon_call-barred.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_call {
  -webkit-mask-image: url('../assets/img/icons/icon_call.svg');
  mask-image: url('../assets/img/icons/icon_call.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_capzone-1 {
  -webkit-mask-image: url('../assets/img/icons/icon_capzone-1.svg');
  mask-image: url('../assets/img/icons/icon_capzone-1.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_capzone-2 {
  -webkit-mask-image: url('../assets/img/icons/icon_capzone-2.svg');
  mask-image: url('../assets/img/icons/icon_capzone-2.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_change-phone-or-upgrade {
  -webkit-mask-image: url('../assets/img/icons/icon_change-phone-or-upgrade.svg');
  mask-image: url('../assets/img/icons/icon_change-phone-or-upgrade.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_chevron-icon {
  -webkit-mask-image: url('../assets/img/icons/icon_chevron-icon.svg');
  mask-image: url('../assets/img/icons/icon_chevron-icon.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_close-button {
  -webkit-mask-image: url('../assets/img/icons/icon_close-button.svg');
  mask-image: url('../assets/img/icons/icon_close-button.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_contact {
  -webkit-mask-image: url('../assets/img/icons/icon_contact.svg');
  mask-image: url('../assets/img/icons/icon_contact.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_credit-card {
  -webkit-mask-image: url('../assets/img/icons/icon_credit-card.svg');
  mask-image: url('../assets/img/icons/icon_credit-card.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_credit-expiry-notification  {
  -webkit-mask-image: url('../assets/img/icons/icon_credit-expiry-notification .svg');
  mask-image: url('../assets/img/icons/icon_credit-expiry-notification .svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_credit-transfer {
  -webkit-mask-image: url('../assets/img/icons/icon_credit-transfer.svg');
  mask-image: url('../assets/img/icons/icon_credit-transfer.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_damaged-sim {
  -webkit-mask-image: url('../assets/img/icons/icon_damaged-sim.svg');
  mask-image: url('../assets/img/icons/icon_damaged-sim.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_delivery {
  -webkit-mask-image: url('../assets/img/icons/icon_delivery.svg');
  mask-image: url('../assets/img/icons/icon_delivery.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_device-setting {
  -webkit-mask-image: url('../assets/img/icons/icon_device-setting.svg');
  mask-image: url('../assets/img/icons/icon_device-setting.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_download {
  -webkit-mask-image: url('../assets/img/icons/icon_download.svg');
  mask-image: url('../assets/img/icons/icon_download.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_edit {
  -webkit-mask-image: url('../assets/img/icons/icon_edit.svg');
  mask-image: url('../assets/img/icons/icon_edit.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_facebook-messenger {
  -webkit-mask-image: url('../assets/img/icons/icon_facebook-messenger.svg');
  mask-image: url('../assets/img/icons/icon_facebook-messenger.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_facebook {
  -webkit-mask-image: url('../assets/img/icons/icon_facebook_contact.svg');
  mask-image: url('../assets/img/icons/icon_facebook.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_faq {
  -webkit-mask-image: url('../assets/img/icons/icon_faq.svg');
  mask-image: url('../assets/img/icons/icon_faq.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_games {
  -webkit-mask-image: url('../assets/img/icons/icon_games.svg');
  mask-image: url('../assets/img/icons/icon_games.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_gb-share {
  -webkit-mask-image: url('../assets/img/icons/icon_gb-share.svg');
  mask-image: url('../assets/img/icons/icon_gb-share.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_gift {
  -webkit-mask-image: url('../assets/img/icons/icon_gift.svg');
  mask-image: url('../assets/img/icons/icon_gift.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_group-sharing {
  -webkit-mask-image: url('../assets/img/icons/icon_group-sharing.svg');
  mask-image: url('../assets/img/icons/icon_group-sharing.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_happy-face {
  -webkit-mask-image: url('../assets/img/icons/icon_happy-face.svg');
  mask-image: url('../assets/img/icons/icon_happy-face.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_heart {
  -webkit-mask-image: url('../assets/img/icons/icon_heart.svg');
  mask-image: url('../assets/img/icons/icon_heart.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_history {
  -webkit-mask-image: url('../assets/img/icons/icon_history.svg');
  mask-image: url('../assets/img/icons/icon_history.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_idd {
  -webkit-mask-image: url('../assets/img/icons/icon_idd.svg');
  mask-image: url('../assets/img/icons/icon_idd.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_instagram {
  -webkit-mask-image: url('../assets/img/icons/icon_instagram.svg');
  mask-image: url('../assets/img/icons/icon_instagram.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_internet-plan {
  -webkit-mask-image: url('../assets/img/icons/icon_internet-plan.svg');
  mask-image: url('../assets/img/icons/icon_internet-plan.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_internet {
  -webkit-mask-image: url('../assets/img/icons/icon_internet.svg');
  mask-image: url('../assets/img/icons/icon_internet.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_late-night {
  -webkit-mask-image: url('../assets/img/icons/icon_late-night.svg');
  mask-image: url('../assets/img/icons/icon_late-night.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_line {
  -webkit-mask-image: url('../assets/img/icons/icon_line.svg');
  mask-image: url('../assets/img/icons/icon_line.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_lock {
  -webkit-mask-image: url('../assets/img/icons/icon_lock.svg');
  mask-image: url('../assets/img/icons/icon_lock.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_log-out {
  -webkit-mask-image: url('../assets/img/icons/icon_log-out.svg');
  mask-image: url('../assets/img/icons/icon_log-out.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_miscellaneous {
  -webkit-mask-image: url('../assets/img/icons/icon_miscellaneous.svg');
  mask-image: url('../assets/img/icons/icon_miscellaneous.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_MMS {
  -webkit-mask-image: url('../assets/img/icons/icon_MMS.svg');
  mask-image: url('../assets/img/icons/icon_MMS.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_multiple-card {
  -webkit-mask-image: url('../assets/img/icons/icon_multiple-card.svg');
  mask-image: url('../assets/img/icons/icon_multiple-card.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_music {
  -webkit-mask-image: url('../assets/img/icons/icon_music.svg');
  mask-image: url('../assets/img/icons/icon_music.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_new {
  -webkit-mask-image: url('../assets/img/icons/icon_new.svg');
  mask-image: url('../assets/img/icons/icon_new.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_notification {
  -webkit-mask-image: url('../assets/img/icons/icon_notification.svg');
  mask-image: url('../assets/img/icons/icon_notification.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_notifications-filled {
  -webkit-mask-image: url('../assets/img/icons/icon_notifications-filled.svg');
  mask-image: url('../assets/img/icons/icon_notifications-filled.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_ocr {
  -webkit-mask-image: url('../assets/img/icons/icon_ocr.svg');
  mask-image: url('../assets/img/icons/icon_ocr.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_one-time-password {
  -webkit-mask-image: url('../assets/img/icons/icon_one-time-password.svg');
  mask-image: url('../assets/img/icons/icon_one-time-password.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_online-banking {
  -webkit-mask-image: url('../assets/img/icons/icon_online-banking.svg');
  mask-image: url('../assets/img/icons/icon_online-banking.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_otheramount {
  -webkit-mask-image: url('../assets/img/icons/icon_otheramount.svg');
  mask-image: url('../assets/img/icons/icon_otheramount.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_pass {
  -webkit-mask-image: url('../assets/img/icons/icon_pass.svg');
  mask-image: url('../assets/img/icons/icon_pass.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_pay-bill-or-details {
  -webkit-mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
  mask-image: url('../assets/img/icons/icon_pay-bill-or-details.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_pay-per-use {
  -webkit-mask-image: url('../assets/img/icons/icon_pay-per-use.svg');
  mask-image: url('../assets/img/icons/icon_pay-per-use.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_pin {
  -webkit-mask-image: url('../assets/img/icons/icon_pin.svg');
  mask-image: url('../assets/img/icons/icon_pin.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_problem-with-phone {
  -webkit-mask-image: url('../assets/img/icons/icon_problem-with-phone.svg');
  mask-image: url('../assets/img/icons/icon_problem-with-phone.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_profile-setting {
  -webkit-mask-image: url('../assets/img/icons/icon_profile-setting.svg');
  mask-image: url('../assets/img/icons/icon_profile-setting.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_profile-verified {
  -webkit-mask-image: url('../assets/img/icons/icon_profile-verified.svg');
  mask-image: url('../assets/img/icons/icon_profile-verified.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_redemption-reward-notification {
  -webkit-mask-image: url('../assets/img/icons/icon_redemption-reward-notification.svg');
  mask-image: url('../assets/img/icons/icon_redemption-reward-notification.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_roaming {
  -webkit-mask-image: url('../assets/img/icons/icon_roaming.svg');
  mask-image: url('../assets/img/icons/icon_roaming.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_search {
  -webkit-mask-image: url('../assets/img/icons/icon_search.svg');
  mask-image: url('../assets/img/icons/icon_search.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_security-setting {
  -webkit-mask-image: url('../assets/img/icons/icon_security-setting.svg');
  mask-image: url('../assets/img/icons/icon_security-setting.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_services {
  -webkit-mask-image: url('../assets/img/icons/icon_services.svg');
  mask-image: url('../assets/img/icons/icon_services.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_settings {
  -webkit-mask-image: url('../assets/img/icons/icon_settings.svg');
  mask-image: url('../assets/img/icons/icon_settings.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_shop {
  -webkit-mask-image: url('../assets/img/icons/icon_shop.svg');
  mask-image: url('../assets/img/icons/icon_shop.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_single-card {
  -webkit-mask-image: url('../assets/img/icons/icon_single-card.svg');
  mask-image: url('../assets/img/icons/icon_single-card.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_SMS {
  -webkit-mask-image: url('../assets/img/icons/icon_SMS.svg');
  mask-image: url('../assets/img/icons/icon_SMS.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_speed-test {
  -webkit-mask-image: url('../assets/img/icons/icon_speed-test.svg');
  mask-image: url('../assets/img/icons/icon_speed-test.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_store-locator {
  -webkit-mask-image: url('../assets/img/icons/icon_store-locator.svg');
  mask-image: url('../assets/img/icons/icon_store-locator.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_subscriptions {
  -webkit-mask-image: url('../assets/img/icons/icon_subscriptions.svg');
  mask-image: url('../assets/img/icons/icon_subscriptions.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_sucess {
  -webkit-mask-image: url('../assets/img/icons/icon_sucess.svg');
  mask-image: url('../assets/img/icons/icon_sucess.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_telegram {
  -webkit-mask-image: url('../assets/img/icons/icon_telegram.svg');
  mask-image: url('../assets/img/icons/icon_telegram.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_threshold-alert-notification {
  -webkit-mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
  mask-image: url('../assets/img/icons/icon_threshold-alert-notification.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_transaction-history {
  -webkit-mask-image: url('../assets/img/icons/icon_transaction-history.svg');
  mask-image: url('../assets/img/icons/icon_transaction-history.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_twitter {
  -webkit-mask-image: url('../assets/img/icons/icon_twitter.svg');
  mask-image: url('../assets/img/icons/icon_twitter.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_user {
  -webkit-mask-image: url('../assets/img/icons/icon_user.svg');
  mask-image: url('../assets/img/icons/icon_user.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_validity-extension {
  -webkit-mask-image: url('../assets/img/icons/icon_validity-extension.svg');
  mask-image: url('../assets/img/icons/icon_validity-extension.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_viber {
  -webkit-mask-image: url('../assets/img/icons/icon_viber.svg');
  mask-image: url('../assets/img/icons/icon_viber.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_video-call {
  -webkit-mask-image: url('../assets/img/icons/icon_video-call.svg');
  mask-image: url('../assets/img/icons/icon_video-call.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_video {
  -webkit-mask-image: url('../assets/img/icons/icon_video.svg');
  mask-image: url('../assets/img/icons/icon_video.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_wechat {
  -webkit-mask-image: url('../assets/img/icons/icon_wechat.svg');
  mask-image: url('../assets/img/icons/icon_wechat.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_whatsapp {
  -webkit-mask-image: url('../assets/img/icons/icon_whatsapp.svg');
  mask-image: url('../assets/img/icons/icon_whatsapp.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}
.icon_youtube {
  -webkit-mask-image: url('../assets/img/icons/icon_youtube.svg');
  mask-image: url('../assets/img/icons/icon_youtube.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}

.icon_instagram-filled{
    -webkit-mask-image: url('../assets/img/icons/icon_instagram-filled.svg');
  mask-image: url('../assets/img/icons/icon_instagram-filled.svg');
  width: 17px;
  height: 17px;
  @extend .iconClass;
}

//**** generic iocns styles End  ****//
//**** generic iocns styles End  ****//
//**** generic iocns styles End  ****//



.internet-card-container {
    background: #FFF;
    height: 158px;
    white-space: nowrap;
     ::-webkit-scrollbar {
        display: none;
    }
    .scroll-zoom-wrapper {
        display: flex;
    }
    .internet-card {
        margin: 24px 0 0 16px;
        padding: 5px 7px;
        background: #FFF;
        border: 1px solid $primary-Color;
        border-radius: 8px;
        width: 152px;
        min-height:118px;
        display: flex;
        flex-direction: column;
        flex-basis: 152px;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        position: relative;
        ion-icon {
            height: 32px;
            width: 32px;
            background-color: $primary-Color;
        }
        .internet-card-title {
            width: 100%;
            height: 36px;
            text-align: center;
            font-size: 14px;
            color: #000;
            display: flex;
            flex-basis: auto;
            line-height: 18px;
            text-overflow: ellipsis;
            white-space: normal;
            letter-spacing: 0;
            align-items: center;
            justify-content: center;
        }
        .internet-card-subtitle {
            width: 100%;
            height: 28px;
            text-align: center;
            color: #009ade;
            font-size: 24px;
            line-height: 28px;
            font-family: LatoBold;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 8px 0;
        }
        .internet-card-des {
            width: 100%;
            height: 16px;
            text-align: center;
            font-size: 12px;
            color: #000;
            line-height: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            letter-spacing: 0;
        }
        &.payment {
            .internet-card-subtitle {
                font-size: 16px!important;
                margin-top: 8px;
            }
        }
        &.super {
            width: 152px;
            height: 126px;
        }
        &.selected {
            background: $primary-Color;
            .internet-card-title {
                color: #FFF;
            }
            .internet-card-subtitle {
                color: #FFF;
            }
            .internet-card-des {
                color: #FFF;
            }
            ion-icon {
                background-color: #fff !important;
            }
        }
        &.has-badge {
            margin: 40px 0 0 16px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .badge {
                background-color: $primary-Color;
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;
                padding: 6px 10px;
                position: absolute;
                top: -33px;
                left: -1px;
                width: 152px;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                white-space: normal;
                display: inline-block;
                text-align: center;
                span {
                    color: #fff;
                    font-family: $font-familyBold;
                    text-transform: uppercase;
                }
            }
        }
    }
    .internet-card:last-child {
        .internet-card-subtitle {
            width: 130%;
            padding-left:20%;
            padding-right:20%;
        }
    }
}

.XPAX {
    .internet-card-container {
        .internet-card {
            border: 1px solid $XPAX-primary-Color;
            ion-icon {
                background-color: $XPAX-primary-Color;
            }
            .internet-card-subtitle {
                color: $XPAX-primary-Color;
            }
            &.selected {
                background: $XPAX-primary-Color;
                span {
                    color: #fff;
                }
            }
            &.has-badge {
                .badge {
                    background-color: $XPAX-primary-Color;
                }
            }
        }
    }
}

// menu styles
.menu-inner {
    width: 100%;
    .menu-bg {
        display: inline-block;
        width: 100%;
        .menu-bg-top-container {
            background-color: #018485;
            display: inline-block;
            width: 100%;
            .plan-title {
                color: #fff;
                font-family: $font-familyBold;
                font-size: 14px;
                margin: 12px 0 24px;
                .celcom-plan {
                    display: block;
                }
                .xpax-plan {
                    display: none;
                }
            }
        }
        .close-icon {
            position: absolute;
            top: 11px;
            left: 16px;
            padding: 0;
            background-color: #fff;
            -webkit-transform: none;
            transform: none;
        }
        .profilePicContainer {
            width: 62px;
            height: 62px;
//            background-color: #fff;
//            border-radius: 50%;
            padding: 1px;
            margin: 7px auto 3px;
            img {
                width: 60px;
                height: 60px;
//                border-radius: 50%;
            }
            .celcom-img {
                display: block
            }
            .xpax-img {
                display: none
            }
        }
        .dropdown-numbers {
            background: rgba(52, 0, 52, 0.18);
            border-radius: 100px;
            width: fit-content;
            margin: 15px auto 0px;
            padding: 0 20px;
            height: 46px;
            text-align: center;
            position: relative;
            &.no-select{
                padding: 12px 20px;
                color: #fff;
                font-family: $font-familyBold;
                font-size: 18px;
                line-height: 22px;
            }
            .item {
                padding: 0;
                background-color: transparent;
                min-height: auto;
                .item-inner {
                    padding: 0;
                    border: 0;
                    min-height: auto;
                }
            }
            .select {
                padding: 12px 0;
                margin: 0;
                max-width: 100%;
                width: 100%;
                .select-text {
                    color: #fff;
                    font-family: $font-familyBold;
                    font-size: 18px;
                    line-height: 22px;
                    height: 22px;
                    padding-right: 22px;
                }
                .select-icon {
                    display: none;
                }
            }
            i {
                background-color: #fff;
                position: absolute;
                top: 18px;
                right: 12px;
                z-index: 5;
            }
        }
        .menu-list {
            height: calc(100vh - 276px);
            width: 100%;
            background-color: #fff;
            ion-list {
                background-color: #fff;
                margin: 0;
                padding-top: 9px;
                .menuItem {
                    border: 0 !important;
                    padding-left: 25px;
                    height: 47px;
                    .item-inner {
                        background-image: none;
                        border-bottom: 0;
                        .label {
                            span {
                                font-family: $font-family;
                                font-size: 16px;
                                line-height: 22px;
                                color: #333;
                                height: 20px;
                            }
                            .icon-cont {
                                width: 20px;
                                height: 20px;
                                vertical-align: middle;
                                text-align: center;
                                line-height: 22px;
                                margin-right: 10px;
                                i {
                                    vertical-align: middle;
                                    opacity: 0.9;
                                }
                                .paybill-icon {
                                    width: 14px;
                                    height: 17px;
                                }
                                .services-icon {
                                    width: 17px;
                                    height: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .settings-btn-container {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px 25px;
            width: 100%;
            background-color: #fff;
            z-index: 1;
            border-top: 1px #D8D8D8 solid;
            box-shadow: 0 -2px 4px 0 rgba(51, 51, 51, 0.15);
            .logout-icon {
                margin-right: 10px;
            }
            span {
                font-family: $font-family;
                font-size: 16px;
                line-height: 20px;
                color: #333;
            }
            .versionCont {
                float: right;
                font-size: 14px !important;
                color: #666666 !important;
            }
        }

      @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        .settings-btn-container {
          padding-bottom: 34px
        }
      }
    }
     ::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #fbfbfb;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 20px;
    }
     ::-webkit-scrollbar-thumb:window-inactive {
        background: #fbfbfb;
    }
}

.ios ion-menu {
    padding-top: 0;
    .menu-bg {
        .profilePicContainer {
            margin: 39px auto 3px;
        }

        .close-icon {
            top: 31px
        }

      @media only screen
      and (device-width : 375px)
      and (device-height : 812px)
      and (-webkit-device-pixel-ratio : 3) {
        .close-icon {
          top: 44px
        }
      }
        .edit-btn {
            top: 31px
        }
    }
}

.XPAX {
    .menu-inner {
        .menu-bg {
            .menu-bg-top-container {
                background-image: linear-gradient(128deg, #831E8C 0%, #CA2099 100%);
                .plan-title {
                    .celcom-plan {
                        display: none;
                    }
                    .xpax-plan {
                        display: block;
                    }
                }
            }
            .profilePicContainer {
                .celcom-img {
                    display: none
                }
                .xpax-img {
                    display: block
                }
            }
        }
    }
    .item-radio-checked {
        ion-label {
            color: $XPAX-primary-Color;
        }
    }
    .radio-checked {
        .radio-inner {
            border-color: $XPAX-primary-Color;
        }
    }
}

@media (max-width: 360px) {
    .menu-inner {
        .sub-lines {
            button {
                margin: 0 0 0 5px !important;
            }
        }
    }
    .popover-wrapper {
        .popover-content {
            width: 227px;
            max-height: 250px;
        }
    }
}

.default-list-item {
    .item {
        //padding-bottom: 9px;
        .item-inner {
            .input-wrapper {
                ion-label {
                    padding: 8px 10px 12px 0;
                    margin: 0;
                    font-size: 16px;
                    color: #333333;
                    line-height: 20px;
                    .arrow-forward-icon {
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    .item:first-child {
        .item-inner {
            padding-top: 8px !important;
        }
    }
    .item:last-child {
        .item-inner {
            border: none !important;
        }
    }
}

.item:last-child {
    border-bottom: solid 1px #CCCCCC;
}

.inputItem,
.card-inputItem,
.search-box {
    border: none !important;
    .item-inner {
        border-bottom: 1px solid #999 !important;
    }
    &.input-has-focus {
        .item-inner {
            border-bottom: 2px solid !important;
            border-color: $primary-Color !important;
        }
    }
    &.input-has-value {
        .item-inner {
            border-bottom: 2px solid !important;
            border-color: $primary-Color !important;
        }
    }
}

.XPAX {
    .inputItem,
    .card-inputItem,
    .search-box {
        &.input-has-focus {
            .item-inner {
                border-color: $XPAX-primary-Color !important;
            }
        }
        &.input-has-value {
            .item-inner {
                border-color: $XPAX-primary-Color !important;
            }
        }
    }
}
