<!--
  Generated template for the TransactionHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="title-container">
    <span class="float-left">Mobile Number</span>
    <span class="float-right">011-333-2433</span>
  </div>

  <super-tabs>
    <super-tab title="Transaction" [root]="transactionTab"></super-tab>
    <super-tab title="Bill Payment" [root]="billPaymentTab"></super-tab>
  </super-tabs>


</ion-content>
