page-transaction-history {
    
     .item-inner {
        background-image: none !important;
        padding-right: 10px !important;
         border-bottom: 1px solid #c8c7cc !important;
    }
    .item-block:last-child {
        border-bottom: 0px !important;
        .item-inner {
            border-bottom: 1px solid #c8c7cc !important;
        }
    }

  super-tabs {
    super-tabs-toolbar {
      ion-toolbar {
        .tab-buttons-container {
          .indicator {
            background-color: $primary-Color;
          }
          .tab-buttons {
            super-tab-button {
              span {
                text-transform: none !important;
              }
            }
          }
        }
      }
    }
  }
  super-tabs {
    super-tab-button.title-only.selected {
      span {
        color: $primary-Color;
      }
    }
  }

  super-tab {
    .content {
      background:#F3F3F3 url("../../assets/img/normal_page_bg.jpg") ;
      background-size: cover;
    }
  }

  .title-container {
    display: inline-block;
    width: 100%;
    padding: 22px 22px;
    border-bottom: 1px solid #c8c7cc;

    span {
      font-size: 14px;
      color: rgba(51, 51, 51, 0.87);
      line-height: 16px;
    }
  }
  .content-banner {
    width: 100%;
    height: 56px;
    //background: url("../assets/img/transaction-banner-bg.png") #F3F3F3;
    //background-size: cover;
    padding: 16px;
    span {
      font-size: 20px;
      color: #000000;
    }
  }

  ion-list {
    //background: white;
    margin-bottom: -4px !important;
  }

  .transaction-item {
    //display: inline-block;
    width: 100%;
    .first-line {
      width: 100%;
      font-size: 14px;
      color: #333333;
      line-height: 16px;
      margin-bottom: 10px;
    }

    .second-line {
      display: inline-block;
      width: calc(100% - 32px);
      height: 16px;
      margin-right: 10px;

      span {
        font-size: 14px;
        color: #333333;
        line-height: 16px;
      }
    }

    i.icon {
      width: 16px;
      height: 16px;
      &.arrow-forward-icon {
        background-color: #999999;
      }
    }
  }
}

.XPAX {
  page-transaction-history {
    super-tabs {
      super-tab-button {
        height: 43px !important;
        span {
          line-height: 40px !important;
        }
        &.title-only.selected {
          span {
            color: #BE2097;
          }
        }
      }
    }
    super-tabs {
      super-tabs-toolbar {
        ion-toolbar {
          .tab-buttons-container {
            .indicator {
              background-color: #BE2097;
            }
          }
        }
      }
    }


    super-tab {
      .content {
        background: #F3F3F3 url("../assets/img/transaction-tab-bg.png") ;
        background-size: cover;
      }
    }

  }
}
