<!--
  Generated template for the SplashscreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="page-splash-screen">
    <div #btnCon class="btnDivContainer">
        <ion-item class="terms_cond">
            <ion-label>I Accept the <a (click)="viewlegalPage()">Terms & Conditions</a> and <a (click)="viewlegalPage()">Privacy Policy</a></ion-label>
            <ion-checkbox [(ngModel)]="checkboxFlag" type="checkbox" (ionChange)="enableLogin()"></ion-checkbox>
        </ion-item>
        <button ion-button class="default-button before-login" (click)="navigatetoMC()" [disabled]="!ischecked">Login</button>
    </div>
</ion-content>