page-my-deals-modal {
    .content {
        .scroll-content {
            overflow-y: hidden !important;
        }
    }
    ion-header {
        .toolbar {
            padding-top: 5px !important;
        }
        .toolbar-content {
            padding-left: 12px;
            .icon {
                position: absolute;
                left: 8px;
            }
        }
        .toolbar-background {
            background: #FFF;
        }
        span {
            font-size: 16px;
            color: #333333;
            letter-spacing: 0;
            font-weight: normal;
            float: left;
            padding-left: 25px;
        }
        .button {
            height: 12px;
            padding-right: 12px;
            span {
                font-size: 14px !important;
                color: $primary-Color;
                line-height: 14px !important;
                font-family: $font-familyBold !important;
            }
        }
        ion-icon {
            background-color: #B5B5B5 !important;
        }
    }
    .mydeals-content-title {
        /* Confirm Purchase for: */
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        padding-top: 10px;
        padding-left: 2px;
        .right-title {
            /* RM7: */
            line-height: 16px;
            padding-right: 2px;
        }
        .mydeals-content-subtitle {
            font-size: 14px;
            color: #999999;
        }
    }
    hr {
        display: block;
        height: 1px!important;
        border: 0;
        border-top: 0.1px solid #ccc;
        margin: 20px 0 20px;
    }
    .mydeals-num-message {
        /* Service Number: */
        font-size: 16px;
        color: #333333;
        line-height: 16px;
    }
    .number {
        padding-right: 2px;
        font-size: 16px;
    }
    .btnDivContainer {
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100px;
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
        }
    }
    .terms_cond {
        padding: 0 22px;
        color: #333;
        font-size: 12px;
        padding-left: 86px;
        padding-bottom: 13px;
        .checkbox {
            margin: 8px 10px 8px 2px !important;
            border-color: #009ade;
            .checkbox-icon {
                border-radius: 3%;
                border-color: rgba(1, 1, 1, 0.54);
                width: 17px;
                height: 17px;
            }
        }
        .item-cover {
            width: 12%;
        }
        .item-inner {
            border-bottom: none !important;
            a {
                color: #009ADE;
            }
        }
    }
}
.XPAX{
  &.mydeal-modal{
    ion-header{
      .toolbar-background{
          background: none;
      }
      .button {
        span {
           color: $XPAX-primary-Color;
        }
      }
    }
    .terms_cond{
      .item-inner{
        a{
          color: $XPAX-primary-Color;
        }
      }
    }
  }
}


//iphone5
@media (max-width: 360px) {
    page-my-deals-modal {
        .terms_cond {
            padding-left: 45px;
            padding-bottom: 0;
        }
        .btnDivContainer {
            bottom: -2px !important;
        }
    }
}

//nexus 4
@media (width: 384px) {
    page-my-deals-modal {
        .btnDivContainer {
            bottom: 5px !important;
        }
    }
}
