<!--
  Generated template for the DetailedUsageSmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>
    <!-- SMS Slide -->


    <!-- SMS-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="sms-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">SMS</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tabular-list with-total">
                <div class="tabular-row">
                    <span class="float-left">Usage Since</span>
                    <span class="float-right">04/09/2017</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">Same Network</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">Other Network</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">IDD</span>
                    <span class="float-right">RM0.00</span>
                </div>
                <div class="tabular-list-footer">
                    <hr/>
                    <span class="float-left">Total Chanrge</span>
                    <span class="float-right">RM0.00</span>
                </div>


            </div>
        </div>

        <div class="card-footer">
        </div>

    </div>


    <!-- Kad Ceira-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="kad-icon  icon"></i>
                </div>
                <div class="card-title">
                    <div class="main">Kad Ceria</div>
                    <div class="sub">Enjoy 10% off every reload for network to network calls and messages.</div>
                </div>
            </div>
        </div>

        <div class="card-content"></div>

        <div class="card-footer"></div>

    </div>

    <button ion-button class="default-button">
      Buy More
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>

</ion-content>