page-plan-details-terms-and-conditions {


  .close-icon {
    background: #fff;
  }
  .page-container {
    padding: 0 17px;
    .terms-and-conditions-title {
      padding-top:20px;
      .title {
        /* Terms and Conditions: */
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
      }

      .last-update {
        padding-top: 14px;
        /* Last updated on Mont: */
        font-size: 14px;
        color: #999999;
        letter-spacing: 0;
        line-height: 14px;
      }
    }

    .terms-and-conditions-text {
      margin-top:24px;
      p {
        /* Lorem ipsum dolor si: */
        font-size: 16px;
        color: #333333;
        line-height: 20px;
      }
    }
  }
}

.XPAX {
  page-plan-details-terms-and-conditions {

    ion-header {
      ion-title {
        .toolbar-title {
          color: #ffffff;
        }
      }
      background: url("../assets/img/app-bar-xpax.png");
      background-size: 100% 100%;

    }
  }
}
