<!--
  Generated template for the GbSharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton="true">
        <button class="gb-back-button" (click)="goToRoot()">
          <i class="arrow-backward-icon"></i>
      </button>

        <ion-title>GB Share</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="content-container">
        <div class="primary-title">
            <div class="card-img">
                <i class="gp-share-icon icon"></i>
            </div>
            <div class="card-title single-title">
                <div class="main">Group Sharing</div>
            </div>
        </div>
        <div class="supporting-text">
            Content here will be a maximum of 3 lines 16d with 90 chars. I repeat, content here will be a maximum of 3 lines with 90 chars.
        </div>

        <button ion-button class="custom-button" (click)="pushPage()">Switch to Allocated Sharing</button>
    </div>

    <div class="content-banner">
        <span>Total Pool</span>
    </div>


    <div class="content-container">
        <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="999" [expiryDate]="'13/10/17, 23:59, GMT+8'" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">999.9<span> Unit Available</span></span>
            </div>
        </div>

    </div>

    <div class="content-banner">
        <span>Individual Usage</span>
    </div>

    <div class="content-container">

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value1 [minValue]="0" [maxValue]="999" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value1}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value2 [minValue]="0" [maxValue]="999" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value2}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>

        <div class="primary-title small">
            <div class="card-img small">
                <i class="combined-share-icon icon"></i>
            </div>
            <div class="card-title small single-title">
                <div class="main">+6019 199 1919</div>
            </div>
        </div>
        <page-usage-indicator [value]=value3 [minValue]="minValue" [maxValue]="maxValue" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">{{ maxValue - value3}}<span> Unit Available</span></span>
            </div>
        </div>
        <div class="divider">
            <hr/>
        </div>
    </div>

    <div class="button-container">
        <button ion-button class="default-button">
      Buy More Internet
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
    </div>



</ion-content>