<!--
  Generated template for the FaqCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding content content-ios>
    
    
<!-- Component with question and body copy-->
    
  <div class="faqQuestion">What is Celcom Life, and how beneficial is it to me as a FIRST™ customer?</div>
    
  <div class="faqAnswer">
    The Celcom Life app by Celcom is created exclusively to help you check and manage your FIRST™ account.</div>
  
    
<!--  Component with question and bullet points-->
    
  <div class="faqQuestion">How do I delete a saved Credit/Debit Card?</div>
    
  <div class="faqAnswer">
      <ul>
          
        <li> On the dashboard, select ‘Settings’</li>
        <li>Select ‘Manage Payment Method’</li>
        <li>Select the credit card you want to remove from the registered credit card list</li>
        <li>Click on ‘Edit’</li>
        <li>Click on ‘Delete’</li>
        <li>Confirm your intention to delete the card</li>
      
      </ul>
    </div>
    
    
<!--   Component with question, bullet point and body copy-->
    
  <div class="faqQuestion">What features are available in Services?</div>
    
  <div class="faqAnswer">
      <ul>
          
        <li> Ole Ole
          <div>OleOle is the all-new e-gifting service that lets you buy and send a gift, or request a gift from family and friends. Celcom will deliver the purchased gifts for all Celcom customers.</div>
           </li>
          
        <li>Request SIM Replacement
          <div>You can easily request a new SIM card should your current one become damaged or faulty, if your SIM is permanently blocked or, you have changed to a new phone</div>
          </li>
        <li>Manage Validity Extension
          <div>When you still have credit balance but is no longer valid due to expiry date, you may extend the validity by extending the expiry at RM1 per day. However, to enjoy this feature, you must have a minimum of RM1 in credit balance. Terms and conditions apply.</div>
          </li>
          
        <li>Manage Credit Transfer
            <div>As a Celcom prepaid user, you may transfer credit to any other Celcom prepaid number to share your credit. To enjoy this feature, you must have a minimum of RM2 in credit balance. If you are a new Celcom customer, you must utilise a minimum RM10 credit before you can transfer any credit. Terms and conditions apply.</div>
          </li>
          
        <li>Manage Credit Advance
            <div>To ensure service continuity when your credit balance has reached the minimum amount of RM.050, instead of reloading, you may ask for an advance of credit from Celcom. Terms and conditions apply.</div>
          </li>
          
        <li>Upgrade to Latest Plan (where applicable)
          <div>Legacy plan customers currently do not enjoy the latest plan offers and benefits. If you are still a legacy plan customer, you are eligible to upgrade to the latest plan.</div>
          </li>
      
      </ul>
    </div>
    
 


</ion-content>
