page-faq-category {
  ion-content{
    p{
      font-size: 16px;
      color: #000000;
      line-height: 20px;
    }
    li{
      line-height: 24px;
      font-size: 16px;
      color: #000000;
    }
    .content-header{
      font-size: 24px;
      color: #333333;
      font-weight: bold;
    }
      
      .faqQuestion{
          font-size: 16px;
          display: list-item;
          list-style-type: decimal;
          margin-left: 10px;
          font-weight: bold;
      }
      
      .faqAnswer{
          font-size: 16px;
          padding-top: 10px;
          margin-left: 10px;
          padding-bottom: 25px;
          
          ul{
                  margin-top: 0px;
                  padding-left: 20px;
          li{
              div{
                  padding-top: 10px;
                  padding-bottom: 10px;
              }
          }
        }
      }
  }
}
