page-empty-statue {

  .content {
    background-image: url(../assets/img/normal_page_bg.jpg);
    background-size: cover;
  }

  .empty-page-container {
    margin: 16px;
    padding-top: 144px;
    i {
      background-color: $primary-Color;
      height: 64px !important;
      width: 64px !important;
    }

    p {

      font-size: 16px;
      color: #333333;
      line-height: 20px;
    }
  }

}

.XPAX {
  page-empty-statue {
    i {
      background-color: $XPAX-primary-Color;
    }
  }

}
