<!--
  Generated template for the EmptyStatuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menu-toggle-btn">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content >


  <div class="empty-page-container">

    <div class="text-center">
      <i class="roaming-icon"></i>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis erat et magna efficitur faucibus.
      </p>
    </div>
  </div>

</ion-content>
