page-oleole-shop {
    
    super-tabs{
       // padding-top: 6px !important;
    }

    .content {
        background: url("../assets/img/normal_page_bg.jpg");
        background-size: 100% auto;
    }

    
}


.XPAX {
    
    super-tab-button.icon-only.selected {
        ion-icon {
            background: $XPAX-primary-Color;
        }
    }
    .tab-buttons-container {
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
    ion-card {
        button {
            color: $XPAX-primary-Color;
            ion-icon {
                background-color: $XPAX-primary-Color;
            }
        }
    }
}
