<!--
  Generated template for the MyDealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

    <div class="mydeals-title">
        <div>
            <button ion-button clear (click)="dismiss()">
          <i class="close-icon"></i>
        </button>
        </div>
        <div class="title-content">
            <span>Video Walla for Netflix,
                Iflix and many more</span>
        </div>
    </div>
    <ion-grid>

        <ion-row>
            <ion-col col-12>
                <img src="./assets/img/mydeals.png">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div class="my-deals-content">
                    <div class="my-deals-header">
                        <span>MyDeals Video</span>
                    </div>
                    <div class="my-deals-subtitle">
                        <span>Deal expires dd/mm/yy at hh:mm:ss</span>
                    </div>

                    <div class="my-deals-message">
                        <span>Hey Walla, Walla Hey! Worry no more about your data and stream your favourite videos on netflix, iFlix and many more with video walla.</span>
                        <br><br>
                        <span>Subscribe now at RM7 weekly for 10GB.</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>

            <div class="button-container">
                <button ion-button class="default-button" (click)="presenMydealsModal()">
                Subscribe
                <i class="XPAX-Right-Bubble"></i>
                <i class="XPAX-Left-Bubble"></i>
              </button>
                <!-- <button class="default-button explore-btn" (click)="startApp()">Explore Celcom</button> -->
            </div>
        </ion-row>
    </ion-grid>

</ion-content>
