ion-modal.mydeal-modal {
    .modal-wrapper {
        position: absolute;
        width: 100%;
        height: 50.3%;
        bottom: 0;
        /* Rectangle 5: */
        box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.30);
    }
}

@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal.mydeal-modal ion-backdrop {
        visibility: visible;
    }
}

page-my-deals {
    .content {
        .grid {
            padding: 0px;
            img {
                width: 100%;
            }
        }
        .col {
            padding: 0px;
        }
    }
    .mydeals-title {
        position: absolute;
        z-index: 1;
        color: #FFFFFF;
        padding-top: 14px;
        i {
            background-color: #FFF;
        }
        .title-content {
            padding-left: 16px;
            width: calc(100% - 71px);
            span {
                font-size: 24px;
                letter-spacing: 0;
                line-height: 28px;
            }
        }
    }
    .my-deals-content {
        padding-top: 21px !important;
        padding: 16px;
    }
    .my-deals-header {
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 6px;
    }
    .my-deals-subtitle {
        font-size: 14px;
        color: #999999;
        letter-spacing: 0;
        line-height: 14px;
    }
    .my-deals-message {
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        padding-top: 26px;
    }
    .button-container {
        padding:0 16px;
        margin-top: 70px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}


@media (max-width: 360px) {
    page-my-deals {
        .button-container {
            margin-top: 0 !important;
        }
    }
}
.my-deal-card {
    box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.02), 0 6px 16px 0 rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    margin: 16px;

    .card-content {
      position: relative;
      border-radius: 12px 12px 0 0;
      min-height: 200px;

      img {
        display: block;
        width: 100%;
        max-height: 100%;
      }

      .card-icon {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 80px;
        height: 80px;
      }

      .title {
        padding: 16px;
        font-family: $font-familyBold;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 20px;
        position: absolute;
        top:0;
      }

      .sub-title {
        padding: 16px;
        width: 50%;
        font-family: $font-familyBold;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 20px;
        position: absolute;
        top:35px;
      }

      .expiry {
        position: absolute;
        bottom: 0;
        padding: 16px;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 12px;
      }

      .background-img {
        z-index: -1;
        position: absolute;
      }

      .background-overlay {
        z-index: -1;
        height: 100%;
        width:100%;
      }

      &.neutral-colour {

        .title {
          color: #000;
        }

        .sub-title {
          color: #000;
        }

        .expiry {
          color: #000;
        }
      }

      &.background-color-teal {
        background-color: #008c8d;
      }

      &.background-color-crown-of-thorns {
        background-color: #742120;
      }

      &.background-color-desert {
        background-color: #a8551e;
      }

      &.background-color-shadow {
        background-color: #826d49;
      }

      &.background-color-bison-hide {
        background-color: #bab098;
      }

      &.background-color-norway {
        background-color: #9aa893;
      }

      &.background-color-nandor {
        background-color: #496154;
      }

      &.background-color-celtic {
        background-color: #1f382b;
      }

      &.background-color-nile-blue {
        background-color: #21445a;
      }

      &.background-color-tory-blue {
        background-color: #0b448e;
      }

      &.background-color-grey-5 {
        background-color: #f3f3f3;
      }

      &.background-color-my-sin {
        background-color: #fcba35;
      }

      &.background-color-sea-buckthorn {
        background-color: #f69320;
      }

      &.background-color-chelsea-gem {
        background-color: #ee4725;
      }

      &.background-color-rose {
        background-color: #eb005b;
      }

      &.background-color-french-rose {
        background-color: #ec2d80;
      }

      &.background-color-medium-red-violet {
        background-color: #b43581;
      }

      &.background-color-maroon-flush {
        background-color: #ad1e48;
      }

      &.background-color-lucky-point {
        background-color: #221767;
      }
    }

    .card-footer {
      background: white;
      border-radius: 0 0 12px 12px;

      padding: 16px;

      a {
        font-family: $font-familyBold;
        font-size: 14px;
        color: $primary-Color;
        line-height: 20px;

        i {
          background-color: $primary-Color;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .XPAX {
    .my-deal-card {

      .card-content {

        &.neutral-colour-xpax-white {
          .title , .sub-title , .expiry {
            color: #fff;
          }

        }


        &.background-color-xpax-gradient-1 {
          background-image: linear-gradient(100deg, #FF7002 0%, #D1209B 100%);
        }

        &.background-color-xpax-gradient-2 {
          background-image: linear-gradient(100deg,#D1209B  0%, #612993 100%);
        }

        &.background-color-xpax-gradient-3 {
          background-image: linear-gradient(100deg, #E71246 0%,#F77702  100%);
        }

        &.background-color-xpax-gradient-4 {
          background-image: linear-gradient(100deg, #3626AF 0%, #FF7676 100%);
        }

        &.background-color-xpax-gradient-5 {
          background-image: linear-gradient(100deg, #F54EA2 0%, #1BCEDF 100%);
        }

        &.background-color-xpax-gradient-6 {
          background-image: linear-gradient(100deg, #F54EA2 0%, #FF7676 100%);
        }


      }

      .card-footer {
        a {
          color: $XPAX-primary-Color;

          i {
            background-color: $XPAX-primary-Color;
          }
        }
      }
    }
  }
