<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <div class="content-container">
        <div class="store-schedule">
            <div class="title">Feedback Category</div>
            <ion-select interface="popover" placeholder="Select a Category" class="full-width-select">
              <ion-option>Category 1</ion-option>
              <ion-option>Category 2</ion-option>
              <ion-option>Category 3</ion-option>
              <ion-option>Category 4</ion-option>
              <ion-option>Category 5</ion-option>
            </ion-select>
        </div>
        <ion-item>
            <ion-textarea placeholder="Type your personalized message here"></ion-textarea>
          </ion-item>
    </div>

  <div class="button-container">
     <button padding class="default-button">Call To Action</button>
  </div>
</ion-content>
