page-feedback {
    .content {
        background: url("../assets/img/normal_page_bg.jpg");
        background-size: 100% auto;
      }
     .content-container {
    width: 100%;
    background-color: white;
    padding: 16px 0;  
    -webkit-box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);
    .item-block .item-inner{
      min-height: 88px;
      border: solid 1px #999999;
      border-radius: 4px;
      padding: 0 8px;

      .text-input{
        min-height: 80px;
        margin: 11px 8px 11px 0;
      }
    }
    .item-input{
      padding-right: 16px; 
      padding-bottom: 50px;
    }
    .full-width-select {
      width: 100%;
      max-width: 100%;
    }
    ion-select {
      
          padding: 11px 8px 11px 0px !important;
          border-bottom: 1px solid #999999;
      
          .select-text {
            font-size: 16px;
            color: #333333;
            line-height: 17px;
          }
      
          .select-icon {
            width: 20px !important;
            height: 20px !important;
      
            .select-icon-inner {
              width: 16px !important;
              height: 10px !important;
      
              -webkit-mask-image: url('../assets/img/arrow-down.svg');
              mask-image: url('../assets/img/arrow-down.svg');
      
              background: $primary-Color;
            }
          }
        }
      .store-schedule {
        position: relative;
        margin: 16px;
        .title {
          font-size: 20px;
          color: #999999;
          line-height: 20px;
        }
      }
      .full-width-select {
        width: 100%;
        max-width: 100%;
        color: #333333;
        font-size: 16px;
        border-bottom: solid 1px #999999;
      }
    }
    .button-container{
      position: fixed;
      bottom: 0px;
      padding: 16px 0;
      width: 100%;
    }
    .default-button {
      margin: 0 16px;
      width: calc(100% - 32px);
  }
    
}
.XPAX page-feedback  {
    .content {
      background-image: url(../assets/img/detailed_usage_card_bg_xpax.png);
      background-size: cover;
    }
    .content-container {
      ion-select {
        .select-icon {
          .select-icon-inner{
            background: $XPAX-primary-Color;
          }
          
        }        
      }      
    } 
    
}