<!--
  Generated template for the DetailedUsageRoamingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>
    <!-- Roaming Slide -->


    <!--Roaming-->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="roaming-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">Roaming</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tabular-list">
                <div class="tabular-row">
                    <span class="float-left">Visiting Country</span>
                    <span class="float-right">Cyprus</span>
                </div>
                <div class="tabular-row">
                    <span class="float-left">Preferred Operator</span>
                    <span class="float-right">Areeba/MTN</span>
                </div>
            </div>
        </div>

        <div class="card-footer">
        </div>

    </div>

    <!-- 1 Day Internet -->
    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="wifi-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">1 Day Internet Pass</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'" [hideProgressBar]="false"></page-usage-indicator>
            <div class="availability-and-usage">
                <div class="usage-card-data float-left">
                    <span class="usage">999.9<span> Unit Available</span></span>
                </div>

                <div class="unit-used">
                    <div>999.9 unit Used by you</div>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>

        </div>

        <div class="card-footer">
            <div class="content-block-actions">
                <div class="title">
                    <div class="title-main float-left">Auto Renew</div>
                    <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
                </div>
                <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
            </div>
        </div>

    </div>

    <!-- Total Calls-->

    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="phone-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">Talk</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tabular-list with-total">
                <div class="tabular-row">
                    <span class="float-left">Total Calls</span>
                    <span class="float-right">30 Min</span>
                </div>

                <div class="tabular-list-footer">
                    <hr/>
                    <span class="float-left">Total Chanrge</span>
                    <span class="float-right">RM0.00</span>
                </div>


            </div>
        </div>

        <div class="card-footer">
        </div>

    </div>


    <!-- Total SMS-->

    <div class="card">
        <div class="card-header">
            <div class="primary-title">
                <div class="card-img">
                    <i class="sms-icon icon"></i>
                </div>
                <div class="card-title single-title">
                    <div class="main">SMS</div>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tabular-list with-total">
                <div class="tabular-row">
                    <span class="float-left">Total SMS</span>
                    <span class="float-right">0</span>
                </div>
                <div class="tabular-list-footer">
                    <hr/>
                    <span class="float-left">Total Charge</span>
                    <span class="float-right">RM0.00</span>
                </div>


            </div>
        </div>

        <div class="card-footer">
        </div>

    </div>
    <button ion-button class="default-button">
      Buy More
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>

</ion-content>