page-first-style-one-off {

  .dismiss-btn {
    padding: 30px 0 0 5px;
    height: 76px;

    button {
      background: none;
    }
  }

  .title {
    font-family: $font-familyBold;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    padding:10px 16px;
  }

  hr {
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .company-grid {
    .company-row{

      margin-top:16px;
        .text-center{
              display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-self: flex-end;    
          .company-logo {
                max-height: 48px;
                max-width: 55%;
                margin: 0 auto;
          }
          .company-title{
            margin-top:10px;

            font-size: 16px;
            color: #333333;
            line-height: 20px;
          }
        }
      

    }

  }


}
