<!--
  Generated template for the FirstStyleOneoffPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content >

  <div class="dismiss-btn">
    <button (click)="dismiss()"><i class="close-icon"></i></button>
  </div>

  <div class="title">One-Off Privileges</div>

  <hr/>

  <ion-grid class="company-grid">
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-ifix.png">
        <div class="company-title">Company Name</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-go.png">
        <div class="company-title">Company Name</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-d.png">
        <div class="company-title">Company Name</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-mox.png">
        <div class="company-title">Company Name</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-grab.png">
        <div class="company-title">Company Name</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-arrow.png">
        <div class="company-title">Company Name</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-maybank.png">
        <div class="company-title">Company Name</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-starbucks.png">
        <div class="company-title">Company Name</div>
      </ion-col>
    </ion-row>
    <ion-row class="company-row">
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-ifix.png">
        <div class="company-title">Company Name</div>
      </ion-col>
      <ion-col class="text-center">
        <img class="company-logo" src="./assets/img/company-logo-dimsum.png">
        <div class="company-title">Company Name</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
