.gb-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
}

.gb-selected {
    z-index: 1010;
    position: relative;
    background: #FFF;
    .availability-and-usage {
        display: block !important;
    }
}

page-gb-share-allocate {
    .gb-back-button {
        background: transparent;
        height: 35px;
        width: 35px;
        .arrow-backward-icon {
            background: #FFF;
            height: 25px;
            width: 15px;
        }
    }
    .gb-slider-bar {
        padding-top: 20px;
        padding-bottom: 18px;
        [range-right] {
            margin: 0px 0 0 18px;
        }
        [range-left] {
            margin: 0 18px 0 0;
        }
        .range-bar {
            display: block;
            height: 12px;
            background: #E6E6E6;
            margin-bottom: 0px;
            margin-top: 0px;
            background: #E6E6E6;
            -webkit-box-shadow: inset -1px 2px 3px 0 rgba(204, 204, 204, 0.6);
            box-shadow: inset -1px 2px 3px 0 rgba(204, 204, 204, 0.6);
            border-radius: 100px 100px 100px 100px;
            top: 15px;
        }
        .range-bar-active {
            display: block;
            height: 12px;
            background-image: linear-gradient(-90deg, rgb(0, 158, 253) 0%, rgb(20, 206, 177) 100%);
            border-radius: 100px;
            transition: width 2s;
            top: 15px;
        }
        .gb-slider-label {
            /* 999.0 GB: */
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            line-height: 12px;
        }
        .range-slider {
            .range-knob-handle {
                .range-knob {
                    /* Oval: */
                    background: #FFFEFC;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
                    border: 0.3px solid #CDCDCD;
                }
                .range-pin {
                    font-family: $font-familyBold;
                    letter-spacing: 0;
                    line-height: 12px;
                    border-radius: 0;
                    position: relative;
                    top: -20px;
                    display: inline-block;
                    font-size: 12px;
                    background: transparent;
                    -webkit-transition: -webkit-transform 120ms ease;
                    transition: -webkit-transform 120ms ease;
                    transition: transform 120ms ease;
                    transition: transform 120ms ease, -webkit-transform 120ms ease;
                    padding: 0px;
                    height: 36px;
                    min-width: 120px;
                    text-align: center;
                    padding-top: 10px;
                    color: $primary-Color;
                    -webkit-transform: translate(-50%, 0);
                    -moz-transform: translate(-50%, -0);
                    -ms-transform: translate(-50%, 0);
                    -o-transform: translate(-50%, 0);
                    transform: translate(-50%, 0);
                    left: 50%;
                }
                .range-pin:after {
                    content: "GB Allocated";
                    /*display: inline-block;*/
                    padding-left: 4px;
                }
            }
        }
    }
    .content-banner {
        width: 100%;
        height: 56px;
        background: url("../assets/img/banner-bg.png");
        background-size: 100% auto;
        padding: 16px;
        span {
            font-size: 20px;
            color: #000000;
        }
    }
    .content-container {
        width: 100%;
        background-color: white;
        padding: 16px 0;
        button.custom-button {
            margin: 0 16px;
            width: calc(100% - 32px);
            background-color: transparent;
            border: 1px solid #009ADE;
            border-radius: 100px;
            .button-inner {
                font-size: 16px;
                color: #009ADE;
                letter-spacing: 0;
                line-height: 20px;
            }
        }
        i.icon {
            background: #999999 !important;
        }
        .primary-title.small {
            .card-img.small {
                .icon {
                    height: 20px;
                    width: 20px;
                }
            }
            .card-title.small {
                padding: unset;
                .main {
                    font-size: 16px;
                }
            }
        }
        .item {
            .item-inner {
                border-bottom: 0px solid #FFF;
            }
        }
    }
    .allocate-content {
        .content-container {
            .availability-and-usage {
                height: 55px;
                padding: 0px 0px 0px 0px;
                display: none;
                .grid {
                    border-top: 1px solid #CCC;
                    height: 100%;
                    .row {
                        height: 85%;
                        margin-top: 5px;
                        .col-right-border {
                            border-right: 1px solid #CCC;
                        }
                        .col {
                            button {
                                background: transparent;
                                border-radius: 0px;
                                height: 100%;
                                width: 100%;
                            }
                            .gb-cancel {
                                font-size: 14px;
                                color: #999999;
                            }
                            .gb-save {
                                font-family: $font-familyBold;
                                font-size: 14px;
                                color: $primary-Color;
                            }
                        }
                    }
                }
            }
        }
    }
    .button-container {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        .default-button {
            width: calc(100% - 20px);
            margin: 16px 10px;
        }
    }
}