<!--
  Generated template for the GbShareAllocatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

    <ion-navbar hideBackButton="true">
        <button class="gb-back-button" (click)="goToRoot()">
            <i class="arrow-backward-icon"></i>
        </button>

        <ion-title>GB Share</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div #overlay></div>
    <div class="content-container">
        <div class="primary-title">
            <div class="card-img">
                <i class="gp-share-allocate-icon icon"></i>
            </div>
            <div class="card-title single-title">
                <div class="main">Allocated Sharing</div>
            </div>
        </div>
        <div class="supporting-text">
            Content here will be a maximum of 3 lines 16d with 90 chars. I repeat, content here will be a maximum of 3 lines with 90 chars.
        </div>

        <button ion-button class="custom-button" (click)="pushPage()">Switch to Group Sharing</button>
    </div>

    <div class="content-banner">
        <span>Total Pool</span>
    </div>


    <div class="content-container">
        <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'13/10/17, 23:59, GMT+8'" [hideProgressBar]="false"></page-usage-indicator>
        <div class="availability-and-usage">
            <div class="usage-card-data float-left">
                <span class="usage">999.9<span> Unit Available</span></span>
            </div>
        </div>

    </div>

    <div class="allocate-content">
        <div class="content-banner">
            <span>Individual Usage</span>
        </div>

        <div class="content-container">

            <div id=a{{sliderModel1.number}} class="gb-item-container">
                <div class="primary-title small">
                    <div class="card-img small">
                        <i class="combined-share-icon icon"></i>
                    </div>
                    <div class="card-title small single-title">
                        <div class="main">{{sliderModel1.number}}</div>
                    </div>
                </div>
                <ion-item>
                    <ion-range (ionChange)="onClick(sliderModel1)" class="gb-slider-bar" min="1" max="999" [(ngModel)]="sliderModel1.value" color="secondary" pin="true">
                        <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
                        <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
                    </ion-range>
                </ion-item>
                <div class="availability-and-usage">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 class="col-right-border">
                                <button class="gb-cancel" (click)="cancel(sliderModel1)">Cancel</button>
                            </ion-col>
                            <ion-col col-6>
                                <button class="gb-save" (click)="save(sliderModel1)">Save Changes</button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>
            <div id=a{{sliderModel2.number}} class="gb-item-container">
                <div class="primary-title small">
                    <div class="card-img small">
                        <i class="combined-share-icon icon"></i>
                    </div>
                    <div class="card-title small single-title">
                        <div class="main">{{sliderModel2.number}}</div>
                    </div>
                </div>
                <ion-item>
                    <ion-range (ionChange)="onClick(sliderModel2)" class="gb-slider-bar" min="1" max="999" [(ngModel)]="sliderModel2.value" color="secondary" pin="true">
                        <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
                        <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
                    </ion-range>
                </ion-item>
                <div class="availability-and-usage">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 class="col-right-border">
                                <button class="gb-cancel" (click)="cancel(sliderModel2)">Cancel</button>
                            </ion-col>
                            <ion-col col-6>
                                <button class="gb-save" (click)="save(sliderModel2)">Save Changes</button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>
            <div id=a{{sliderModel3.number}} class="gb-item-container">
                <div class="primary-title small">
                    <div class="card-img small">
                        <i class="combined-share-icon icon"></i>
                    </div>
                    <div class="card-title small single-title">
                        <div class="main">{{sliderModel3.number}}</div>
                    </div>
                </div>
                <ion-item>
                    <ion-range (ionChange)="onClick(sliderModel3)" class="gb-slider-bar" min="1" max="999" [(ngModel)]="sliderModel3.value" color="secondary" pin="true">
                        <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
                        <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
                    </ion-range>
                </ion-item>
                <div class="availability-and-usage">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 class="col-right-border">
                                <button class="gb-cancel" (click)="cancel(sliderModel3)">Cancel</button>
                            </ion-col>
                            <ion-col col-6>
                                <button class="gb-save" (click)="save(sliderModel3)">Save Changes</button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>
            </div>
            <div class="divider">
                <hr/>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button ion-button class="default-button">
          Buy More Internet
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>
    </div>



</ion-content>



<!-- <ion-item>
        <ion-range class="gb-slider-bar" min="1" max="999" [(ngModel)]="saturation" color="secondary" pin="true">
            <ion-label class="gb-slider-label" range-left>0 GB</ion-label>
            <ion-label class="gb-slider-label" range-right>999 GB</ion-label>
        </ion-range>
    </ion-item> -->