<!--
  Generated template for the PaymentMethodsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Payment Methods</ion-title>
        <div class="button-collection float-right">
            <button #editButton class="edit-button" (click)="edit()">Edit</button>
            <button #doneButton class="done-button" (click)="done()">Done</button>
        </div>
    </ion-navbar>

</ion-header>


<ion-content>
    <div #content>
        <ion-list class="pm-list">
            <ion-item>
                <i class="no-card-icon"></i>
                <span> No Cards Added</span>
                <button class="float-right add-card-button"></button>
            </ion-item>
            <ion-item (click)="openCard()">
                <img src="./assets/img/icon-master.png">
                <span>.... .... 1234 (Default)</span>
                <button (click)="presentsucess($event)" class="float-right">Delete</button>
            </ion-item>
            <ion-item (click)="openCard()">
                <img src="./assets/img/icon-visa.png">
                <span>.... .... 1236</span>
                <button (click)="presentsucess()" class="float-right">Delete</button>
            </ion-item>
            <ion-item (click)="openCard()">
                <img src="./assets/img/icon-master.png">
                <span>.... .... 12368</span>
                <button (click)="presentsucess()" class="float-right">Delete</button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>