.show-buttons {
    .item {
        button {
            display: block !important;
        }
    }
}

.hide-class {
    display: none;
}

.show-class {
    display: block !important;
}

page-payment-methods {
    .pm-list {
        margin-left: 20px;
        margin-top: 5px;
        .item {
            padding-left: 0;
            border-top: 0px !important;
            border-bottom: 1px solid #c8c7cc;
            .no-card-icon {
                background-color: $primary-Color;
                display: block;
            }
            .label{
                margin: 18px 8px 18px 0;
            }
            img{
                display: block;
            }
            span {
                padding-left: 45px;
                font-size: 16px;
                color: rgba(51, 51, 51, 0.87);
                line-height: 20px;
                position: absolute;
                top: 18px;
            }
            button {
                background-color: transparent;
                font-family: $font-familyBold;
                font-size: 14px;
                color: #EB005B;
                letter-spacing: 0;
                line-height: 14px;
                display: none;
                position: absolute;
                right: 10px;
                top: 1px;
                height: 95%;
            }
            .add-card-button {
                display: block !important;
            }
        }
    }
    .done-button {
        display: none;
    }
    .button-collection {
        padding-right: 5px;
        button {
            font-family: $font-familyBold;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 14px;
            background-color: transparent;
        }
    }
}

.XPAX page-payment-methods {
    .pm-list {
        .item {
            .no-card-icon {
                background-color: $XPAX-primary-Color;
            }
           
        }
    }
}