<!--
  Generated template for the CreditManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Credit Managment</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="reload-content">
    <div ion-fixed>
        <ion-grid class="grid-background">
            <ion-row>
                <ion-col col-4>
                    <span class="left-col-title"> Number</span>
                    <div class="dropdown-numbers" (click)="presentPopover($event)">
                        <span class="dropdown-number-title"> {{selected}}</span>
                        <i class="arrow-down-icon"></i>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="vadility-container">
                        <div class="vadility-title">
                            <span>Line Validity</span>
                        </div>
                        <div class="vadility-date">
                            <span>00/00/2017</span>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div class="balance-container">
                        <div class="vadility-title">
                            <span>Credit Balance</span>
                        </div>
                        <div class="vadility-date">
                            <span>RM30000.00</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div class="subtitle">
            <br>
            <span>Choose Managment method</span>
        </div>
    </div>

    <super-tabs id="creditManage" [selectedTabIndex]="selectedTab">
        <super-tab [root]="tab1Page" title="Credit Transfer" icon="custom-credit-transfer"></super-tab>
        <super-tab [root]="tab2Page" title="Validity Extension" icon="custom-validity-extension"></super-tab>
        <super-tab [root]="tab3Page" title="Credit Advance" icon="custom-credit-advance"></super-tab>
    </super-tabs>


</ion-content>