<!--
  Generated template for the CardDesignGuideExamplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Card Design Guide Example</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="divider"><hr/></div>
      <div class="content-block-actions">
        <div class="title without-toggle">
          <a class="action-call-more float-left">Subscribe to Roaming Path Now <span class="arrow-forward-icon"></span></a>
        </div>
      </div>

    </div>

    <div class="card-footer">
    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title single-title">
          <div class="main">Title Goes Here</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tabular-list with-total">
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>

        <div class="tabular-list-footer">
          <hr/>
          <span class="float-left">Total List</span>
          <span class="float-right">Total Data Unit</span>
        </div>


      </div>
    </div>

    <div class="card-footer">
    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
      <div class="secondary-text">
        <span>Secondary Title Goes Here</span>
      </div>

    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      <div class="divider"><hr/></div>
    </div>

    <div class="card-footer">
      <div class="secondary-text">
        <span>Secondary Title Goes Here</span>
      </div>
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>

      <div class="divider"><hr/></div>

      <div class="secondary-text">
        <span>Secondary Title Goes Here</span>
      </div>
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>

    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      <div class="divider"><hr/></div>

    </div>

    <div class="card-footer">
      <div class="supporting-text">
        Content here will be a maximum of 3 lines 16d
        with 90 chars. I repeat, content here will be
        a maximum of 3 lines with 90 chars.
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      <div class="divider"><hr/></div>

    </div>

    <div class="card-footer">
      <div class="content-block-actions">
        <div class="title">
          <div class="title-main float-left">Auto Renew</div>
          <div class="title-sub float-left ">Turn off auto renewal for your subscription</div>
        </div>
        <ion-toggle checked="true" class="default-toggle float-right"></ion-toggle>
      </div>

    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="divider"><hr/></div>

    </div>

    <div class="card-footer">
      <div class="content-block-actions">
        <div class="title">
          <a class="action-call-more float-left">Call to Action <span class="arrow-forward-icon"></span></a>
        </div>
      </div>

    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <div class="primary-title">
        <div class="card-img">
          <img  src="./assets/img/Oval.png">
        </div>
        <div class="card-title">
          <div class="main">Title Goes Here</div>
          <div class="sub">The subtitle should contain a maximum of two lines of text.</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <page-usage-indicator [value]="30" [minValue]="0" [maxValue]="100" [expiryDate]="'20-10-2017'"
                            [hideProgressBar]="false"></page-usage-indicator>
      <div class="availability-and-usage">
        <div class="usage-card-data float-left">
          <span class="usage">999.9<span> Unit Available</span></span>
        </div>

        <div class="unit-used">
          <div>999.9 unit Used by you</div>
        </div>
      </div>
      

    </div>

    <div class="card-footer">

    </div>

  </div>

</ion-content>
