<!--
  Generated template for the DetailedUsagePage page.

  See http://ionicfloat-rightamework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
      <button ion-button menuToggle>
        <ion-icon name="back"></ion-icon>
      </button>
      <ion-title>Detailed Usage</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <super-tabs  [selectedTabIndex]="selectedTab"  id="detailedUsageTabs" >
    <super-tab title="Internet" [root]="internetTab"></super-tab>
    <super-tab title="Talk" [root]="talkTab"></super-tab>
    <super-tab title="SMS" [root]="smsTab"></super-tab>
    <super-tab title="Roaming" [root]="roamingTab"></super-tab>
  </super-tabs>
</ion-content>
