page-loyalty-filter-modal {
    .dimTitle {
        .toolbar-title {
            color: #CDCDCD;
            span {
                color: #FFF;
            }
        }
    }
    .backButton {
        position: absolute;
        top: 15px;
        .arrow-backward-icon {
            background-color: #FFF;
        }
    }
    ion-title {
        .toolbar-title {
            .arrow-up-icon {
                margin-left: 8px;
                background-color: #FFF;
            }
        }
    }
    .icon_close-button{
        background-color: #fff;
    }
}