<!--
  Generated template for the LoyaltyFilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <div class="backButton">
            <button ion-button clear (click)="dismissWithoutSave()">
        <i class="icon_close-button"></i>
      </button>
        </div>
        <ion-title [ngClass]="{'dimTitle': selectedFilter}">
            All Loyalty
            <span *ngIf="selectedFilter">/
            {{selectedFilter}}
            </span>
            <i class="arrow-up-icon"></i>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list radio-group [(ngModel)]="selectedFilter">
        <ion-item>
            <ion-label>
                <span>All Loyalty</span>
            </ion-label>
            <ion-radio (ionSelect)="dismiss()" value="All Loyalty"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>
                <span>Free Freebies</span>
            </ion-label>
            <ion-radio (ionSelect)="dismiss()" value="Free Freebies"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>
                <span>First Lifestyle</span>
            </ion-label>
            <ion-radio (ionSelect)="dismiss()" value="First Lifestyle"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>
                <span>Celcom Rewards</span>
            </ion-label>
            <ion-radio (ionSelect)="dismiss()" value="Celcom Rewards"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>