
page-usage-indicator {
  display: block;

  .progress-bar-expiry-label-container {
    padding-right: 16px;
    padding-left: 16px;

    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    height: 16px;

  }

  .progress-bar-label-container {

    &.progressBarHidden {
      padding: 8px 16px 16px;
      height: 40px;
    }
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    height: 16px;
  }

  .progress-bar-container {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;

    .progress-bar {
      display: block;
      width: 100%;
      height: 12px;
      background: #E6E6E6;
      /* Rectangle 14: */
      margin-bottom: 5px;
      margin-top: 5px;

      background: #E6E6E6;
      box-shadow: inset -1px 2px 3px 0 rgba(204, 204, 204, 0.60);
      border-radius: 100px 100px 100px 100px;

      .strip {
        display: none;
      }

      .bottom-shadow {
        display: none;
      }
    }

    .progress-bar span {
      display: block;
      height: 12px;
      /* Mask: */
      width: 0;

      /* Mask: */
      background-image: linear-gradient(90deg, #1CD7BA 0%, #0FBACB 100%);



      border-radius: 100px;
      transition: width 2s;
      -webkit-transition: width 2s;

    }
  }

}

.XPAX {
  page-usage-indicator {
    .progress-bar {
      span {
        display: block;
        height: 12px;
        /* Mask: */
        background-image: linear-gradient(-90deg, #843CF6 0%, #38B8F2 100%);
        border-radius: 100px;
      }
      .strip {
        background: url("../assets/img/progress-bar-strip-1.png") repeat-x;
        background-size: contain;
        display: block;
        height: 12px;
      }

      .bottom-shadow {
        display: block;
        width: 100%;
        height: 4px;
        opacity: 0.13;
        background: #000000;
        border-radius: 0 0 1000px 1000px;
        margin-top: -4px;
      }
    }

  }
}

