<div [hidden]="isProgressBarHidden()" class="progress-bar-container">
    <div class="progress-bar-label-container">
        <span class="float-left"><span>{{minValue}} GB</span></span>
        <span class="float-right"><span>{{maxValue}} GB</span></span>
    </div>
    <div class="progress-bar">
        <span [style.width]="progressBarValue">
      <div class="strip"></div>
  </span>
        <span class="bottom-shadow" [style.width]="progressBarValue"></span>
    </div>
</div>

<div class="progress-bar-expiry-label-container" [class.progressBarHidden]="isProgressBarHidden()">
    <span *ngIf="expiryDate" [class.float-right]="!isProgressBarHidden()" [class.float-left]="isProgressBarHidden()">Expiry ({{expiryDate}})</span>
</div>
