<!--
  Generated template for the PlanDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Plan Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="page-container">
        <div class="calcom-plan">
            <div class="plan-title">FIRST™ Platinum Plus</div>
            <!--Plan Details-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon paybill-plan-icon"></i>
                    <div class="title">Plan Details</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Monthly Commitment</span>
                        <span class="float-right">RM 188</span>
                    </div>
                    <div class="row">
                        <span class="float-left">Monthly Internet</span>
                        <span class="float-right">100 GB</span>
                    </div>
                    <div class="row">
                        <span class="float-left">Calls</span>
                        <span class="float-right">Unlimited</span>
                    </div>
                    <div class="row">
                        <span class="float-left">SMS </span>
                        <span class="float-right">Unlimited</span>
                    </div>
                </div>
            </div>
            <!--AddOns-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon addOn-plan-Icon"></i>
                    <div class="title">AddOns</div>
                    <hr />
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Yonder Music</span>
                        <span class="float-right">Unlimited</span>
                    </div>
                    <div class="row">
                        <span class="float-left">To non-Celcom networks</span>
                        <span class="float-right">Unlimited</span>
                        <div class="float-left row-sub-label">RM 2.80/min (adjacent) and RM 5.20/min (non-adjacent)</div>
                    </div>
                    <div class="row">
                        <span class="float-left">Video Walla</span>
                        <span class="float-right">100 GB</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
            <!--Privilege-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon privileges-plan-icon"></i>
                    <div class="title">Privilege</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">Priority Customer Service</span>
                        <span class="float-right customer-number">01960118811</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="xpax-plan">
            <div class="plan-title">XPAX™</div>
            <!--Call Details-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon store-phone-icon"></i>
                    <div class="title">Call Details</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--SMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon sms-icon"></i>
                    <div class="title">SMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">Free 200MB Hi-Speed internet</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
            <!--MMS-->
            <div class="tariff-details">
                <div class="tariff-details-title-container">
                    <i class="tariff-icon mms-icon"></i>
                    <div class="title">MMS</div>
                    <hr/>
                </div>

                <div class="tariff-details-rows">
                    <div class="row">
                        <span class="float-left">To all networks</span>
                        <span class="float-right ">30 sen/min</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="terms-and-condition-btn text-center" [hidden]="hideTermsAndConditions" ion-fixed>
            <a (click)="openTermsAndCondition()">Plan Terms & Conditions <span class="arrow-forward-icon"></span></a>
        </div>

    </div>
</ion-content>