page-plan-details {
    ::-webkit-scrollbar {
        display: none;
    }
    .page-container {
        padding: 0 17px;
        height: 100%;
        .xpax-plan {
            display: none;
            // height: calc( 100% - 49px);
            height: 100%;
            overflow: scroll;
        }
        .calcom-plan {
            display: block;
            // height: calc( 100% - 49px);
            height: 100%;
            overflow: scroll;
        }
        .plan-title {
            
            font-family: LatoBold;
            font-size: 24px;
            color: #333333;
            letter-spacing: 0;
            line-height: 24px;
            margin: 24px 0 2px;
        }
        .tariff-details {
            .tariff-details-title-container {
                margin: 14px 0;
                display: inline-block;
                width: 100%;
                .tariff-icon {
                    /* Shape: */
                    float: left;
                    background: #B5B5B5;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    margin: 2px 10px 2px 0px;
                }
                .title {
                    /* Call Details: */
                    font-size: 18px;
                    color: #333333;
                    letter-spacing: 0;
                    line-height: 24px;
                    height: 24px;
                    float: left;
                }
                hr {
                    width: 100%;
                    height: 1px;
                    background: #B5B5B5;
                    margin: 12px 0 0 0;
                    float: left;
                }
            }
            .tariff-details-rows {
                .row {
                    display: inline-block;
                    width: 100%;
                    padding: 8px 0;
                    margin-bottom: 2px;
                    span {
                        font-size: 16px;
                        color: #333333;
                        line-height: 16px;
                        white-space: normal;
                        width: 60%;
                    }
                    span.float-right{
                        font-size: 14px;
                        color: #333333;
                        line-height: 16px;
                        white-space: normal;
                        width: 40%;
                        text-align:right;
                    }
                    .row-sub-label {
                        width: 100%;
                        font-size: 14px;
                        color: #999999;
                        line-height: 20px;
                        margin-top: 6px;
                    }
                    .customer-number {
                        /* 01960118811: */
                        font-size: 16px;
                        color: #009ADE;
                    }
                }
            }
        }
        .terms-and-condition-btn {
            /* Plan Terms & Conditi: */
            position: fixed;
            padding: 10px 0;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);
            display: none;
            .arrow-forward-icon {
                margin-left: 5px;
                background-color: $primary-Color;
                width: 7px;
                height: 11px;
            }
        }
    }
}

.XPAX {
    page-plan-details {
        .xpax-plan {
            display: block !important;
        }
        .calcom-plan {
            display: none !important;
        }
        ion-header {
            ion-title {
                .toolbar-title {
                    color: #ffffff;
                }
            }
            background: url("../assets/img/app-bar-xpax.png");
            background-size: 100% 100%;
        }
        .terms-and-condition-btn {
            a {
                /* Plan Terms & Conditi: */
                width: 100%;
                font-size: 14px;
                color: $XPAX-primary-Color !important;
                .arrow-forward-icon {
                    margin-left: 12px;
                    background-color: $XPAX-primary-Color !important;
                    width: 6px;
                    height: 12px;
                }
            }
        }
    }
}