<!--
  Generated template for the PukPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PUK</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="content-container">
    <ion-item class="head-msg">
      <div class="title">Your PUK Code is</div>
      <div>87654321</div>
    </ion-item>
      <ion-label class="mobile-no">for mobile number<span> +6019 119 9999</span></ion-label>

  </div>

</ion-content>
