page-first-style-optin {

  .privilege-slides {

    width: 100%;
    height: 250px;

    .slide-zoom {
      height: 100%;
    }

    .first-privilege-1 {
      background-color: #BAB098;
    }

    .first-privilege-2 {
      background-color: #826D49;
    }

    .first-privilege-slide {
      height: 211px;
      position: relative;



      .slide-image {
        height: 211px;
        float:right;
      }

      .title {
        position: absolute;
        top: 64px;
        width: 200px;

        margin: 0 16px;
        text-align: left;
        font-family: $font-familyBold;
        font-size: 24px;
        color: #FFFFFF;
        line-height: 28px;
      }

      .sub-title {
        position: absolute;
        bottom: 0px;

        margin: 16px;

        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 14px;
      }
    }

  }

  .privilege-desc {
    width: 100%;
    padding: 0 16px;

    font-size: 16px;
    color: #333333;
    line-height: 20px;
  }

  .privilege-confirmation-container {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;


    .terms_cond {
      display: inline-flex;

      padding: 0 22px;
      color: #333;
      font-size: 12px;
      .checkbox {
        margin: 8px 10px 8px 2px !important;
        border-color: #009ade;
        .checkbox-icon {
          border-radius: 3%;
          border-color: rgba(1, 1, 1, 0.54);
          width: 17px;
          height: 17px;
        }
      }
      .item-cover {
        width: 12%;
      }
      .item-inner {
        border-bottom: none !important;
        a {
          color: #009ADE;
        }
      }
    }

    .checkbox-ios .checkbox-checked .checkbox-inner {
      left: 4.3px;
      top: 0px;
      width: 7px;
      height: 13px;
      border-width: 2px;
      border-top-width: 0;
      border-left-width: 0;
    }

    ion-label {
      white-space: normal;
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      line-height: 16px;
    }

    button {
      width: 90%;
      margin: 0 auto;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 18px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
      border-radius: 100px;
    }
  }

}
