<!--
  Generated template for the FirstSytleOptinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>First Privileges</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <div class="privilege-slides">
    <ion-slides pager>
      <ion-slide >
        <div class="first-privilege-slide first-privilege-1">
          <img src="./assets/img/first-privilage-slide-1.png" class="slide-image"/>
          <div class="title">First Privileges Title Here</div>
          <div class="sub-title">The Subtitle Goes Here</div>
        </div>
      </ion-slide>
      <ion-slide >
        <div class="first-privilege-slide first-privilege-2">
          <img src="./assets/img/first-privilage-slide-3.png" class="slide-image"/>
          <div class="title">First Privileges Title Here</div>
          <div class="sub-title">The Subtitle Goes Here</div>
        </div>
      </ion-slide>

    </ion-slides>
  </div>


  <div class="privilege-desc">
    <p>Get these when you subscribe to a 12-months contract for your plan. Either redeem a one-off privilege or from a variety of monthly lifestyle privileges with our partner merchants for being our valued customer.</p>
  </div>


  <div class="privilege-confirmation-container" >
      <div class="terms_cond">
        <ion-checkbox type="checkbox" ></ion-checkbox>
        <ion-label>I Accept the <a>Terms & Conditions</a></ion-label>
      </div>
      <button ion-button class=" before-login" (click)="goToPrivilegeSelectTypePage()">Opt-in with this privilege
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
  </div>

</ion-content>
