<!--
  Generated template for the NotificationTab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <ion-card class="call-barred-card" *ngIf="callbarredCss">
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <div class="call-barred-icon"></div>
                </ion-col>
                <ion-col col-10>
                    <ion-card-header>
                        <span>Lorem ipsum</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>The subtitle should contain a maximum of two lines of text.</span>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>
        <button clear ion-button icon-end>
        <span>Promise To Pay</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
        <button class="right-button" clear ion-button icon-end>
        <span>Pay Bill</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>
    <ion-card class="cap-zone-card" *ngIf="capZoneCss">
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <div class="cap-zone-icon"></div>
                </ion-col>
                <ion-col col-10>
                    <ion-card-header>
                        <span>Lorem ipsum</span>
                    </ion-card-header>
                    <ion-card-content>
                        <span>The subtitle should contain a maximum of two lines of text.</span>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>
        <button clear ion-button icon-end>
        <span>Pay Bill</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
        </button>
    </ion-card>

    <ion-card>
        <div class="alert">
            <ion-icon name="custom-notification-alert"></ion-icon>
            <span>Lorem ipsum</span>
            <span class="time-stamp float-right">1 hour ago</span>
        </div>
        <ion-card-header>
            <span> Lorem ipsum</span>
        </ion-card-header>
        <ion-card-content>
            <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end >
      <span>Call to Action</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>


        <button class="right-button" clear ion-button icon-end>
        <span>Call to Action</span>
        <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
      </button>

    </ion-card>

    <ion-card>
        <div class="notification-header">
            <ion-icon name="custom-notification-header"></ion-icon>
            <span>Lorem ipsum</span>
            <span class="time-stamp float-right">1 hour ago</span>
        </div>
        <ion-card-header>
            <span> Lorem ipsum</span>
        </ion-card-header>
        <ion-card-content>
            <span>Lorem ipsum dolor sit amet. consectetur adipi elit,
          sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</span>
        </ion-card-content>
        <hr>
        <button clear ion-button icon-end class="left-align">
      <span>Call to Action</span>
      <ion-icon name="custom-notification-right-arrow-icon"></ion-icon>
    </button>
    </ion-card>


  <ion-card>

    <div class="notification-header">
      <ion-icon name="custom-notification-header"></ion-icon>
      <span>Notification Type</span>
      <span class="time-stamp float-right">Time Stamp</span>
    </div>

    <ion-card-content>
      <div class="notification-content-container">
        <div class="notification-content-left">
          <div class="notification-card-title">Title Goes Here</div>
          <div class="notification-card-content">Lorem ipsum dolor sit amet. consectetur adipi elit, sed do</div>
        </div>
        <div class="notification-content-right">
          <img src="./assets/img/notification-img.png" alt="">
        </div>
      </div>
    </ion-card-content>

    <hr>

    <button clear ion-button icon-end><span>Call to Actiony</span><ion-icon name="custom-notification-right-arrow-icon"></ion-icon></button>
    <button class="right-button" clear ion-button icon-end><span>Call to Action</span><ion-icon name="custom-notification-right-arrow-icon"></ion-icon></button>
  </ion-card>


</ion-content>
