page-notification-tab1 {
    .cap-zone-card {
        ion-card-content {
            padding: 7px 11px 10px!important;
        }
    }
    .call-barred-card {
        ion-card-content {
            padding: 7px 11px 10px!important;
        }
    }
    .call-barred-icon,
    .cap-zone-icon {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
}