page-subscription-confirmation {
    
    
    .pageContainer {
        height: 100%;
        
        .pageContent {
            display: block;
            height: calc( 100% - 86px);
            overflow: scroll;
        }
    
    .section-container {
        padding: 16px;
        border-top: 1px solid #ccc;
        span {
            /* Your Subtitle Goes H: */
            font-family: $font-familyBold;
            font-size: 14px;
            color: #333333;
        }
        .row {
            display: inline-block;
            width: 100%;
            height: 32px;
            span {
                /* LIST ITEM: */
                font-family: $font-family;
                font-size: 14px;
                color: #333333;
                line-height: 16px;
            }
        }
    }
        
        
    .terms-container {
        padding: 10px 0;
        text-align: center;
        .arrow-forward-icon {
            margin-left: 5px;
            background-color: $primary-Color;
            width: 7px;
            height: 11px;
        }
       a {
            width: 100%;
            display: inline-block;
            font-family: $font-familyBold;
            font-size: 14px;
            color: $primary-Color;
            line-height: 14px;
            padding: 10px 0 5px;
            i {
                width: 13px;
                height: 10px;
                background-color: $primary-Color;
            }
        }
     }
    .action-btn-container {
       position: fixed;
        padding: 10px 0;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20);
        button {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
            border-radius: 100px;
            outline: none !important;
            margin-top: 5px !important;
        }
     
//        .default-button {
//            margin: 20px 20px;
//            width: calc(100% - 40px);
//            font-family: $font-familyBold;
//            font-size: 18px;
//            color: #FFFFFF;
//            letter-spacing: 0;
//            line-height: 18px;
//        }
    }
}
}