<!--
  Generated template for the SubscriptionConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Product Details</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>


<div class="pageContainer">
 <div class="pageContent">

    <div class="primary-title">
        <!-- <div class="card-img">
            <img src="./assets/img/Oval.png">
        </div> -->
        <div class="card-title single-title">
            <div class="main">Title Goes Here</div>
        </div>
    </div>

    <div class="section-container">
        <span>Your Subtitle Goes Here</span>
    </div>


    <div class="section-container">
        <div class="row">
            <span class="float-left">Details</span>
            <span class="float-right">Info</span>
        </div>

        <div class="row">
            <span class="float-left">Details</span>
            <span class="float-right">Info</span>
        </div>

    </div>


    <div class="section-container">
        <div class="row">
            <span class="float-left">Details</span>
            <span class="float-right">Info</span>
        </div>

        <div class="row">
            <span class="float-left">Details</span>
            <span class="float-right">Info</span>
        </div>

        <div class="row">
            <span class="float-left">Details</span>
            <span class="float-right">Info</span>
        </div>

    </div>
     <div class="terms-container ">

        <a  (click)="openSelectCountryModal()" class="text-center">Also valid in the following countries <i class="arrow-forward-icon"></i></a>
     </div>


    <div ion-fixed class="action-btn-container">
       
        <button ion-button class="default-button" (click)="goToConfirmation()">
      Call To Action
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
    </div>
     
    </div>
    </div>
</ion-content>