<!--
  Generated template for the ReloadCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <div class="reload-container">
        <div class="phoneNumber">
            <span>Enter Your 16 digit PIN</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="20" type="tel" placeholder="0000-0000-0000-0000"></ion-input>
        </ion-item>
        <div class="validation-error">
            The information provided is incorrect
        </div>
    </div>

    <div class="button-container">
        <button ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>