page-change-creditcard-modal {
    .add-number-container {
        position: relative;
        .add-number-title {
            padding-left: 23px;
            span {
                font-size: 24px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-left: 23px;
            padding-right: 23px;
            .item-inner {
                border-bottom: 0.55px solid #999 ;
            }
        }
        .add-number-icon {
            background-color: $XPAX-primary-Color;
            display: inline-block;
            position: absolute;
            right: 35px;
            top: 35px;
        }
    }
    .button-container {
     z-index: 100;
            position: fixed;
            bottom: 0px;
            width: 100%;
            background: #FFFFFF;
    .default-button {
                width: calc(100% - 20px);
                margin: 16px 10px;
            }
  }
    ion-list {
        padding-top: 10px;
        .item {
            padding-left: 30px;
            position: relative;
            .label {
                .icon {
                    position: absolute;
                    top: 11px;
                    left: 25px;
                }
                .credit-number {
                    position: absolute;
                    top: 11px;
                    left: 61px;
                    font-size: 16px;
                }
            }
        }
    }
    .radio-icon {
        width: 16px !important;
        visibility: visible !important;
        border-radius: 2px !important;
        padding-right: 17px;
        padding-bottom: 18px;
        border: 1.2px solid #CDCDCD;
        border: 0 !important;

    border-color: rgba(1, 1, 1, 0.54) !important;
    height: 16px !important;
    }
    .item-radio-checked ion-label {
        color: $primary-Color !important;
    }
    .radio-checked {
        //background-color: $primary-Color !important;
       // border-color:$primary-Color !important;

    }
    .radio-checked .radio-inner {
        border-color: $primary-Color !important;
         width: 6px !important;
        height: 12px !important;
        border-width:2px;
    }
}

.XPAX page-change-creditcard-modal {
    .radio-checked {
        //background-color: $XPAX-primary-Color !important;
        // border-color:$XPAX-primary-Color !important;
    }

     .item-radio-checked ion-label {
        color: $XPAX-primary-Color  !important;
    }
    .radio-checked .radio-inner {
        border-color: $XPAX-primary-Color !important;

    }

}
