<!--
  Generated template for the ChangeCreditcardModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div>
        <button ion-button clear (click)="dismissWithoutSave()">
      <i class="close-icon"></i>
    </button>
    </div>
    <div class="add-number-container">
        <div class="add-number-title">
            <span>Change Credit Card</span>
        </div>
        <ion-list no-lines radio-group [(ngModel)]="selectedCard">
            <ion-item>
                <ion-icon name="custom-reload-credit-card"></ion-icon>
                <ion-label>
                    <ion-icon name="custom-reload-credit-card"></ion-icon>
                    <span class="credit-number">.... 1234 </span>
                </ion-label>
                <ion-radio value="**** 1234"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="custom-reload-credit-card"></ion-icon>
                    <span class="credit-number">.... 1235</span>
                </ion-label>
                <ion-radio value="**** 12345"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="custom-reload-credit-card"></ion-icon>
                    <span class="credit-number"> .... 1236</span>
                </ion-label>

                <ion-radio value="**** 1236"></ion-radio>
            </ion-item>
        </ion-list>
    </div>

    <div class="button-container">
        <button ion-button class="default-button" (click)="dismiss()">
        Done
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>