<!--
  Generated template for the CreditReloadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left">
            <span class="internet-card-title">
                MONTHLY 500 MB MONTHLY 500 MB
            </span>
            <span class="internet-card-subtitle">
                RM 30
            </span>
        </div>
        <div class="internet-card selected float-left">
            <span class="internet-card-title">
                MONTHLY 500 MB
            </span>
            <span class="internet-card-subtitle">
                RM 50
            </span>
        </div>
        <div class="internet-card float-left">
            <span class="internet-card-subtitle">
                RM 30
            </span>
        </div>
        <div class="internet-card float-left">
            <span class="internet-card-title">
                MONTHLY 500 MB
            </span>
            <span class="internet-card-subtitle">
                RM 30
            </span>
            <span class="internet-card-des">
                Valid unti 28 of Jan
            </span>
        </div>
    </ion-scroll>
<!--
    <div class="slider-subtitle">
        please choose a reload amount to move forward
    </div>
-->
    <div class="subtitle">
        Choose Payment Method
    </div>
    <div class="internet-card-container-payment-visa">
        <ion-scroll class="internet-card-container payment-container" scrollX="true">
            <div class="internet-card payment selected float-left">
                <span class="internet-card-title">
                <ion-icon name="custom-reload-card"></ion-icon>
            </span>
                <span class="internet-card-subtitle">
                <span>Credit Card</span>
                </span>
            </div>
            <div class="internet-card payment float-left">
                <span class="internet-card-title">
                <ion-icon name="custom-reload-online"></ion-icon>
            </span>
                <span class="internet-card-subtitle">
                Online Banking
            </span>
            </div>

        </ion-scroll>
        <div class="payment-slider-visa">
            <div>
                <ion-icon name="custom-reload-credit-card"></ion-icon>
                <span>{{selectedCard}}</span>
                <button (click)="presenChangeCreditModal()">
          Edit
        </button>
            </div>
        </div>
    </div>

    <div class="button-container" ion-fixed>
        <button ion-button class="default-button">
        Next
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>