page-transaction-history-details {

    
   

  .title-container {
    padding: 24px 16px 0 16px;

    span {
      font-family: $font-familyBold;
      font-size: 24px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px;
    }
  }

  .sub-title-container {
    margin-top: 8px;
    padding: 0 16px;
    span {
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-title {
    margin-top: 16px;
    padding: 0 16px;
    span{
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-table-details {
    margin-top: 16px;
    padding: 0 16px;
    .row {
      display: inline-block;
      width: 100%;
      height:20px;
        margin-top: 8px;
      span {
        font-size: 14px;
        color: rgba(51, 51, 51, 0.87);
        line-height: 16px;
      }
    }
  }

  .transaction-description {
    width: 100%;
    margin-top: 16px;
    padding: 0 16px;
    p {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  .transaction-details-items-container {
    background: url('../assets/img/transaction-item-bg.png');
    background-size: contain;
    padding: 0px 16px;
      margin-top: 24px;
    .item-title {
      width: 100%;
      display: inline-block;
      padding: 8px 0;      span {
        font-family: $font-familyBold;
        font-size: 16px;
        color: #333333;
        line-height: 16px;
      }
    }

    .item {
      width: 100%;
      display: inline-block;
      padding: 8px 0;
      span {
        font-size: 16px;
        color: #333333;
        line-height: 16px;
      }
    }
  }

  .add-to-bill {
    margin-top: 24px;
    padding: 0 16px;
    font-size: 16px;

    a {
      font-size: 16px;
      color: $primary-Color;
      letter-spacing: 0;
      line-height: 20px;
    }


  }
}


.XPAX {
  page-transaction-history-details {
    .add-to-bill {
      a {
        color: $XPAX-primary-Color;
      }
    }



  }
}
