<!--
  Generated template for the TransactionHistoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transaction Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="title-container">
      <span>Title_transaction</span>
    </div>

    <div class="sub-title-container">
      <span>Product name_5GB Monthly</span>
    </div>

    <div class="transaction-title">
      <span>In-Application transaction</span>
    </div>

    <div class="transaction-table-details">
      <div class="row">
        <span class="float-left" >Transaction ID</span>
        <span class="float-right">098765432</span>
      </div>

      <div class="row">
        <span class="float-left" >Date</span>
        <span class="float-right">MM/DD/YYYY</span>
      </div>

      <div class="row">
        <span class="float-left" >From</span>
        <span class="float-right">018-888-888</span>
      </div>

      <div class="row">
        <span class="float-left" >To (If Any)</span>
        <span class="float-right">018-888-888</span>
      </div>
    </div>


    <div class="transaction-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="transaction-details-items-container">
      <div class="item-title">
        <span class="float-left" >Item</span>
        <span class="float-right">Credits</span>
      </div>

      <div class="item">
        <span class="float-left" >Credit Reload</span>
        <span class="float-right">RM 3000.00</span>
      </div>

      <hr/>
      <div class="item">
        <span class="float-left" >Total</span>
        <span class="float-right">RM 3000.00</span>
      </div>
    </div>

<!--
  <div class="add-to-bill" >
    <a (click)="goToHistoryDetailsPayBill()">Add to Bill</a>
  </div>
-->
    <div class="add-to-bill" >
    Added to Bill
  </div>


</ion-content>
