<!--
  Generated template for the ProductDetailsDesignGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Product Details Master Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <!--Product Detail_Image Container-->
  <div class="product-detail-img-container">
    <img src="./assets/img/16_9_blank_img.png">
  </div>

  <div class="page-container">
    <!--Product Detail_Title-->
    <div class="product-details-content-container">
      <div class="product-detail-title">Your Title Goes Here</div>
    </div>

    <!--Product Detail_Supporting Text-->
    <div class="product-details-content-container">
      <div class="product-detail-supporting-text">
        <p>Content here will be a maximum of 3 lines with 90 chars. I repeat, content here will be a max of 3 lines with
          90 chars.</p>
      </div>
    </div>

    <!--Product Detail_Title & Supporting Text-->
    <div class="product-details-content-container">
      <div class="product-detail-title">Your Title Goes Here</div>
      <div class="product-detail-supporting-text">
        <p>Content here will be a maximum of 3 lines with 90 chars. I repeat, content here will be a max of 3 lines with
          90 chars.</p>
      </div>
    </div>

    <!--Product Detail_Title & Supporting Text + Voucher Code-->
    <div class="product-details-content-container">
      <div class="product-detail-title">Gift Name</div>
      <div class="product-detail-supporting-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>

      <div class="voucher-code text-center">
        <span>91dLA48</span>
      </div>
    </div>

    <!--Product Detail_Title & Supporting Text + Inline Title-->
    <div class="product-details-content-container">
      <div class="product-detail-title">KAW-KAW Squad Promotion</div>
      <div class="product-details-sub-title">50% More Monthly Internet</div>
      <div class="product-detail-supporting-text">
        <p>
          This promotion is applicable for those age 12 to 25 who subscribe to RM30 or RM50 monthly internet plan.
        </p>
        <p>
          Click Opt-In to enjoy more internet.
        </p>
      </div>

    </div>

    <!--Product Detail_Tabular Lists with Header-->
    <div class="product-details-content-container">
      <div class="product-detail-section-header">
        <span>Section Header (Loop as Necessary)</span>
      </div>

      <hr/>

      <div class="tabular-list">
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
        <div class="tabular-row">
          <span class="float-left">List Item</span>
          <span class="float-right">Data Unit</span>
        </div>
      </div>


    </div>

    <!--Product Detail_Tabular Lists with Header_V2-->
    <div class="product-details-content-container">
      <div class="product-detail-section-header">
        <span>Select one of the 3 reload bonuses</span>
      </div>

      <hr/>
      <div class="bounce-cards-container">
        <div class="bounce-card selected text-center">
          <div>
            <i class=" store-phone-icon"></i>
          </div>
          <div>Unlimited calls within same network</div>
        </div>
        <div class="bounce-card text-center">
          <div><i class="bounce-plan-icon"></i></div>
          <div>Unlimited weekend internet</div>
        </div>
      </div>
    </div>

    <!--Product Detail_Section Header + Voucher Code + CTA-->
    <div class="product-details-content-container">
      <div class="product-detail-section-header-bold">
        <span>Voucher Code</span>
      </div>
      <hr/>

      <div class="voucher-code-copy">
        <div class="voucher-code text-center">
          <span>91dLA48</span>
        </div>

        <div class="voucher-code-copy-btn text-center">
          <button ion-button class="default-button" (click)="copyVoucherCode()"><span>Copy Code</span></button>
        </div>


      </div>

    </div>

    <!--Product Detail_Section Header + Supporting Text-->
    <div class="product-details-content-container">
      <div class="product-detail-section-header-bold">
        <span>Sent by: 019-888-8888</span>
      </div>
      <hr/>

      <div class="product-detail-supporting-text">
        Message: “I have nothing better to type here but using it anyway”.
      </div>

    </div>

    <!--Product Detail_Section Header + Amount Cards-->
    <div class="product-details-content-container">
      <div class="product-detail-section-header-bold">
        <span>Voucher Amounts</span>
      </div>
      <hr/>

      <ion-scroll class="internet-card-container" scrollX="true">
        <div class="internet-card float-left">
          <span class="internet-card-subtitle">RM 30</span>
        </div>
        <div class="internet-card selected float-left">
          <span class="internet-card-subtitle">RM 50</span>
        </div>
        <div class="internet-card float-left">
          <span class="internet-card-subtitle">RM 30</span>
        </div>
        <div class="internet-card float-left">
          <span class="internet-card-subtitle">RM 30</span>
        </div>
      </ion-scroll>


    </div>

    <!--Product Detail_Call to Action_Toggle-->
    <div class="product-details-content-container">

      <div class="product-details-call-action-toggle">
        <div class="title">Ole Ole (Gifting Service)</div>
        <ion-toggle [(ngModel)]="showGiftContainer" class="default-toggle float-right"></ion-toggle>

        <div class="buy-gift-container" [hidden]="!showGiftContainer">

          <div class="buyGift">
            <ion-item no-padding>
              <ion-select class="full-width-select" select interface="popover" placeholder="Phone Numbers">
                <ion-option selected value="buy_gift_for">Buy Gift For</ion-option>
                <ion-option value="request_gift_from">Request Gift From</ion-option>
                <ion-option value="buy_for_self">Buy For Self</ion-option>
              </ion-select>
            </ion-item>
          </div>


          <ion-item no-padding>
            <ion-input type="text" placeholder="+6019 199 1919" value=""></ion-input>
            <i item-end class="contact-folder-icon"> </i>
          </ion-item>

          <ion-item class="buy-gift-text-area" no-padding>
            <ion-textarea placeholder="“Type your personalized message here”" value=""></ion-textarea>
          </ion-item>

          <div class="inform-message">*RMX.XX will be charged for this transaction.</div>
        </div>
      </div>

    </div>

    <!--Product Detail_Call to validate date-->
    <div class="product-details-content-container">

      <div class="custom-section">
        <div class="title">Validity Date</div>
        <p>Loreum Ipsum (dd mm yy) , time, timezone</p>
      </div>

      <div class="custom-section">
        <div class="title">Location</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>


    <div class="product-details-content-container">

      <div class="product-detail-section-header-bold">
        <span>Situational Content (Subheader)</span>
      </div>
      <hr/>

      <div class="faqAnswer">
        <ul>

          <li>Select bonus</li>
          <li>Voucher Code</li>
          <li>Personalised Message</li>

        </ul>
      </div>
    </div>



    <div class="product-details-content-container">
      <div class="product-detail-section-header bold">
        <span>PD16.0_Swipable Collection</span>
      </div>
      <hr/>


      <ion-scroll class="internet-card-container" scrollX="true">
        <div class="company-grid">
          <div class="company-row">
            <div class="company-item text-center">
              <img class="company-logo" src="./assets/img/company-logo-go.png">
              <div class="company-title">Company Name</div>
            </div>
            <div class="company-item text-center">
              <img class="company-logo" src="./assets/img/company-logo-go.png">
              <div class="company-title">Company Name</div>
            </div>

            <div class="company-item text-center">
              <img class="company-logo" src="./assets/img/company-logo-go.png">
              <div class="company-title">Company Name</div>
            </div>
            <div class="company-item text-center">
              <img class="company-logo" src="./assets/img/company-logo-go.png">
              <div class="company-title">Company Name</div>
            </div>
          </div>
        </div>
      </ion-scroll>


    </div>

    <div class="product-details-terms-container">
      <a class="text-center">PD13.0 Link_button <i class="arrow-forward-icon"></i></a>
    </div>

    <div class="product-details-terms-container">
      <div class="text text-center">I agree to the <a class="accept-terms">Terms & Conditions</a> if I click confirm
      </div>
    </div>


  </div>


  <div class="button-container" ion-fixed>

    <button ion-button class="default-button">
      Subscribe / Reload
      <i class="XPAX-Right-Bubble"></i>
      <i class="XPAX-Left-Bubble"></i>
    </button>
  </div>


</ion-content>
