page-contact-us-social {
    .content {
        background: url("../assets/img/normal_page_bg.jpg");
        background-size: 100% auto;
      }
     .content-container {
    width: 100%;
    background-color: white;
    padding: 16px 0;  
    -webkit-box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);
     a{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 12px 0;
         
         i{
             width: 60px;
             height: 60px;
             background-color: $primary-Color;
         }
    }
    h3{
        font-size: 18px;
        color: #333333;
        margin-top: .5rem;
    }
    ion-icon{
        font-size: 80px;
    }
  }
}
.XPAX page-contact-us-social {
    .content {
      background-image: url(../assets/img/detailed_usage_card_bg_xpax.png);
      background-size: cover;
    }
    .content-container {
        a{
            color: $XPAX-primary-Color;
            
            i{
            
             background-color: $XPAX-primary-Color;
         }
        }
    }
  }
