page-add-number-modal {
    .add-number-container {
        position: relative;
        margin-top: 10px;
        .add-number-title {
            padding-left: 23px;
            span {
                font-size: 20px;
                color: #333333;
                line-height: 20px;
            }
        }
        .inputItem {
            padding-left: 23px;
            padding-right: 23px;
            .item-inner {
                border-bottom: 0.55px solid #999 ;
            }
        }
        .add-number-icon {
            background-color: $primary-Color;
            display: inline-block;
            position: absolute;
            right: 35px;
            top: 35px;
        }
    }
    .button-container {
        padding: 0 16px 10px;
        margin-top: 60px;
        width: 100%;
        button {
            width: 100%;
            margin: auto;
        }
    }
}

.XPAX{
    
    .add-number-icon {
            background-color: $XPAX-primary-Color !important;
    }
}
