<!--
  Generated template for the AddNumberModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content>
    <div>
        <button ion-button clear (click)="dismiss()">
      <i class="close-icon"></i>
    </button>
    </div>
    <div class="add-number-container">
        <div class="add-number-title">
            <span>Add New Number</span>
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="12" type="tel" placeholder="99999999999"></ion-input>
        </ion-item>
        <i class="add-number-icon"></i>
    </div>

    <div class="button-container">
        <button ion-button class="default-button" (click)="dismiss()">
        Done
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>