<!--
  Generated template for the DeliveryInformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Delivery Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="adressContainer">
    
        <div class="alternativeTitle">Alternative Delivery Contact</div>
        <ion-item class="inputItem">
            <ion-input maxlength="10" type="tel" placeholder="+6019 199 1919"
              ></ion-input>
        </ion-item>
        
        <div class="adressTitle">Address</div>
        
        <div class="checkBoxContent">
            <ion-item class="terms_cond">
              <ion-label>Use Current Billing Address</ion-label>
              <ion-checkbox  type="checkbox"></ion-checkbox>
        </ion-item>
        
        </div>
        <ion-item class="inputItem">
            <ion-input maxlength="10" type="tel" placeholder="Line 1 (House number, Jalan)"
              ></ion-input>
        </ion-item>
        <ion-item class="inputItem">
            <ion-input maxlength="10" type="tel" placeholder="Line 2 (Taman)"
              ></ion-input>
        </ion-item>
        <ion-item class="inputItem postalContent">
            <ion-input maxlength="10" type="tel" placeholder="Postal Code"
              ></ion-input>
        </ion-item>
        
        <ion-item class="inputItem postalContent">
            <ion-input maxlength="20" type="text" placeholder="City"></ion-input>
        </ion-item>
        
        <div class="dropdown-states">
                <ion-item>
                    <ion-select interface="popover"  placeholder="State">
                        <ion-option selected value="0">State1</ion-option>
                        <ion-option value="1">State2</ion-option>
                        <ion-option value="2">State3</ion-option>
                        <ion-option value="3">State4</ion-option>
                        <ion-option value="4">State5</ion-option>
                        <ion-option value="4">State5</ion-option>
                        <ion-option value="5">State6</ion-option>
                        <ion-option value="6">State7</ion-option>
                        <ion-option value="7">State8</ion-option>
                        <ion-option value="8">State9</ion-option>
                        <ion-option value="9">State10</ion-option>
                        
                    </ion-select>
                </ion-item>
                <i class="arrow-down-icon"></i>
            </div>
        
        
      
        
    </div>
    
    <div class="impTitle">Important</div>
     <div class="impInfoContainer">
        <div class="section1Title">Delivery Period</div>
         <hr/>
    <div class="text-container1">
        <div class="row">
            <span class="float-left">Within Klang Valley</span>
            <span class="float-right">1-2 working days</span>
        </div>

        <div class="row">
            <span class="float-left">Peninsular Malaysia</span>
            <span class="float-right">2-3 working days</span>
        </div>
        
        <div class="row">
            <span class="float-left">East Malaysia</span>
            <span class="float-right">3-5 working days</span>
        </div>

    </div>
         
    <div class="section1Title">SIM Charges</div>
         <hr/>
    <div class="text-container1">
        <div class="row">
            <span class="float-left">Length of stay < 1year</span>
            <span class="float-right">RM5.0</span>
        </div>

        <div class="row">
            <span class="float-left">Length of stay > 1year</span>
            <span class="float-right">Free</span>
        </div>
     

    </div>
        
       <div class="section1Title">Delivery Charges</div>
         <hr/>
    <div class="text-container1">
        <div class="row">
            <span class="float-left">Peninsular Malaysia</span>
            <span class="float-right">RM10.60</span>
        </div>

        <div class="row">
            <span class="float-left">Kuching</span>
            <span class="float-right">RM16.70</span>
        </div>
        
         <div class="row lastRow">
            <span class="float-left">East Malaysia</span>
            <span class="float-right">RM19.70</span>
        </div>
     

    </div>
        
        
    </div>
    
         <div class="proceedBtnContainer" ion-fixed>
        
        <button ion-button class="default-button">
        Proceed
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
