<!--
  Generated template for the SimReplacementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SIM Replacement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    
    <div class="reasonsTitle">Select Reason for Replacement</div>
    
    <div class="reasonsContainer">
        <div class="internet-card-container payment" scrollX="true">
            <div class="internet-card selected">
                <span class="internet-card-title">
                    <i class="damage-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                    <span>Damaged/ Faulty/ Permanent Block </span>
                </span>
            </div>
            <div class="internet-card">
                <span class="internet-card-title">
                    <i class="change-icon"></i>
                </span>
                <span class="internet-card-subtitle changeRepairSubTitle">
                   Change Phone / Upgrade
                </span>
            </div>
        </div>


        <div class="confirmBtn">


            <button ion-button class="default-button" (click)="goToDeliveryOptions()" >
          Confirm
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>

        </div>
    </div>
</ion-content>
