page-speed-test {
    .content {
        background: url("../assets/img/dashboard-bg.png");
        background-size: 100% auto;
    }
    .gauge-cont {
        width: 90%;
        display: block;
        text-align: center;
        padding: 0 5%;
        margin: 0 auto;
        svg {
            background: #f2f2f2;
            border-radius: 50%;
        }
    }
    h2 {
        margin-bottom: 10%;
    }
    .speed-values-cont {
        margin: 0;
        .speed-values {
            .has-side-border {
                border-right: 1px #ccc solid;
            }
            label {
                width: 100%;
                display: inline-block;
                text-align: center;
            }
            .lbl-txt {
                font-size: 14px;
                color: #666;
            }
            .lbl-val {
                font-size: 24px;
                font-family: $font-familyBold;
                color: #000;
                margin: 5px 0;
            }
            .lbl-unit {
                font-size: 14px;
                font-family: $font-familyBold;
                color: #333;
            }
        }
    }
    .button-container{
        position: absolute;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
        .default-button {
            width: calc(100% - 32px);
        }
    }
}

.XPAX {
    page-speed-test {
        .content {
            background: url(../assets/img/detailed_usage_card_bg_xpax.png) no-repeat center top;
            background-size: 100%;
        }
    }
}