<!--
  Generated template for the SpeedTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Speed Test</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 class="text-center">Data Source</h2>
    <div class="gauge-cont">
        <div class="gaugeContainer">
            <raphael-drawer #raphael [value]="speedTestOj"></raphael-drawer>
        </div>
    </div>
    <div class="speed-values-cont">
        <ion-grid class="speed-values">
            <ion-row>
                <ion-col col-4 class="has-side-border">
                    <label class="lbl-txt">Ping</label>
                    <label class="lbl-val">300</label>
                    <label class="lbl-unit">Ms</label>
                </ion-col>
                <ion-col col-4 class="has-side-border">
                    <label class="lbl-txt">Download</label>
                    <label class="lbl-val">{{speedTestOj.dataUsedVal}}</label>
                    <label class="lbl-unit">Mbps</label>
                </ion-col>
                <ion-col col-4>
                    <label class="lbl-txt">Upload</label>
                    <label class="lbl-val" >{{speedTestOj.dataUsedVal}}</label>
                    <label class="lbl-unit">Mbps</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="button-container">
        <button ion-button class="default-button" (click)="updateRaphaelRandom()">
        Call To Action
        <i class="XPAX-Right-Bubble"></i>
        <i class="XPAX-Left-Bubble"></i>
      </button>
    </div>
</ion-content>
