page-all-loyalty {
    .dimTitle {
        .toolbar-title {
            color: #CDCDCD;
            span {
                color: #FFF;
            }
        }
    }
    .gb-back-button {
        background: transparent;
        height: 35px;
        width: 35px;
        .arrow-backward-icon {
            background: #FFF;
            height: 25px;
            width: 15px;
        }
    }
    ion-title {
        .toolbar-title {
            .arrow-down-icon {
                margin-left: 8px;
                background-color: #FFF;
            }
        }
    }
    super-tabs {
        super-tabs-toolbar {
            ion-toolbar {
                .tab-buttons-container {
                    .indicator {
                        background-color: $primary-Color;
                        height: 3px !important;
                    }
                    .tab-buttons {
                        super-tab-button {
                            span {
                                text-transform: none !important;
                                /* Internet: */
                                font-family: $font-familyBold;
                                font-size: 14px;
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    super-tabs {
        super-tab-button.title-only.selected {
            span {
                color: $primary-Color;
            }
        }
    }
}

.XPAX {
    super-tab-button.title-only.selected {
        span {
            color: $XPAX-primary-Color;
        }
    }
    .tab-buttons-container {
        .indicator {
            background: $XPAX-primary-Color;
        }
    }
    ion-card {
        button {
            color: $XPAX-primary-Color;
            ion-icon {
                background-color: $XPAX-primary-Color;
            }
        }
    }
}