<!--
  Generated template for the DeliveryOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Delivery Options</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="reasonsTitle">Select your delivery method</div>
    
    <div class="deliveryContainer">
        <div class="internet-card-container payment" scrollX="true">
            <div class="internet-card selected">
                <span class="internet-card-title">
                    <i class="delivery-icon"></i>
                </span>
                <span class="internet-card-subtitle">
                    <span>Delivery</span>
                </span>
            </div>
            <div class="internet-card">
                <span class="internet-card-title">
                    <i class="self-icon"></i>
                </span>
                <span class="internet-card-subtitle selfCollectSubtitle">
                   Self Collect
                </span>
            </div>
        </div>
    
    <div class="tipContent">Tip: Back up your SIM card every now and then for a smoother process when transitioning to a new SIM!</div>


        <div class="confirmBtn">


            <button ion-button class="default-button" (click)="goToDeliveryInformation()"  >
          Confirm
          <i class="XPAX-Right-Bubble"></i>
          <i class="XPAX-Left-Bubble"></i>
        </button>

        </div>
    </div>
</ion-content>
