<!--
  Generated template for the ConnectTacPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class="otpHeader">
      <span class="arrow-backward-icon" (click)="goBack()" ></span>

</ion-header>

<ion-content padding class="page-connectTac">

  <h3 class="headerDiv">Enter One Time PIN (OTP)</h3>
  <ion-label class="msgLbl">Your OTP has been sent via SMS</ion-label>

  <div class="dashedInput">
    <div class="dashedInputCont">
      <ion-input [(ngModel)]="otpInput1" maxlength="1" type="tel" class="inputDigit" [class.has-value]="otpInput1HasValue"
               (ionChange)="enableHome1($event)" #focus1></ion-input>
      <ion-input [(ngModel)]="otpInput2" maxlength="1" type="tel" class="inputDigit" [class.has-value]="otpInput2HasValue"
               (ionChange)="enableHome2($event,focus1)" #focus2></ion-input>
      <ion-input [(ngModel)]="otpInput3" maxlength="1" type="tel" class="inputDigit" [class.has-value]="otpInput3HasValue"
               (ionChange)="enableHome3($event,focus2)"></ion-input>
      <ion-input [(ngModel)]="otpInput4" maxlength="1" type="tel" class="inputDigit" [class.has-value]="otpInput4HasValue"
               (ionChange)="enableHome4($event)"></ion-input>
      <div class="resendTacDiv">Your OTP will expire in X mins</div>
    </div>
    
  </div>



  <div class="tcDivContainer">
      <ion-buttons  >

            <span>Resend OTP</span>
            <div class="arrow-forward-icon"></div>

      </ion-buttons>

      <div class="otpResent">Limited to 5 resend attempts,after which please wait 10 mins before trying again </div>

  </div>


  <div class="loginBtnContainer">
    <button class="default-button before-login" ion-button (click)="gotoNetworkLogin()" [disabled]="!isenabled">Login</button>
  </div>
</ion-content>

